<div>
    <div role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary panel-no-box">
            <fmda-transaction-heading collapse-target="#collapse-summary-{{transaction.TransactionId}}" heading-caption="{{headingText}}" badge-text="{{badge}}" />
            <div id="collapse-summary-{{transaction.TransactionId}}" class="panel-collapse collapse in panel-summary" role="tabpanel">
                <div class="panel-body panel-body-sub">
                    <div class="row" ng-if="transaction.TransactionType == transactionType.Pool || transaction.TransactionType == transactionType.Mega">
                        <div class="col-xs-24 col-sm-8 col-md-8 col-lg-6">
                            <p>
                                <select class="form-control" ng-model="transaction.Eligible" fmda-convert-to="int" ng-change="updateEligibility()" ng-disabled="!accessObj.hasEditAccess" ng-if="transaction.Status">
                                    <option value="0">Ineligible for Re-Securitization</option>
                                    <option value="1">Eligible for Re-Securitization</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div ng-switch on="transaction.TransactionType">
                        <div ng-switch-when="1"><fmda-pool-summary transaction="transaction" /></div>
                        <div ng-switch-when="2"><fmda-deal-summary ng-if="!poolCertified" transaction="transaction" /></div>
                        <div ng-switch-when="3"><fmda-remic-summary transaction="transaction" /></div>
                        <div ng-switch-when="4"><fmda-mega-summary transaction="transaction" /></div>
                    </div>
                    <div id="disclosure-operations-pool-additional-disclosure-required" class="alert" ng-class="{'alert-danger': transaction.AdditionalDisclosureRequired, 'alert-info': !transaction.AdditionalDisclosureRequired}" ng-if="(transaction.TransactionType == transactionType.Pool || transaction.TransactionType == transactionType.Mega) && transaction.showAdditional">
                        <div class="row">
                            <div class="col-xs-24 col-sm-6 col-md-6 col-lg-4">
                                <p><strong>Additional Disclosure {{transaction.AdditionalDisclosures.length ? '('+transaction.AdditionalDisclosures.length+')' : ''}}</strong></p>
                                <div class="btn-group" ng-if="(!isAdditionalDisclosureDisabled() && accessObj.hasEditAccess)">
                                    <label class="pool-ad-flag btn btn-sm btn-default" ng-class="{'active': transaction.AdditionalDisclosureRequired, 'disabled': isAdditionalDisclosureDisabled()}">
                                        <input type="radio" ng-model="transaction.AdditionalDisclosureRequired" value="1" ng-click="updateAdditionalDisclosure()" fmda-convert-to="int"> <span class="text-danger">Required</span>
                                    </label>
                                    <label class="pool-ad-flag btn btn-sm btn-default" ng-class="{'active': !transaction.AdditionalDisclosureRequired, 'disabled': isAdditionalDisclosureDisabled()}">
                                        <input type="radio" ng-model="transaction.AdditionalDisclosureRequired" value="0" ng-click="updateAdditionalDisclosure()" fmda-convert-to="int"> <span class="text-success">Not Required</span>
                                    </label>
                                </div>
                                <p><strong ng-if="isAdditionalDisclosureDisabled() || !accessObj.hasEditAccess">{{transaction.AdditionalDisclosureRequired? 'Required':'Not Required'}}</strong></p>
                                <br class="visible-xs" />
                                <br class="visible-xs" />
                            </div>
                            <div class="col-xs-24 col-sm-18 col-md-18 col-lg-20">
                                <div ng-repeat="ad in transaction.AdditionalDisclosures">
                                    <div ng-bind-html="ad.Message"></div>
                                    <hr ng-if="!$last && ad.Message">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group no-margin" role="tablist" aria-multiselectable="true">
                        <div id="disclosure-operations-pool-waiver-button" ng-if="transaction.Waiver && (!transaction.Waiver.Id && transaction.ExecutionType == 'MBS')">
                            <p ng-if="accessObj.hasEditAccess"><button class="btn btn-success" data-toggle="modal" ng-click="saveWaiver()">
                                <span class="glyphicon glyphicon-plus"></span> Add Waiver</button></p>
                        </div>
                        <fmda-waiver ng-if="transaction.Waiver.Id"></fmda-waiver>
                        <fmda-internal-comments ng-if="transaction.TransactionType != transactionType.Deal && transaction.Comments"></fmda-internal-comments>
                        <fmda-banners ng-if="transaction.TransactionType != transactionType.Deal && transaction.Banners"></fmda-banners>
                        <fmda-correction-log ng-if="transaction.TransactionType != transactionType.Deal && transaction.Corrections"></fmda-correction-log>
                        <fmda-documents ng-if="transaction.TransactionType == transactionType.Pool && transaction.Status"></fmda-documents>
                        <fmda-footnotes queue="queue" access-obj="accessObj" record="transaction" transaction-id="poolId" ng-if="transaction.TransactionType == transactionType.Pool || transaction.TransactionType == transactionType.Deal"></fmda-footnotes>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <fmda-loans queue="queue" access-obj="accessObj" transaction="transaction" ng-if="transaction.TransactionType == transactionType.Pool"></fmda-loans>
</div>