﻿<table class="table table-striped {{classes}}">
    <thead>
        <tr>
            <th ng-repeat="column in headers" ng-class="{'text-right': !$first && !column.left}">
                <dus-sort column-name="{{column.attribute}}" params="sort"
                          array-to-sort="data"
                          sorted="dataObj.sorted"
                          ng-if="column.sortable">{{column.label}}</dus-sort>
                <span ng-if="!column.sortable">{{column.label}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in dataObj.sorted">
            <td class="text-nowrap" ng-repeat="column in headers" ng-class="{'text-right': !$first && !column.left}">
                <span ng-if="column.format === 'currency'">
                    <dus-currency currency-value="row[column.attribute]" decimals="{{column.decimals ? column.decimals: 0}}"/>
                </span>
                <span ng-if="column.format === 'date'">
                    {{row[column.attribute].format('MM/DD/YYYY')}}
                </span>
                <span ng-if="column.format && column.format !== 'currency' && column.format !== 'date'">
                    <dus-amount-unit amount="filterNumber(row[column.attribute], column.decimals)" unit="{{column.format}}" plural="{{column.plural}}"/>
                </span>
                <span ng-if="!column.format">
                    <span ng-if="!column.action">{{filterNumber(row[column.attribute], column.decimals)}}</span>
                    <a ng-if="column.action" ng-click="column.action(row, column.params)">{{filterNumber(row[column.attribute], column.decimals)}}</a>
                </span>
                <dus-prepayment-popover ng-if="row[column.attribute] && column.prepaymentPopover" security-id="row.Id"></dus-prepayment-popover>
                <dus-simple-popover ng-if="column.simplePopover" value="{{column.simplePopover(row[column.attribute])}}"></dus-simple-popover>
                <dus-loan-popover ng-if="column.loanPopover && row['SecurityStatusType'] == 'Active'" security-id="row.Id"></dus-loan-popover>
                <dus-history-popover ng-if="column.displayHistory && (row[column.attribute] || row[column.attribute] == 0)" label="column.displayHistory" transaction-id="row.Id" field="column.displayHistory"></dus-history-popover>
                <span ng-if="!row[column.attribute] && row[column.attribute] !== 0">&nbsp;</span>
            </td>
        </tr>
    </tbody>
</table>

