<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Disclosure Site: <span class="text-primary">Carousel</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">

    </div>
</div>
<div>
    <div class="row" role="tabpanel" ng-if="carousel.loaded">
        <div class="col-xs-16 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: carousel.activeTab.id == tab.id}" 
                    ng-repeat="tab in carousel.tabs">
                    <a id="{{tab.caption}}" ui-sref="carousel({tabid: tab.id})" 
                       ui-sref-opts="({notify: false})" ng-click="carousel.setActiveTab(tab)" 
                       aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}
                        <span class="hidden-xs">({{tab.data.all.length}})</span>
                    </a>
                </li>
            </ul>
            <a href="javascript:void(0);" ng-click="carousel.refresh()" class="btn btn-link">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <p><a href="javascript:void(0);" ng-if="carousel.accessObj.hasCreateAccess" 
                      class="btn btn-sm btn-success" ng-click="carousel.addCarousel()">
                    <span class="glyphicon glyphicon-plus"></span> New Entry</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row" ng-show="carousel.activeTab.data.all.length == 0">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <div class="well">
                There are currently no carousel records
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="carousel-tab-active">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive" ng-if="carousel.activeTab.data.all.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="w10" ng-if="carousel.accessObj.hasEditAccess"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Order</a></th>
                                    <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Name</a></th>
                                    <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Description</a></th>
                                    <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Created</a></th>
                                    <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Status</a></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody id="contents" list="carousel.activeTab.data.all" callback="carousel.reorderCarousels" fmda-draggable="{{carousel.accessObj.hasEditAccess}}">
                                <tr ng-repeat="carouselObj in carousel.activeTab.data.all">
                                    <td ng-if="carousel.accessObj.hasEditAccess"><a href="javascript:void(0);"><span class="glyphicon glyphicon-move"></span></a></td>
                                    <td>{{carouselObj.Name}}</td>
                                    <td>
                                        <span text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text="{{carouselObj.Description}}" dd-text-no-collapse="{{true}}"></span>
                                    </td>
                                    <td>{{carouselObj.Created | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{carouselObj.Status ? 'Active' : 'Inactive'}}</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="carousel.editCarousel(carouselObj)"
                                           ng-if="carousel.accessObj.hasEditAccess">
                                            <span class="glyphicon glyphicon-pencil"></span> Edit
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                            
                        </div>
                        <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>