﻿<div class="property-detail">
    <div class="offset offset-property" id="property-{{property.Id}}"></div>
    <div class="pull-left property-header">
        <div class="label-value">
            <span class="property-name">{{property.PropertyName}}</span>
        </div>
        <div class="label-value">
            <span>{{property.PropertyStreetAddress}}</span>
        </div>
        <div class="label-value">
            <span>{{property.PropertyCity}}, {{property.PropertyState}} {{property.PropertyPostalCode}}</span>
        </div>
        <div class="label-value">
            <span>{{property.PropertyMSA}} <small class="text-muted">MSA</small></span>
        </div>
    </div>

    <div class="pull-right">
        <dus-detail-button record-type="Property" record-id="property.Id" record-name="property.PropertyName" />
    </div>
    <div class="clearfix"></div>
    <div class="section">
        <div class="summary-container small-bottom-margin">
            <div class="label-value">
                <div>Property Value</div>
                <dus-currency currency-value="property.PropertyValue"/>
            </div>
            <div class="label-value" ng-repeat="(key, value) in propertySummary">
                <div>{{value}}</div>
                <span>{{property[key]}}&nbsp;</span> 
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="col-xs-36 col-sm-16 col-md-16 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Affordable Breakdown <small class="text-muted">% of Units Set Aside for Tenants with Household Income At or Below Area Median Income</small></h5>
                        <div class="table-responsive">

                            <table class="table table-condensed table-numbers table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th>Area Median Income</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>&le; 50%</td>
                                        <td class="text-right"><dus-amount-unit amount="property.AreaMedianIncome50 | number:2" unit="%" /></td>
                                    </tr>
                                    <tr>
                                        <td>&le; 60%</td>
                                        <td class="text-right"><dus-amount-unit amount="property.AreaMedianIncome60 | number:2" unit="%" /></td>
                                    </tr>
                                    <tr>
                                        <td>&le; 80%</td>
                                        <td class="text-right"><dus-amount-unit amount="property.AreaMedianIncome80 | number:2" unit="%" /></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="spacer"></div>

                        <div class="label-values-vertical">
                            <div class="label-value">
                                <div>Units w/Income or Rent Restrictions</div>
                                <span><dus-amount-unit amount="property.IncomeOrRentRestrictionUnits" unit="%" /></span>
                            </div>
                            <div class="label-value">
                                <div>Age Restricted</div>
                                <span>{{property.AgeRestricted}}&nbsp;</span>
                            </div>
                            <div class="label-value">
                                <div>Green Building Certification</div>
                                <span>{{property.GreenBuildingCertification}}&nbsp;</span>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <h5>Phases</h5>
                        <div class="table-responsive">
                            <dus-table data="property.Phases" headers="phasesHeaders" classes="table-condensed table-numbers no-margin"/>
                        </div>
                        <div class="spacer"></div>
                        <div class="label-values-vertical">
                            <div class="label-value">
                                <div>Property Condition Rating <small class="text-muted" ng-if="property.PropertyConditionRatingAsOfDate">(as of {{property.PropertyConditionRatingAsOfDate.format('MM/DD/YYYY')}})</small></div>
                                <span>{{property.PropertyConditionRating}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-36 col-sm-20 col-md-20 col-lg-24">
                <div class="property-map" id="property-map-{{property.Id}}" ng-click="showMapOverlay = false;">
                    <div id="transaction-pool-property-1-map-overlay" class="map-overlay" ng-if="propertyHasMapData && showMapOverlay"><span class="badge">Click to interact with map</span></div>
                    <div class="no-map-container" ng-if="!propertyHasMapData">
                        <div class="jumbotron no-map-message">
                            <p><span class="glyphicon glyphicon-map-marker"></span></p>
                            <h3>Map Data<br />Unavailable</h3>
                        </div>
                    </div>
                    <div class="map-wrapper" ng-if="propertyHasMapData">
                        <iframe ng-src="{{googleString}}" width="100%" height="670" style="margin-top:-150px;" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h4>Financials</h4>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="tab in tabs" ng-class="{'active': activeTab.id == tab.id}"><a ng-click="setActiveTab(tab)" role="tab">{{tab.caption}}</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active"><!-- ng-class="{'in active': activeTab.id == 0}"-->
            <div class="panel no-margin">
                <div class="table-responsive">
                    <table class="table table-condensed table-numbers table-striped no-margin">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Underwritten</th>
                                <th ng-if="activeTab.id == 1 || property.TransactionProduct != 'Credit Facility'">{{property.YTDPeriod}} <small>(YTD)</small></th>
                                <th ng-if="activeTab.id == 1 || property.TransactionProduct != 'Credit Facility'">{{property.PrecedingFiscalYear}} <small>(Preceding)</small></th>
                                <th ng-if="activeTab.id == 1 || property.TransactionProduct != 'Credit Facility'">{{property.SecondPrecedingFiscalYear}} <small>(2nd Preceding)</small></th>
                                <th ng-if="activeTab.id == 1 || property.TransactionProduct != 'Credit Facility'">{{property.ThirdPrecedingFiscalYear}} <small>(3rd Preceding)</small></th>
                                <th ng-if="activeTab.id == 0 && property.TransactionProduct == 'Credit Facility'">{{property.TrailingThreeNetCashFlowPeriod}} <small>(Trailing 3 Months)</small></th>
                                <th ng-if="activeTab.id == 0 && property.TransactionProduct == 'Credit Facility'">{{property.TrailingTwelveNetCashFlowPeriod}} <small>(Trailing 12 Months)</small></th>
                            </tr>
                        </thead>
                        <tbody ng-if="activeTab.id == 0">
                            <tr ng-repeat="row in property.FinancialSummary">
                                <td>{{summaryLabels[row.Field].label}}</td>
                                <td ng-repeat="column in creditFacilityFinancialColumns">
                                    <dus-currency ng-if="row.Field != 'PhysicalOccupancy'" currency-value="row[column]" />
                                    <dus-amount-unit ng-if="row.Field == 'PhysicalOccupancy'" amount="row[column] | number:2" unit="%" />
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="table-opstatements" ng-if="activeTab.id == 1">
                            <tr class="separator">
                                <td colspan="6">Income</td>
                            </tr>
                            <tr ng-repeat="row in operatingStatements.Income | orderBy : 'Order'" ng-class="{'separator total': row.Field == 'EffectiveGrossIncome'}">
                                <td>{{operatingLabels[row.Field].label}}</td>
                                <td ng-repeat="column in financialColumns">
                                    <dus-currency currency-value="negatedValue(row[column])" negative="shouldDisplayBrackets(row.Field, row[column])" />
                                </td>
                            </tr>

                            <tr class="separator">
                                <td colspan="6">Operating Expenses</td>
                            </tr>
                            <tr ng-repeat="row in operatingStatements.OperatingExpenses | orderBy : 'Order'" ng-class="{'separator total': row.Field == 'TotalOperatingExpenses'}">
                                <td>{{operatingLabels[row.Field].label}}</td>
                                <td ng-repeat="column in financialColumns">
                                    <dus-currency currency-value="negatedValue(row[column])" negative="row[column] < 0"/>
                                </td>
                            </tr>
                            
                            <tr ng-repeat="row in operatingStatements.Other | orderBy : 'Order'" ng-class="{'separator': row.Field != 'CapitalExpendituresReplacementReserves', 'total': row.Field == 'NetCashFlow'}">
                                <td>{{operatingLabels[row.Field].label}}</td>
                                <td ng-repeat="column in financialColumns">
                                    <dus-currency ng-if="row.Field != 'PhysicalOccupancy' && row.Field != 'OperatingExpenseRatio'" currency-value="negatedValue(row[column])" negative="row[column] < 0"/>
                                    <dus-amount-unit ng-if="row.Field == 'PhysicalOccupancy' || row.Field == 'OperatingExpenseRatio'" amount="row[column] | number:2" unit="%" />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>