<div>
    <div class="panel-body" ng-if="record.Footnotes.length > 0">
        <p ng-if="accessObj.hasEditAccess && AdditionalRequired">
            <button class="btn btn-xs btn-success" ng-click="saveFootnote()">
                <span class="glyphicon glyphicon-plus"></span>
                New {{!record.TransactionType ? 'Loan & Collateral' : record.TransactionType == 1 ? 'Pool' : 'Deal'}} Footnote
            </button>
        </p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th fmda-sort="UpdatedOn" params="sort">Date</th>
                        <th fmda-sort="UpdatedBy" params="sort">By</th>
                        <th fmda-sort="Field" params="sort">Field</th>
                        <th fmda-sort="Content" params="sort">Comment</th>
                        <th class="w20"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="f in record.Footnotes | orderBy: sort.on:sort.desc">
                        <td>{{f.UpdatedOn.format('MM/DD/YYYY')}}</td>
                        <td>{{f.UpdatedBy}}</td>
                        <td>{{f.Field}}</td>
                        <td><p ng-bind-html="f.Content" class="rt-banner-content"></p></td>
                        <td>
                            <div class="pull-right">
                                <button ng-if="accessObj.hasEditAccess" class="btn btn-xs btn-primary" ng-hide="!AdditionalRequired" ng-click="saveFootnote(f)">
                                    <span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> Edit</span>
                                </button>
                                <fmda-audit-trail record-id="f.Id" record-name="'Footnote for ' + (record.TransactionId || record.LoanId)" mode="TransactionFootnotes"></fmda-audit-trail>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-body" ng-if="record.Footnotes.length == 0">
        <p>
            No footnotes have been created. <a ng-if="accessObj.hasEditAccess && AdditionalRequired" ng-click="saveFootnote()">Add a footnote.</a>
        </p>
    </div>
</div>