﻿<div>
    <h4>Security Details</h4>
    <div class="row">
        <div class="col-xs-36 col-sm-36 col-md-36 col-lg-36">
            <dus-panel panel-title="currentBalanceDate" panel-data-list="currentBalanceDateFields" transaction-id="transactionId"></dus-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-36 col-sm-36 col-md-18 col-lg-18">
            <dus-panel panel-title="issuance" panel-data-list="issuanceFields"></dus-panel>
        </div>
        <div class="col-xs-36 col-sm-36 col-md-18 col-lg-18">
            <dus-panel panel-title="DSCR" panel-data-list="dscrFields"></dus-panel>
        </div>
    </div>
    <div class="row" ng-if="armFields">
        <div class="col-xs-36 col-sm-36 col-md-36 col-lg-36">
            <dus-panel panel-title="ARM" panel-data-list="armFields" transaction-id="transactionId"></dus-panel>
        </div>
    </div>
    <div class="row" ng-if="prepaymentFields">
        <div class="col-xs-36 col-sm-36 col-md-36 col-lg-36">
            <dus-panel panel-title="prepaymentPremium" panel-data-list="prepaymentFields"></dus-panel>
        </div>
    </div>
</div>