﻿<form ng-submit="msgModal.confirm()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="msgModal.cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="runOptionsTitle">{{msgModal.config.title}}</h4>
	</div>
	<div class="modal-body">
		<p>{{msgModal.config.message}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="msgModal.cancel()" ng-if="msgModal.config.cancelButton">{{msgModal.config.cancelButton}}</button>
        <button type="submit" class="btn btn-primary" ng-if="msgModal.config.confirmButton" autofocus>{{msgModal.config.confirmButton}}</button>
	</div>
</form>