<div class="modal-content">
    <div class="modal-header">
        <a href="javascript:void(0);" class="close" ng-click="modal.cancel()">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
        <h4 class="modal-title" id="selectTransactionViewTitle">Select View</h4>
    </div>
    <div class="loader-modal"></div>
    <div class="modal-body">
        <p>You have access to multiple queues based on your roles.</p>
        <p>View as:</p>
        <p ng-repeat="queue in modal.userQueues">
            <button ng-click="modal.selectQueue(queue)" class="btn btn-primary btn-block text-center">
                {{queue.label}}
            </button>
        </p>
        
    </div>
</div>