﻿<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Holds &amp; Banners: <span class="text-primary">Issuance Publication</span></h1>
    </div>
    <div class="col-xs-24 col-sm-8 col-md-4 col-lg-4 text-right">
        <button ng-if="issuepub.accessObj.hasCreateAccess" class="btn btn-sm btn-success rt-new-ins-hold" 
                ng-click="issuepub.newIssuanceHold()">
        <span class="glyphicon glyphicon-plus"></span> New Issuance Hold</button>
    </div>
</div>
<div role="tabpanel" ng-if="issuepub.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: issuepub.activeTab.id === tab.id}" ng-repeat="tab in issuepub.tabs">
                    <a name="{{tab.caption}}" ui-sref="issuanceholds({tabid: tab.id})" ui-sref-opts="({notify: false})" ng-click="issuepub.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>                
            </ul>
            <a href="javascript:void(0);" class="btn btn-link" ng-click="issuepub.load()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="issuepub.activeTab.data.all" output="issuepub.activeTab.data.filtered" on="Name,StartDate,EndDate" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" ng-class="{active: issuepub.activeTab.id === tab.id}" ng-repeat="tab in issuepub.tabs">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="well" ng-if="tab.data.filtered.length === 0" >
                        There are currently no {{tab.caption}} Issuance Publication Holds
                    </div>
                    <div class="table-responsive" ng-show="tab.data.filtered.length > 0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th fmda-sort="Name" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Name</th>
                                <th fmda-sort="StartDate" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Start Date</th>
                                <th fmda-sort="EndDate" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">End Date</th>
                                <th fmda-sort="Criteria" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Criteria</th>
                                <th fmda-sort="AffectedTransactionCount" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Transactions</th>
                                <th class="w20"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in tab.data.paged">
                                <td class="rt-hold-name">{{item.Name}}</td>
                                <td>{{item.StartDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.EndDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.Criteria}}</td>
                                <td>
                                    <fmda-affected-transactions record-id="item.Id" record-name="item.Name" mode="issuanceholds" count="item.AffectedTransactionCount"></fmda-affected-transactions>
                                </td>
                                <td>
                                    <div class="btn-toolbar pull-right">
                                        <fmda-audit-trail ng-if="issuepub.accessObj.hasViewAccess" record-id="item.Id" record-name="item.Name" mode="HoldCriteria"></fmda-audit-trail>
                                        <button ng-if="issuepub.accessObj.hasEditAccess && item.IsActive" class="btn btn-xs btn-primary rt-edit-btn" ng-click="issuepub.editIssuanceHold(item)"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs hidden-sm"> Edit</span></button>
                                        <button ng-if="issuepub.accessObj.hasCreateAccess" class="btn btn-xs btn-success rt-copy-btn" ng-click="issuepub.copyIssuanceHold(item)"><span class="glyphicon glyphicon-duplicate"></span><span class="hidden-xs hidden-sm"> Copy</span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="tab.data.sorted" paged-data="tab.data.paged" page-size="20"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>