<div class="modal-header">
    <a href="javascript:void(0);" class="close" ng-click="modal.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title">{{modal.mode}} User Role</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <p class="form-label">Role Name</p>
                <p><input class="form-control rt-rolename-input" type="text" maxlength="200" placeholder="Role Name" ng-model="modal.role.Name" ng-disabled="modal.role.Id > 0" fmda-validate="Name"/></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <p class="form-label">Status</p>
                <p>
                    <select class="form-control" ng-model="modal.role.IsActive" fmda-convert-to="bool">
                        <option class="rt-status-option" value="true">Active</option>
                        <option class="rt-status-option" value="false">Inactive</option>
                    </select>
                </p>
            </div>
        </div>
    </div>
    
    <fmda-modal-error></fmda-modal-error>
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 text-left">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Page/Function</a></th>
                        <th class="text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>N/A</a></th>
                        <th class="text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>View</a></th>
                        <th class="text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Edit</a></th>
                        <th class="text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Create</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in modal.functions">
                        <td>{{item.Name}}</td>
                        <td class="text-center w15">
                            <input type="radio" name="{{item.Code}}" value="0" ng-model="item.AllowedAction"/>
                        </td>
                        <td class="text-center w15">
                            <input type="radio" name="{{item.Code}}" value="1" ng-model="item.AllowedAction"/>
                        </td>
                        <td class="text-center w15">
                            <input type="radio" name="{{item.Code}}" value="2" ng-model="item.AllowedAction" ng-if="item.Code < 20"/>
                        </td>
                        <td class="text-center w15">
                            <input type="radio" name="{{item.Code}}" value="3" ng-model="item.AllowedAction" ng-if="item.AllowCreate"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12 text-left"></div>
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
            <button class="btn btn-default rt-cancel-btn" ng-click="modal.close()">Cancel</button>
            <button class="btn btn-primary rt-save-btn" ng-click="modal.save()" fmda-button><!--{{modal.mode == "Edit"? 'Save' : 'Add User Role'}}-->Save</button>
        </div>
    </div>
</div>