﻿<div class="section section-documents">
    <div class="anchor" id="transaction-documents"></div>
    <div class="section-header">
        <div class="pull-left">
            Documents
        </div>
        <div class="pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <p class="indent">Additional Disclosure <span class="badge">{{additionalDisclosure}}</span></p>
    <hr />
    <div class="row">
        <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18" ng-if="issuanceDocumentsByVersion || issuanceDocumentTriage(issuanceDocuments)">
            <h3>Issuance</h3>
            <p><a ng-click="selectAllIssuance()">Select All</a></p>
            <div ng-repeat="(version,documents) in issuanceDocumentsByVersion">
                <div class="document-download-header">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="versionChecks[version]" ng-click="selectAllOfVersion(version)"> {{version}}
                        </label>
                    </div>
                </div>
                <div class="checkbox" ng-if="documents.length > 0" ng-repeat="document in documents | orderBy: 'DisplayOrder': false">
                    <a href="service/transaction/document/{{document.Id}}/issuance" class="btn btn-xs pull-right">{{document.Format}} <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                    <label>
                        <input type="checkbox" ng-model="document.Selected" ng-change="setVersionCheck(version)"> {{document.TypeName}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18" ng-if="ongoingMonth || initOngoingMonth(ongoingDocumentDates[0].PublicationDate)">
            <div class="row">
                <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18">
                    <h3>Ongoing</h3>
                </div>
                <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18">
                    <select class="form-control" ng-model="ongoingMonth" ng-change="updateOngoingMonth(ongoingMonth)" ng-options="date.PublicationDate as date.PublicationDate.format('MMMM YYYY') for date in ongoingDocumentDates"></select>
                </div>
            </div>
            <p><a ng-click="selectAllOngoing()">Select All</a></p>
            <div class="checkbox" ng-repeat="document in ongoingDocuments | orderBy: 'TypeName'">
                <a href="service/transaction/{{transactionId}}/document/{{document.Id}}/ongoing/{{ongoingMonth.format('YYYY-MM-DD')}}" class="btn btn-xs pull-right">{{document.DocumentFormat}} <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                <label>
                    <input type="checkbox" ng-model="document.Selected"> {{document.TypeName}}
                </label>
            </div>
        </div>
    </div>
    <br />
    <a id="selected-documents-download" ng-if="issuanceDocumentsByVersion || ongoingMonth" ng-href="{{documentZipRequest}}" ng-click="getSelectedDocumentZip()" class="btn btn-lg btn-primary btn-block" download><span class="glyphicon glyphicon-circle-arrow-down"></span> Download Selected Documents (.zip)</a>
</div>