<div class="panel panel-default">
    <fmda-transaction-heading collapse-target="#disclosure-operations-pool-{{transaction.TransactionId}}-collapse-banners" heading-caption="Banners" badge-text="{{transaction.Banners.length}}" />
    <div id="disclosure-operations-pool-{{transaction.TransactionId}}-collapse-banners" ng-if="transaction.Banners" class="panel-collapse panel-closed collapse" role="tabpanel">
        <div class="panel-body" ng-if="transaction.Banners.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w20" fmda-sort="Name" params="bannerSort">Name</th>
                            <th class="w30" fmda-sort="Content" params="bannerSort">Description</th>
                            <th class="w20" fmda-sort="ModifiedOn" params="bannerSort">Date</th>
                            <th class="w20" fmda-sort="Status" params="bannerSort">Status</th>
                            <th class="w10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="b in transaction.Banners | orderBy: bannerSort.on:bannerSort.desc">
                            <td>{{b.Name}}</td>
                            <td><p ng-bind-html="b.Content"></p></td>
                            <td>{{b.ModifiedOn.format('MM/DD/YYYY')}}</td>
                            <td>
                                <select ng-disabled="!accessObj.hasEditAccess" ng-model="b.Status" class="form-control" fmda-convert-to="bool" ng-change="setBannerStatus(b)">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </td>
                            <td class="text-right">
                                <fmda-audit-trail record-id="b.Id" record-name="'Banner \''+ b.Name +'\' for ' + transaction.TransactionId"mode="TransactionBanners"></fmda-audit-trail>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-body" ng-if="transaction.Banners.length == 0">
            <p>
                No banners apply to this record.
            </p>
        </div>
    </div>
</div>