body,
.transaction-header	{
	font-family: 'Lato', sans-serif;
	background-color:#e5e5e5;
}

.container-main	{
	position:relative;
	top:80px;
	padding-bottom:80px;
}

.transaction-header.transaction-header.scroll-to-fixed-fixed,
.advanced-search>.panel	{
	-webkit-box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.175) !important;
	box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.175);
}

.offset	{
	display:block;
	position:relative;
	height:0px;
}

.offset.offset-security	{
	top:30px;
}

.offset.offset-property	{
    top:-224px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .offset.offset-property {
      top:-200px;
    }
}

@-moz-document url-prefix() {
    .offset.offset-property {
        top:-224px;

    }
}

hr	{
	margin-top:10px;
}

.summary-container hr	{
	margin-bottom:10px;
}

.hide	{
	display:none;
}

.show	{
	display:block;
}

.no-margin	{
	margin:0px !important;
}

.no-padding	{
	padding:0px !important;
}

.no-border	{
	border:none !important;
}

.anchor	{
	display: block;
	height: 175px; /*same height as header*/
	margin-top: -175px; /*same height as header*/
	visibility: hidden;
}

.hidden-visibility {
    visibility: hidden;
}

.more-info:hover	{
	cursor:help;
}

.padded-text	{
	padding:7px 12px;
}

.nav-tabs .padded-text	{
	padding:11px 12px;
}

.bg-gray	{
	background-color:#f2f2f2;
}

.category-heading	{
	background-color:#f2f2f2;
	padding:4px 15px;
	margin:20px 0px 5px 0px;
	border-bottom:1px solid #ccc;
}

.category-heading.subcategory	{
	background-color:#e2e2e2;
}

.category-heading img	{
	margin-left:-10px;
}

.small-bottom-margin	{
	margin-bottom:2px;
}

.search-results-download-link	{
	margin-top:20px;
}

.pagination	{
	margin-top:0px;
}

.property-map	{
	width:100%;
}

.map-overlay	{
	background-color:transparent;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	z-index:2;
}

.no-map-container	{
	display:table;
	width:100%;
}

.no-map-message	{
	width:auto;
	height:620px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.panel-body img	{
	width:auto;
	height:210px;
}


.sub-page	{
	padding-top:20px;
}


.indent	{
	margin-left:15px;
}

.table-opstatements	tr td:first-child	{
	position:relative;
	left:15px;
}

.table-opstatements	tr.separator td:first-child	{
	left:0px;
}

.table-opstatements tr:last-child td	{
	border-bottom:none;
}

.collapse .indent,
.collapsing .indent	{
	margin-left:17px;
}

.navbar-brand .logo	{
	/* background-image:url(../images/logo_fanniemae_icon_2x.png); */
	background-image:url(../images/logo_fanniemae_icon.svg);
	background-size:210px 40px;
	background-position:10px 50%;
	width:220px;
	height:80px;
	background-color:transparent;
	background-repeat:no-repeat;
	display:block;
	float:left;
}

.navbar-brand	{
	padding:0px;
	position:relative;
	width:330px;
	height:80px;
}

.navbar-brand span	{
	top: 35px;
    left: 230px;
    position: absolute;
    font-size: 14px;
    white-space:nowrap;
}

.account-user-name	{
	white-space:nowrap;
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}

.advanced-search h4	{
	text-transform:uppercase;
	padding-bottom:10px;
}

h3	{
	text-transform:uppercase;
	font-size:18px;
	color:#555;
	margin-top:6px;
	margin-bottom:20px;
}

.sub-page h3	{
	margin-bottom:10px;
}

h4	{
	margin-top:0px;
	color:#555;
}

.spacer	{
	height:20px;
}

.spacer-lg	{
	height:40px;
}

.spacer-sm	{
	height:10px;
}

.spacer-xs	{
	height:3px;
}

.no-padding	{
	padding:0px;
}

/*ICONS*/
.glyphicon	{
	top:2px;
}

.flip-h	{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.social-icon	{
	width:30px;
	height:30px;
	background-size:30px 30px;
	background-position:50% 50%;
	text-indent:-9999px;
	display:inline-block;
	margin:0px 0px 0px 10px;
	color:#0b94c2;
	background-repeat:no-repeat;
	background-color:transparent;
}

.social-icon.facebook	{
	background-image:url(../images/icon_facebook.svg);
}

.social-icon.twitter	{
	background-image:url(../images/icon_twitter.svg);
}

.social-icon.linkedin	{
	background-image:url(../images/icon_linkedin.svg);
}

.social-icon.youtube	{
	background-image:url(../images/icon_youtube.svg);
}

.navbar-fixed-top	{
	border-width: 0;
   -webkit-font-smoothing: antialiased;
}

.navbar-fixed-top .navbar-collapse	{
	max-height:none;
}

.navbar-nav>li>a	{
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	padding:30px 15px 31px 15px !important;
}

.navbar .padding-container	{
	padding:20px 20px 5px 20px;
}

.navbar .notifications-list	{
	position:absolute;
	top:80px;
	right:0px;
	background-color:#fff;
	-webkit-box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.175) !important;
	box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.175);
	border:1px solid rgba(0, 0, 0, 0.15);
	border-top:none;
}

.notifications-list hr	{
	margin-bottom:5px;
}

.navbar .notifications-list .padding-container	{
	padding-bottom:0px;
}

.notifications-list li	{
	border-bottom:1px solid #f2f2f2;
	padding:10px 15px;
}

.panel-body.notifications-list	{
	padding:2px 0px 0px 0px;
}

.navbar-nav .dropdown-menu	{
	border-top:none;
}

.navbar-inverse .navbar-form	{
	margin:0px 10px;
	padding:0px;
	border-top:23px solid transparent;
	border-bottom:24px solid transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus	{
	background-color:transparent;
}

.navbar-nav .open .dropdown-menu	{
	background-color:#ffffff;
}

.navbar-nav>.open>.dropdown-menu.dropdown-menu-left	{
	left:-1px;
}	

.navbar-nav>.open>.dropdown-menu.dropdown-menu-right,
.navbar-nav>.open>.dropdown-menu.notifications-list	{
	right:-1px;
}	

.search-form-wrapper	{
	background-color:#fff;
	padding: 0px 4px 0px 10px;
	position:relative;
}

.search-form-wrapper .toggle-navbar-advanced-search,
.search-form-wrapper .toggle-navbar-advanced-search:hover	{
	position:relative;
	top:1px;
	padding:1px 10px;
	border-left:1px solid #0b94c2;
	text-decoration:none;
}

.toggle-advanced-search	{
	position:relative;
	top:14px;
	padding-left:20px;
	text-decoration:none;
}

.toggle-navbar-advanced-search .glyphicon	{
	left:3px;
}

.navbar-form.active	{
	border-bottom-color:#fff !important;
}

.search-form-wrapper input.search-field,
.search-form-wrapper input.search-field:focus	{
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	width:80%;
}

.navbar-form .search-form-wrapper input.search-field	{
	width:180px !important;
	padding:6px 2px 6px 10px;
}

.dropdown.open a.dropdown-toggle	{
	border-left:1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;
}

.dropdown-menu	{
	-webkit-box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.175) !important;
	box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.175);
}

.dropdown-menu-login	{
	padding:0px;
	width:300px;
}

.dropdown-menu-user,
.dropdown-menu-resources	{
	padding:0px;
	width:200px;
}

.dropdown-menu-user .list-group,
.dropdown-menu-resources .list-group	{
	margin-bottom:0px;
}

.dropdown-menu-user .list-group-item,
.dropdown-menu-resources .list-group-item	{
	border-top:none;
}

.navbar .notifications-list	{
	padding:0px;
	width:350px;
}

#navbar-link-register	{
	background-color:#91b916;
}

#nav-advanced-search	{
	position:fixed;
	width:100%;
	z-index:4;
	top:80px;
}

#nav-advanced-search .container	{
	padding:0px;
}

#nav-advanced-search .panel	{
	border-bottom:1px solid #ddd;
}

.advanced-search hr	{
	background-color:#ddd;
	height:2px;
	margin:10px 0;
}

.advanced-search-criteria	{
	margin:0 0 17px 0;
}

/* 
.advanced-search-criteria div	{
	line-height:2em;
}
 */

.advanced-search	{
	color:#aaa;
}

.container.advanced-search > .panel {
    overflow-y: auto; 
    max-height: 70vh;
}

.well.well-sm.advanced-search-criteria > textarea {
    resize: vertical;
}

.advanced-search-criteria .btn-block	{
	margin-top:1px;
	border:none;
	width:100%;
}

.advanced-search-criteria .btn-group	{
	width:100%;
}

.advanced-search-criteria .btn-group .btn+.btn,
.advanced-search-criteria .btn-group .btn+.btn-group,
.advanced-search-criteria .btn-group .btn-group+.btn,
.advanced-search-criteria .btn-group .btn-group+.btn-group	{
	margin-left:0px;
}

.advanced-search-criteria input,
.advanced-search-criteria select,
.advanced-search-criteria textarea	{
	border-radius:3px;
	-webkit-border-radius:3px;
}

.advanced-search-criteria .input-group.addon-left input	{
	border-top-left-radius:none;
	-webkit-top-left-border-radius:none;
	border-bottom-left-radius:none;
	-webkit-bottom-left-border-radius:none;
}
	
.advanced-search-criteria .input-group.addon-right input	{
	border-top-right-radius:none;
	-webkit-top-right-border-radius:none;
	border-bottom-right-radius:none;
	-webkit-bottom-right-border-radius:none;
}

.advanced-search-criteria .addon-left .input-group-addon	{
	border-top-left-radius:3px;
	-webkit-top-left-border-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-bottom-left-border-radius:3px;
}
	
.advanced-search-criteria .addon-right .input-group-addon	{
	border-top-right-radius:3px;
	-webkit-top-right-border-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-bottom-right-border-radius:3px;
}
	
.advanced-search-criteria .btn-group .btn-block	{
	padding:8px 12px;
}

.advanced-search-criteria .btn-group .btn-block:first-child	{
	border-top-left-radius:3px;
	border-top-right-radius:3px !important;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
}

.advanced-search-criteria .btn-group .btn-block:last-child	{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}

.advanced-search-footer hr	{
	height:1px;
}

.notifications-list .btn-group label:first-child	{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px !important;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
}

.notifications-list .btn-group label:last-child	{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	margin-left:1px;
}

.advanced-search-criteria .btn-default,
.notifications-list label,
.notifications-list label:hover	{
	background-color:#ccc;
	color:#999;
	border:none;
}

.advanced-search-criteria .btn-default.active,
.notifications-list label.active,
.notifications-list label.active:hover	{
	color: #fff;
	background-color: #0b94c2;
	box-shadow:none;
	-webkit-box-shadow:none;
}

#nav-advanced-search.collapsing {
    -webkit-transition: none;
    transition: none;
}

#quick-search-results,
#home-quick-search-results,
#home-authenticated-quick-search-results	{
	width:341px;
	display:none;
}

.quick-search-results	{
    width:341px;
	position:absolute;
    top: inherit !important;
    left: inherit !important;
	z-index:2;
}

#home-quick-search-results,
#home-authenticated-quick-search-results	{
	position:absolute;
	top:42px;
	left:0px;
	z-index:3;
}


.summary-header	{
	background-color:#fff;
}

.summary-header select	{
	margin:22px 10px 0px 10px;
	width:250px;
}


.summary-header .transaction-type	{
	background-color:#1A2741;
	color:#fff;
	font-size:36px;
	max-height:80px;
	padding:12px 15px;
	text-align:center;
	line-height:36px;
}

.summary-header .transaction-type div	{
	font-size:13px;
	color:#ccc;
}

.summary-header .pull-right	{
	padding:23px 0px 20px 0px;/*30 for links*/
}

.summary-header .pull-right .badge	{
	margin-left:20px;
}

.summary-left	{
	padding-right:3px;
}

.summary-right	{
	padding-left:0px;
}

.summary-container	{
	padding:5px 20px 15px 20px;
	background:#fff;
}

.summary-left .summary-container	{
	background-color:#fff;
}

.summary-right .summary-container	{
	background-color:#f2f2f2;
}

.section	{
	margin:0px 0 40px 0;
}

.sub-page .section,
.transaction-header	{
	margin:0px 0 25px 0;
}

/*SECTIONS*/
.property-detail,
.section-groups,
.section-pool,
.multiple-container	{
	border-left:20px solid #ccc;
	padding-left:15px;
	padding-bottom:1px;
	margin:0 0 20px 0;
}

.multiple-container .section,
.multiple-container .property-detail:last-child	{
	margin-bottom:0px;
}

.property-header	{
	padding:10px 10px 10px 0px;
}

.property-name	{
	text-transform:uppercase;
}

.section.summary-container,
.panel-tight	{
	margin:0 0 10px 0;
}

.panel-heading-tight	{
	padding:3px;
}

.transaction-header.cf-header	{
	background-color:#1A2741;
	color:#fff;
	padding:0px;
	margin:0px;
	font-size:16px;
}

.transaction-header.cf-header .text-muted	{
	color:#aaa;
}

.section-header	{
	margin:0 0 10px 0;
	width:100%;
	background-color:#555;
	color:#fff;
}

.section-header.under-tab 	{
	background-color:#fff;
	color:#555;
	margin-bottom:0px;
}

.section-header .pull-left,
.transaction-header.cf-header	{
	padding:10px 16px;
	font-size:18px;
}

.section-header .pull-right .btn,
.transaction-header.cf-header .pull-right .btn	{
	padding:12px 24px;
}

.label-value	{
	line-height:24px;
	margin:0 0 10px 0;
	display:inline-block;
	margin:0 20px 0 0;
}

.label-values-vertical .label-value	{
	margin-bottom:10px;
}

.label-values-horizontal .label-value	{
	margin-top:4px;
	display:block;
}

.label-values-horizontal .label-value div	{
	display:inline-block;
	width:110px;
	line-height:20px;
}

.label-values-horizontal .label-value span	{
	text-align:right;
}

.summary-header .label-value	{
	margin-right:30px;
}

.label-value div	{
	color:#999;
	margin-top:10px;
}

.label-value div.popover	{
	margin-top:0px;
}

.label-value div.popover-inner	{
	margin-top:0px;
}

.label-value div.popover.bottom	{
	margin-top:10px;
}



.panel-body .label-value div	{
	margin-top:0px;
}

.label-value > span	{
	font-size:16px;
}

#home-authenticated.no-saved-portfolios .label-value span,
#home-authenticated.no-saved-portfolios td span	{
	color:#d2d2d2;
	background-color:#d2d2d2;
}

#home-authenticated.no-saved-portfolios #saved-portfolios-section	{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}


ul.label-value li	{
	margin:0 0 10px 0;
    display: table;
}

ul.label-value div	{
	float:left;
	width:240px;
	margin-top:0px;
}

ul.label-value span	{
	font-size:14px;
}



/*FORMS*/
.form-control-free	{
	display:inline-block;
	width:auto;
}

/*HOME PANELS*/
.manage-home	{
	text-align:right;
	padding:20px 20px 0px 10px;
}

.home-panels .panel	{
	border:none;
}

.home-panels .panel-primary	{
	background-color:#0b94c2;
	color:#fff;
}

label.btn.btn-default .badge	{
	background-color:#999;
	color:#ccc;
}

label.btn.btn-default.active .badge	{
	background-color:#fff;
	color:#0b94c2;
}

.home-panels .panel-success	{
	background-color:#91b916;
	color:#fff;
}

.home-panels h5	{
	text-transform:uppercase;
}

.home-panels .panel-body	{
	padding:20px 30px;
	min-height:250px;
	max-height:250px;
}

.home-panels .panel-body:hover	{
	cursor:pointer;
}

.home-panels hr	{
	background-color:#fff;
	height:2px;
}

.home-panels .panel-default hr	{
	background-color:#000;
}

.home-panels .intro	{
	min-height:140px;
	max-height:140px;
	overflow:hidden;
}

.home-panels .list-group	{
	margin:20px 0;
}

.home-panels .list-group-item,
.home-panels .list-group-item:hover	{
	color:#fff;
	background-color:transparent;
	border:none;
	border-bottom:1px solid #fff;
	padding-right:0px;
}

.home-panels .panel-default .list-group-item,
.home-panels .panel-default .list-group-item:hover	{
	color:#000;
	border-bottom-color:#000;
}

.home-panels .btn-block	{
	background-color:#1A2741;
	color:#fff;
	text-align:right;
	padding:20px 30px;
}

.home-panels .btn-block .glyphicon	{
	top:3px;
	padding-left:4px;
}


/*BUTTONS*/
.btn	{
	white-space:nowrap;
}

.btn-invisible:active	{
	box-shadow:none;
	-webkit-box-shadow:none;
}

.btn-link:hover,
.btn-link:focus,
.btn-invisible:hover,
a.discreet	{
	text-decoration:none;
}


/*BADGES*/
.navbar-nav .badge	{
	background-color:#0b94c2;
	color:#fff;
}

.badge.bg-warning	{
	background-color:#f0ad4e;
	color:#fff;
}

/*CALLOUT MESSAGES*/
.callout	{
	padding:10px 15px;
	margin:0 0 20px 0;
	background-color:#f2f2f2;
	border-left:6px solid transparent;
}

.callout.callout-primary	{
	 border-color:#0b94c2;
}

.callout.callout-success	{
	border-color:#91b916;
}

.callout.callout-default	{
	border-color:#999;
}

.callout.callout-danger	{
	border-color:#d9534f;
}

.callout p:last-child	{
	margin-bottom:0px;
}



/*TABLE STYLES*/
table.condensed th,
table.condensed td	{
	font-size:12px;
	background-color:transparent;
}

.table>thead>tr>th,
.table>thead>tr>th a,
.table>thead>tr>th.active	{
	background-color:#555;
	color:#fff;
	border-bottom:none;
}

th a span.glyphicon	{
	display:none;
}

th.active a span.glyphicon	{
	display:inline-block;
	margin-right:2px;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td	{
    padding: 5px 8px;
}

table a:hover	{
	text-decoration:none;
}

.table-numbers th,
.table-numbers td	{
	text-align:right;
}

.table-numbers tr th:first-child,
.table-numbers tr td:first-child	{
	text-align:left;
}

tr.total	{
	font-weight:bold;
}

tr.separator td	{
	border-bottom:3px solid #ccc;
	font-weight:bold;
}

tr.separator.total td	{
	border-bottom-color:#555;
}

.uib-datepicker th	{
	vertical-align:top;
}

.w5	{width:5%;}
.w10	{width:10%;}
.w15	{width:15%;}
.w20	{width:20%;}
.w25	{width:25%;}
.w30	{width:30%;}
.w35	{width:35%;}
.w40	{width:40%;}
.w45	{width:45%;}
.w50	{width:50%;}
.w55	{width:55%;}
.w60	{width:60%;}
.w65	{width:65%;}
.w70	{width:70%;}
.w75	{width:75%;}
.w80	{width:80%;}
.w85	{width:85%;}
.w90	{width:90%;}
.w95	{width:95%;}

.page-count	{
	position:relative;
	top:8px;
	left:10px;
}

#search-results-mbs table tr th:first-child,
#search-results-mbs table tr td:first-child,
#search-results-mega table tr th:first-child,
#search-results-mega table tr td:first-child,
#search-results-remic table tr th:first-child,
#search-results-remic table tr td:first-child,
#search-results-dmbs table tr th:first-child,
#search-results-dmbs table tr td:first-child,
#search-results-save-portfolio-container,
.authenticated .unauthenticated-message,
.auth-link	{
	display:none !important;
}

.authenticated #search-results-mbs table tr th:first-child,
.authenticated #search-results-mbs table tr td:first-child,
.authenticated #search-results-mega table tr th:first-child,
.authenticated #search-results-mega table tr td:first-child,
.authenticated #search-results-remic table tr th:first-child,
.authenticated #search-results-remic table tr td:first-child,
.authenticated #search-results-dmbs table tr th:first-child,
.authenticated #search-results-dmbs table tr td:first-child	{
	display:block !important;
}

.authenticated .transaction-action-buttons,
.authenticated #search-results-save-portfolio-container,
.authenticated .auth-link	{
	display:inline-block !important;
}

/*TIMELINE*/
.timeline	{
	width:100%;
	border-top:6px solid #999;
	background-color:#f2f2f2;
	margin:0 0 20px 0;
	height:66px;
}

.timeline-small	{
	font-size:12px;
	height:60px;
}

.timeline-complete	{
	border-top-color:#91b916;
}

.timeline ul	{
	list-style:none;
	position:relative;
	top:-6px;
	margin:0px;
}

.timeline ul li	{
	display:inline-block;
	border-top:6px solid transparent;
}

.timeline ul li.active	{
	border-top-color:#91b916;
}

.timeline ul li.pull-right	{
	border-top-color:transparent;
}

.timeline ul li .timeline-entry	{
	background-color:#fff;
	border-right:3px solid #e3e3e3;
	padding:10px 16px;
}

.timeline ul li:nth-child(even) .timeline-entry	{
	background-color:#f2f2f2;
}

.timeline ul li.pull-right .timeline-entry	{
	background-color:#fff;
}

.timeline ul li.pull-right .timeline-entry	{
	border-right:none;
	border-left:3px solid #e3e3e3;	
}

.timeline ul li .timeline-entry .timeline-date	{
	color:#999;
}

.timeline ul li .timeline-entry .timeline-event	{
	white-space:nowrap;
}

.timeline-complete ul li:last-child .timeline-entry	{
	background-color:#91b916;
	color:#fff;
}

.timeline-complete ul li:last-child .timeline-entry .timeline-date	{
	color:#333;
}


/*DOCUMENTS*/
.document-download-header	{
	padding:1px 10px 1px 0px;
	background-color:#ccc;
}

.section-documents label	{
	margin-left:10px;
}

.section-documents .checkbox a	{
	margin-right:10px;
	position:relative;
	top:-2px;
}


/*TOGGLE BUTTONS*/
.toggle.custom	{
	-webkit-border-radius:3px;
	border-radius:3px;
}

.alert-control .alert-name	{
	padding:4px 10px 4px 10px;
	color:#999;	
}

.nav-tabs>li>a	{
	background-color:#eee;
}

.nav-tabs>li>a .badge	{
	color:#fff;
	background-color:#ccc;	
}

.nav-tabs>li.active>a .badge	{
	color:#999;
	background-color:#e7e7e7;	
}

.nav-tabs>li>a,
.nav-tabs>li>a:hover	{
	border-bottom:none;
}

.modal .nav-tabs	{
	border-bottom:1px solid #ddd;
}

.modal .nav-tabs.nav-tabs-links	{
	border-bottom:none;
}

.nav-tabs select	{
	width:250px;
	margin:4px 10px 0px 2px;
}

.nav-tabs h3	{
	margin:12px 10px 0px 2px;
}

.nav-tabs.nav-tabs-links>li>a,
.nav-tabs.nav-tabs-links>li>a:active,
.nav-tabs.nav-tabs-links>li.active>a:hover,
.nav-tabs.nav-tabs-links>li.active>a:focus,
.nav-tabs.nav-tabs-links>li>a:hover,
.nav-tabs.nav-tabs-links>li>a:focus	{
	padding:0px 10px 0px 0px;
	border:none;
	background-color:transparent;
}

.nav-tabs.nav-tabs-links>li.active>a,
.nav-tabs.nav-tabs-links>li.active>a:hover,
.nav-tabs.nav-tabs-links>li.active>a:focus	{
	text-decoration:none;
}

.nav-tabs.nav-tabs-links>li>a,
.nav-tabs.nav-tabs-links>li>a:hover	{
	text-decoration:underline;
}

#top-link	{
	position:fixed;
	bottom:25px;
	right:10px;
	z-index:4;
	display:none;
	border:1px solid #e5e5e5;
}

#top-link.badge	{
	background-color:#0b94c2;
}

#top-link.active	{
	display:block;
}

#top-link a,
#top-link a:hover	{
	color:#fff;
	text-decoration:none;
}

/*MODALS*/
.modal-content	{
	padding:5px 25px;
}

.modal-header,
.modal-body,
.modal-footer	{
	padding-left:0px;
	padding-right:0px;
}

.modal .panel	{
	box-shadow:none;
	-webkit-box-shadow:none;
}

.modal-xl	{
	width:96%;
}

.modal-body	{
	max-height:75vh;
	overflow-x:hidden;
	overflow-y:auto;
}


/*ALERT MESSAGES*/
.confirm-message	{
	position:fixed;
	z-index:1031;
	width:100%;
	/*display:none;*/
	margin-top:100px;
}

.confirm-message .alert	{
	position:relative;
	border-radius:4px;
	box-shadow:0px 4px 10px;
	padding:10px 15px;
	margin:00px auto 10px auto;
	width:400px;
}

/*LEGEND COLORS*/
.legend	{
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 1px 4px;
	font-size: 6px;
	line-height: 1.5em;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	border-radius: 3px;
	position:relative;
	top: -1px;
	margin-right:6px;
}

.legend-0	{
	background-color:#c0540f;
}

.legend-1	{
	background-color:#007687;
}

.legend-2	{
	background-color:#574a71;
}

.legend-3	{
	background-color:#216c2b;
}

.legend-4	{
	background-color:#c55147;
}

.legend-5	{
	background-color:#99660f;
}

.legend-6	{
	background-color:#d9d7dc;
}

/*POPOVERS*/
.popover	{
	z-index:2;
	max-width:100%;
}

.popover-content,
.popover-content table,
.label-value .popover .popover-content	{
	margin:0px;
	padding:0px;
}

.label-value .popover .arrow	{
	margin-top:0px;
}


/*OWL CAROUSEL CLASSES*/
/* 
.owl-carousel .owl-wrapper-outer	{
	max-height:400px;
}
 */

.owl-carousel	{
	margin:0px 0px 20px 0px;
}

.owl-carousel-text	{
	 position:absolute;
	 z-index:2;
	 width:100%;
}

.owl-carousel-mask	{
	width:100%;
	position:absolute;
	z-index:1;
}
	
.owl-carousel .item,
.owl-carousel .item img	{
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.owl-carousel .item img	{
	width:100%;
	position:relative;
	/* top:-100px; *//*FOR PROTOTYPE - WE CAN REMOVE IF WE FIX THE PHYSICAL IMAGE HEIGHT*/
}


.owl-theme .owl-controls,
.hero-text	{
	/* width:640px; */
}

.owl-theme .owl-controls	{
	position: relative;
	z-index: 3;
	text-align: center;
}

.owl-theme .owl-controls .owl-page span {
    height: 8px;
    width: 8px;
    background: #869791;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}

.owl-theme .owl-controls .owl-page.active span {
    border-color: #fff;
    background: transparent;
}
.owl-theme .owl-controls .owl-page.active span {
    background: #fff;
}
.owl-theme .owl-controls .owl-page.active span {
    height: 12px;
    width: 12px;
    background: transparent;
    border: 2px solid #ffffff;
    top: 2px;
    cursor: default;
}

.hero-text	{
	padding:30px;
}


.hero-text,
.hero-text h2,
.hero-text h4	{
	color:#fff;
}

.hero-text hr	{
	height:2px;
	background-color:#fff;
	border:none;
	text-align:left;
	margin-left:0px;
	width:85%;
}

/*WELLS*/
.well	{
	border-color:#f2f2f2;
	background:#f2f2f2;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.well h5,
h5	{
	margin-bottom:5px;
}

.panel h5	{
	margin-top:0px;
}


/*SCROLL*/
.scroll	{
	max-height:383px;
	overflow-x:hidden;
	overflow-y:auto;
	margin:0 0 5px 0;
}

.scroll.scroll-sm	{
	max-height:252px;
}

#usage-agreement.scroll	{
	max-height:120px;
}


/*FOOTER*/
#footer	{
	background-color:#1A2741;
	position:fixed;
	z-index:3;
	bottom:0;
	width:100%;
	margin-top:80px;
}

#footer a,
#footer a:active,
#footer a:visited	{
	color:#fff;
}

#footer .left	{
	float:left;
	clear:none;
	padding:10px 0px 10px 40px;
	color:#fff;
	width:200px;
	height:70px;
}

#footer .left span	{
	position:relative;
	top:16px;
}

#footer .right	{
	float:right;
}

#footer.fixed	{
	margin-top:80px;
}

.footer-links	{
	padding:22px 70px 0px 0px;
}

.footer-links .text-link	{
	font-size:14px;
	position:relative;
	top:4px;
	padding:20px 10px;
}

.scrolling  #footer	{
	position:relative;
}

.stay-connected {
    background: rgba(0, 0, 0, 0) url(../images/stay-connected.png) no-repeat scroll 115px 50%;
    padding-right: 50px !important;
}

#search-results-loading	{
	height:100vh;
}

.spinner	{
	text-align:center;
}

.spinner div	{
	width:60px;
	height:60px;
	margin:10px auto 10px auto;
	background-image:url(../images/spinner-pie.gif);
	background-repeat:no-repeat;
	background-size:60px 60px;
	display:block;
}

/*OVERLAY*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    /* background-color: rgba(0,0,0, 0.9); */
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



/*MEDIA QUERIES*/
@media all and (max-width: 1279px)	{
	.summary-header .label-value	{
		margin-right:20px;
	}
	
	.label-value div	{
		font-size:13px;
	}
	
	.label-value span	{
		font-size:12px;
	}
	
	.timeline	{
		height:60px;
	}
	
	.timeline-entry	{
		font-size:12px;
	}
	
	th,
	td	{
		font-size:12px;
	}
}

@media (max-width:1200px)	{
	.hero-text h2	{
		font-size:24px !important;
	}
	
	.hero-text h4	{
		font-size:16px !important;
	}
	
	.summary-header .pull-right	{
		padding-top:20px;
	}
	
}

@media (max-width:992px)	{
	.container	{
		width:100% !important;
	}

	.navbar-brand	{
		padding:0px;
		position:relative;
		width:154px;
	}

	.navbar-brand .logo	{
		width:60px;
		/* background-image:url(../images/logo_fanniemae_icon_only_2x.png); */
		background-image:url(../images/logo_fanniemae_icon_only.svg);
		background-size:40px 40px;
		}

	.navbar-brand span	{
		left: 60px;
	}
	
	.timeline	{
		font-size:12px;
	}
	
	.hero-text h2	{
		font-size:18px !important;
	}
	
	.owl-carousel .hero-text	{
		padding:20px 30px 30px 30px;
	}
	
	.hero-text h4	{
		font-size:14px !important;
	}
	
	.owl-carousel-text .btn-lg	{
		font-size:95%;
	}

	#footer	{
		position:relative;
		padding-bottom:20px;
	}

	#nav-advanced-search {
		position: relative;
		width: 100%;
		z-index: 4;
		top: 0px;
	}



	
}

@media (max-width:768px)	{
	.navbar-fixed-top,
	.container-main	{
		position:relative;
		top:0px;
		margin-bottom:0px;
	}
	
	.navbar-header	{
		position:relative;
		top:0px;
	}
	
	.navbar-brand	{
		height:50px !important;
	}
	
	.navbar-brand .logo	{
		width:50px !important;
		height:50px !important;
	}
	
	.navbar-brand span	{
		top:20px !important;
	}
	
	.search-form-wrapper .toggle-navbar-advanced-search,
	.search-form-wrapper .toggle-navbar-advanced-search:hover	{
		border-left:none;
	}
	
	.navbar-form {
		border-bottom-color: #fff !important;
	}
	
	.navbar-form .search-form-wrapper input.search-field	{
		width:100%;
	}
	
	.owl-carousel-mask img	{
		display:none;
	}
	
	.hero-text	{
		background-color:#000;
		opacity:0.9;
	}
	
	.owl-carousel .owl-wrapper-outer	{
		top:-1px;
	}
	
	.owl-item>.item>img	{
		display:none;
	}
	
	.owl-carousel .hero-text	{
		padding:10px 30px 30px 30px;
	}
	
	.owl-carousel-text	{
		position:relative;
	}
	
	.owl-carousel-mask	{
		display:none;
	}
		
	.owl-carousel-text .btn-lg	{
		font-size:90%;
	}

	#footer	{
		padding-bottom:20px;
	}
	
	#footer .left	{
		width:100%;
		text-align:center;
		padding-left:0px;
	}
	
	#footer .right	{
		float:none !important;
	}
	
	.footer-links	{
		width:70%;
		margin:10px auto;
		padding-right:0px;
		text-align:center;
	}
	
	.transaction-header	{
		position:relative !important;
	}	
	
}

@media (max-width:480px)	{
	
	.btn-lg	{
		font-size:14px;
	}
	
	#nav-advanced-search	{
		position:absolute !important;
		top:150px !important;
		z-index:10000 !important;
		margin-bottom:-200px;
	}
	
	.search-form-wrapper	{
		padding-bottom:10px;
	}
	
	.login-button	{
		margin-bottom:20px;
	}
	
	.nav-tabs li span	{
		display:none;
	}
	
	.row>.text-right:last-child	{
		text-align:left;
	}
	
	.navbar-nav>li>a	{
		padding:15px !important;
	}

}

@media print{
	.container-main	{
		top:0px;
	}
	
	.container	{
		width:100% !important;
	}
	
	.navbar-toggle,
	.footer-links,
	.transaction-buttons,
	#top-link	{
		display:none !important;
	}
	
	.section.transaction-header.scroll-to-fixed-fixed	{
		position:relative !important;
	}
	
	.summary-header .label-value	{
		margin-right:20px;
	}
	
	.timeline	{
		height:54px;
	}
	
	.timeline-entry	{
		font-size:10px;
	}
	
	th,
	td	{
		font-size:11px;
	}

	.navbar	{
		display:block !important;
		background-color:#fff !important;
		margin-bottom:0px;
	}
	
 	.navbar-brand .logo	{
		background-image:url(../images/logo_fanniemae_icon_navy_2x.png) !important;
		background-repeat:no-repeat !important;
		background-size:210px 40px !important;
		background-position:10px 50% !important;
		width:280px !important;
	}
	
	.navbar-brand span	{
		left: 230px;
	}

	#footer span	{
		color:#000 !important;
	}
	
	.transaction-header.cf-header,
	.section-header .pull-left	{
		color:#fff !important;
	}
	
	.navbar form,
	.navbar ul,
	.btn	{
		display:none !important;
	}

	#footer a.logo	{
		width:170px !important;
		float:left !important;
	}

	#footer .pull-left	{
		background:#1A2741 !important;
	}

	#footer .pull-left span	{
		position:relative !important;
		top:23px !important;
	}

	#footer	{
		margin-top:20px !important;
		background-color:#fff !important;
	}
	
	.sub-page	{
		padding-top:0px;
	}

	.bg-gray	{
		background-color:#f2f2f2 !important;
	}

	.category-heading	{
		background-color:#f2f2f2 !important;
		border-bottom:1px solid #ccc !important;
	}

	.category-heading.subcategory	{
		background-color:#e2e2e2 !important;
	}

	#navbar-link-register	{
		background-color:#91b916 !important;
	}
	
	#nav-advanced-search .panel	{
		border-bottom:1px solid #ddd !important;
	}

	.advanced-search hr	{
		background-color:#ddd !important;
	}

	.summary-header .transaction-type	{
		background-color:#01182e !important;
		color:#fff !important;
	}
	
	.summary-header .transaction-type div	{
		color:#ccc !important;
	}
	
	.transaction-header.cf-header	{
		background-color:#01182e !important;
	}
	
	.section-header	{
		background-color:#555 !important;
		color:#fff !important;
	}
	
	#home-authenticated.no-saved-portfolios .label-value span,
	#home-authenticated.no-saved-portfolios td span	{
		color:#d2d2d2 !important;
		background-color:#d2d2d2 !important;
	}

	.home-panels .panel-primary,
	.home-panels .panel-primary h5,
	.home-panels .panel-primary p	{
		background-color:#0b94c2 !important;
		color:#fff !important;
	}

	label.btn.btn-default .badge	{
		background-color:#999 !important;
		color:#ccc !important;
	}

	label.btn.btn-default.active .badge	{
		background-color:#fff !important;
		color:#0b94c2 !important;
	}

	.home-panels .panel-success,
	.home-panels .panel-success h5,
	.home-panels .panel-success p	{
		background-color:#91b916 !important;
		color:#fff !important;
	}

	.home-panels hr	{
		background-color:#fff !important;
	}

	.home-panels .panel-default hr	{
		background-color:#000 !important;
	}

	.home-panels .list-group-item,
	.home-panels .list-group-item:hover	{
		color:#fff !important;
		background-color:transparent !important;
		border-bottom:1px solid #fff !important;
	}

	.home-panels .panel-default .list-group-item,
	.home-panels .panel-default .list-group-item:hover	{
		color:#000 !important;
		border-bottom-color:#000 !important;
	}

	.home-panels .btn-block	{
		background-color:#000 !important;
		color:#fff !important;
	}

	.navbar-nav .badge	{
		background-color:#0b94c2 !important;
		color:#fff !important;
	}

	.badge.bg-warning	{
		background-color:#f0ad4e !important;
		color:#fff !important;
	}

	.callout	{
		background-color:#f2f2f2 !important;
		border-left:6px solid transparent !important;
	}

	.callout.callout-primary	{
		 border-color:#0b94c2 !important;
	}

	.callout.callout-success	{
		border-color:#91b916 !important;
	}

	.callout.callout-default	{
		border-color:#999 !important;
	}

	.callout.callout-danger	{
		border-color:#d9534f !important;
	}

	.table>thead>tr>th	{
		background-color:#555 !important;
		color:#fff !important;
	}

	tr.separator td	{
		border-bottom:3px solid #ccc !important;
	}

	tr.separator.total td	{
		border-bottom-color:#555 !important;
	}

	.timeline	{
		border-top:6px solid #999 !important;
		background-color:#f2f2f2 !important;
	}

	.timeline-complete	{
		border-top-color:#91b916 !important;
	}

	.timeline ul li.active	{
		border-top-color:#91b916 !important;
	}

	.timeline ul li .timeline-entry	{
		background-color:#fff !important;
		border-right:3px solid #e3e3e3 !important;
	}

	.timeline ul li:nth-child(even) .timeline-entry	{
		background-color:#f2f2f2 !important;
	}

	.timeline ul li.pull-right .timeline-entry	{
		background-color:#fff !important;
	}

	.timeline ul li.pull-right .timeline-entry	{
		border-left:3px solid #e3e3e3 !important;	
	}

	.timeline ul li .timeline-entry .timeline-date	{
		color:#999 !important;
	}

	.timeline-complete ul li:last-child .timeline-entry	{
		background-color:#91b916 !important;
		color:#fff !important;
	}

	.timeline-complete ul li:last-child .timeline-entry .timeline-date	{
		color:#ddd !important;
	}

	.nav-tabs>li>a	{
		background-color:#eee !important;
	}

	.nav-tabs>li>a .badge	{
		color:#fff !important;
		background-color:#ccc !important;	
	}

	.nav-tabs>li.active>a .badge	{
		color:#999 !important;
		background-color:#e7e7e7 !important;	
	}

	.modal .nav-tabs	{
		border-bottom:1px solid #ddd !important;
	}

	.hero-text *	{
		color:#fff !important;
	}

	.hero-text hr	{
		background-color:#fff !important;
	}

	.well	{
		border-color:#f2f2f2 !important;
		background:#f2f2f2 !important;
	}
	
	.navbar,
	div.section.transaction-header.scroll-to-fixed-fixed	{
		position:relative !important;
		left:0px !important;
		top:0px !important;
	}
	
	.overlay	{
		display:block;
	}

	
}

[ng-click] {
    cursor: pointer;
}

a[uib-popover-template] {
    cursor: pointer;
}

#complete-registration,
/* #navbar-link-resources, */
#navbar-link-notifications,
#navbar-link-user,
/* #home, */
#transaction-pool-arm,
#transaction-remic,
#transaction-mega,
#transaction-mega-arm,
#transaction-credit-facility,
#search-results,
#resources-product-information,
#resources-learning-center,
#resources-data-collections,
#notifications,
#all-notifications-btn,
#elements,
.future	{
	display:none;
}

.uib-datepicker {
	z-index:999999 !important;
}

ul.uib-datepicker-popup.dropdown-menu {
	padding: 0;
}

#detail-terms span {
    margin-left: 5px;
}

.no-portfolio {
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
}

.map-wrapper {
    width:100%;
    overflow: hidden;
}