﻿<div class="modal-header">
    <a ng-click="modal.cancel()" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="addHolidayTitle">{{ modal.holiday.Id === -1 ? 'Add': 'Edit'}} Holiday</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="form-label">Date</p>
                <p class="input-group">
                    <fmda-datepicker ng-model="modal.holiday.Date" fmda-validate="Date" disabled-date-buttons="modal.disabled"></fmda-datepicker>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="form-label">Holiday Name</p>
                <p><input type="text" maxlength="200" class="form-control rt-hmName-input" ng-model="modal.holiday.Name" placeholder="Holiday Name" fmda-validate="Name"/></p>
            </div>
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="modal.holiday.HoldPublishing"> Hold Publishing on this date
                    </label>
                </div>
            </div>
        </div>
    </form>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
            <button class="btn btn-primary rt-saveHoliday-btn" ng-click="modal.save();" fmda-button><!--{{ modal.holiday.Id === -1 ? 'Add Holiday': 'Save'}}-->Save</button>
        </div>
    </div>
</div>