﻿<div class="modal-header">
    <a ng-click="modal.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="logoutConfirmTitle">Confirm Logout</h4>
</div>
<div class="modal-body">
    <p>Are you sure you want to logout?</p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-36 col-sm-36 col-md-36 col-lg-36">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.confirm()" class="btn btn-primary" dus-button>Yes, log me out</button>
        </div>
    </div>
</div>