﻿<div class="section transaction-header">
    <div class="summary-header">
        <div class="pull-left transaction-type">
            {{transaction.TransactionType === 'REMIC' ? transaction.TransactionIdentifier : transaction.Prefix}}
            <div>{{transaction.ExecutionType}}</div>
        </div>
        <div class="pull-left">
            <div class="summary-container">
                <div class="label-value" ng-repeat="(key,label) in labels">
                    <div>{{label}}</div>
                    <span ng-if="key === 'IssuanceUPB'"><dus-currency currency-value="transaction[key]"/></span>
                    <span ng-if="key === 'AtIssuancePayingPTR'">{{transaction[key] | number:4}}%<dus-amount-unit amount="transaction[key]" unit="{{data.format}}" plural="{{data.plural}}" default-value="{{data.defaultValue}}" /></span>
                    <span ng-if="dateFields.indexOf(key) != -1 && transaction[key]">{{transaction[key].format('MM/DD/YYYY')}}</span>
                    <span ng-if="dateFields.indexOf(key) === -1 && key !== 'IssuanceUPB' && key != 'AtIssuancePayingPTR'">{{transaction[key]}} 
                        <dus-at-issuance ng-if="key === 'LoanCount' || key === 'PropertyCount'">{{transaction['AtIssuance'+key]}}</dus-at-issuance></span>
                    <span>&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <dus-detail-button record-type="{{transaction.TransactionType != 'MEGA' ? 'Security' : 'MEGA'}}" record-id="transaction.Id" record-name="transaction.TransactionIdentifier" ng-if="transaction.TransactionType != 'REMIC'"/>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="pull-left">

    </div>
    <div class="pull-right transaction-buttons">
        <div class="padded-text text-muted pull-left" ng-if="!userAuthenticated()">Login or register for more options.</div>
        <div class="btn-group" uib-dropdown ng-if="userAuthenticated()">
            <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle><span class="glyphicon glyphicon-plus"></span> Add to Portfolio</button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="portfolio in userPortfolios"><a ng-click="addTransactionToPortfolio(portfolio)">{{portfolio.Name}}</a></li>
                <li ng-if="userPortfolios.length == 0" class="no-portfolio">You do not currently have any Portfolios.</li>
                <li ng-if="userPortfolios.length == 0" class="no-portfolio">Build an Advanced Search to create one.</li>
            </ul>
        </div>
        <span ng-if="!transaction.IsBookOrPreliminary">
            <a class="btn btn-primary" ng-if="userAuthenticated()" ng-click="downloadTransactionData()"
               analytics-on analytics-category={{GACategory}} analytics-event="Download" analytics-label={{GALabel}}>
                <span class="glyphicon glyphicon-circle-arrow-down"></span> Download Data
            </a>
            <button ng-click="goToDocuments()" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Documents</button>
            <button ng-click="displayNotifications()" class="btn btn-warning"><span class="glyphicon glyphicon-bullhorn"></span> Notifications</button>
        </span>
    </div>
    <div class="clearfix"></div>
</div>
