﻿<div id="spinner" ng-show="showSpinner">Loading</div>
<div id="version-number"><span>{{systemInfo.Version}}-{{systemInfo.ServerName}}</span></div>
<div class="container-main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="showHeader">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand symbol" ng-click="rootctrl.toHome()"></a>
                <h4 class="pull-left">Ad Hoc Reporting</h4>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </nav>
    <div ui-view></div>
</div>
<div ah-notification></div>