<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Queues: <span class="text-primary">Pending Publishing</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">

    </div>
</div>
<div role="tabpanel" ng-if="pending.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a role="tab">{{pending.tab.caption}}<span class="hidden-xs"> ({{pending.tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a ng-click="pending.load()" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></a>
            <a ng-if="pending.accessObj.hasDisclosureOpsViewAccess" class="btn btn-link" name="disclosureoperations" ui-sref="disclosureoperations">Disclosure Ops Queue</a>
            <a ng-if="pending.accessObj.hasStickeringApprovalViewAccess" class="btn btn-link" name="stickeringapproval" ui-sref="stickeringapproval">Stickering Queue</a>
            <a ng-if="pending.accessObj.hasPublishingScheduleViewAccess" class="btn btn-link" name="publishingschedule" ui-sref="publishingschedule">Publishing Schedule</a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="pending.tab.data.all" output="pending.tab.data.filtered" on="TransactionIdentifier,ProductType,PublicationType,Publishing" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row" ng-if="pending.tab.data.all.length < 1">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    There are no pending transactions for this week.
                </div>
            </div>
        </div>
        <div class="row" ng-show="pending.tab.data.filtered.length === 0 && pending.tab.data.all.length > 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    No data matches your filter criteria.
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="pending-disclosure-tab-closed" ng-show="pending.tab.data.filtered.length > 0">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="TransactionIdentifier" params="pending.sort" array-to-sort="pending.tab.data.filtered" sorted="pending.tab.data.sorted">Transaction ID</th>
                                    <th fmda-sort="ProductType" params="pending.sort" array-to-sort="pending.tab.data.filtered" sorted="pending.tab.data.sorted">Product Type</th>
                                    <th fmda-sort="PublicationType" params="pending.sort" array-to-sort="pending.tab.data.filtered" sorted="pending.tab.data.sorted">Publication Type</th>
                                    <th fmda-sort="Publishing" params="pending.sort" array-to-sort="pending.tab.data.filtered" sorted="pending.tab.data.sorted">Publishing</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in pending.tab.data.paged">
                                    <td>
                                        <a ng-if="pending.accessObj.hasQueueAccess" ui-sref="transaction({ id: p.TransactionId })">{{p.TransactionIdentifier}}</a>
                                        <span ng-if="!pending.accessObj.hasQueueAccess">{{p.TransactionIdentifier}}</span>
                                    </td>
                                    <td>{{p.ProductType}}</td>
                                    <td>{{p.PublicationType}}</td>
                                    <td>{{p.Publishing.format('MM/DD/YYYY')}} {{p.Publishing ? 'at' : ''}} {{p.Publishing.format('h:mm a')}}</td>
                                    <td>
                                        <div class="btn-toolbar pull-right" ng-if="pending.accessObj.hasEditAccess">
                                            <button class="btn btn-xs btn-primary rt-publish-btn" ng-click="pending.publish(p)" ng-disabled="p.ScheduleId == null">
                                                <span class="glyphicon glyphicon-flash"></span>
                                                <span class="hidden-xs hidden-sm"> Publish Now</span>
                                            </button> 
                                            <button class="btn btn-xs btn-primary rt-return-to-hold-btn" ng-click="pending.returnToHold(p)" ng-disabled="p.PublicationType == 'Correction'">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                                <span class="hidden-xs hidden-sm"> Return to Hold</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="pending.tab.data.sorted" paged-data="pending.tab.data.paged" page-size="25"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>