﻿<div class="modal-header">
    <a href="javascript:void(0);" class="close" ng-click="modal.cancel()"><span>×</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="deletePorfolioConfirmTitle">Delete Portfolio</h4>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete the Portfolio <strong>{{modal.portfolio.Name}}</strong>?</p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-0 col-sm-18 col-md-18 col-lg-18">

        </div>
        <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18">
            <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="modal.deletePortfolio()" dus-button>Yes, delete this Porfolio</button>
        </div>
    </div>
</div>