﻿<div class="sub-page">
    <div class="container">
        <div id="search-results-loading" class="spinner wow fadeIn" ng-if="!search.loaded">
            <div></div>
            <p>Loading Search Results...</p>
        </div>

        <ul ng-if="search.portfolioId == 0" id="unsaved-portfolio-header" class="nav nav-tabs no-border" role="tablist">
            <li>                
                <h3>
                    Search Results
                    <small class="bg-warning" ng-if="search.unfoundRecords.length > 0">&nbsp;Record(s) not found 
                        <!--FYI: popover-trigger="outsideClick" will require single quote on latest version -> popover-trigger="'outsideClick'"-->
                        <a href="javascript:void(0);" uib-popover-html="search.unFoundRecordTemplate" popover-placement="bottom" popover-trigger="outsideClick">
                           <span class="glyphicon glyphicon-info-sign"></span>
                        </a>&nbsp;
                    </small>
                    <span ng-if="!search.isLoggedIn() && search.totalCount" class="unauthenticated-message"> <small>(<strong>Login or register</strong> to <strong>save this as a Portfolio</strong> or <strong>Download Data</strong>)</small></span>
                </h3>
            </li>
            <li ng-class="{'active': search.viewAdvSearch}" class="pull-right">
                <a id="refinedBtn" ng-click="search.refineSearch()">
                    <span class="glyphicon glyphicon-pencil"></span> Refine Criteria
                </a>
            </li>
            <li ng-if="search.isLoggedIn() && search.totalCount" ng-class="{'active': search.createPortfolioBtnClicked}" 
                class="pull-right">
                <a ng-click="search.toggleCreatePortfolio()" aria-controls="search-results-save-portfolio" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Create Portfolio
                </a>
            </li>
        </ul>

        <ul ng-if="search.portfolioId > 0" id="saved-portfolio-header" class="nav nav-tabs no-border">
            <li>
                <select class="form-control" ng-model="search.portfolioId" ng-change="search.load()">
                    <option ng-repeat="n in search.portfolios" value="{{n.Id}}">{{n.Name}}</option>
                </select>
            </li>
            <li id="saved-portfolio-alerts-container" ng-class="{'active' : search.onEditPortfolioAlerts}">
                <a ng-click="search.editPortfolioAlerts()">
                <span class="glyphicon glyphicon-bullhorn"></span> Alerts</a>
            </li>
            <li id="saved-portfolio-criteria-container" ng-class="{'active' : search.viewAdvSearch}">
                <a id="saved-portfolio-criteria-link" ng-click="search.editPortfolioCriterias()">
                <span class="glyphicon glyphicon-pencil"></span> Edit Portfolio</a>
            </li>
            <li class="pull-right">
            <a id="create-portfolio-link" class="toggle-navbar-advanced-search collapsed" ng-click="search.createNewPortfolio()">
                Create a New Portfolio
            </a>
            </li>
        </ul>
        
        <div class="tab-content" ng-if="search.onEditPortfolioAlerts">
            <div class="panel">
                <div class="panel-body">
                    <div class="tab-pane fade" ng-class="{'active in' : search.onEditPortfolioAlerts}" id="saved-portfolio-alerts">
                        <dus-portfolio-alerts alerts="search.alerts" on-toggle-call-back="search.toggleAlert"></dus-portfolio-alerts>
                        <div class="row advanced-search-footer">
                            <hr>
                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9 pull-right">
                                <a class="btn btn-lg btn-block btn-default" ng-click="search.editPortfolioAlerts()">
                                    Close
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div ng-if="search.viewAdvSearch" class="panel advanced-search">
                <div class="panel-body">
                    <dus-advanced-search model="search.searchModel"
                                         on-search-clicked-event="search.updateSearch"
                                         toggle="search.viewAdvSearch"
                                         portfolios="search.portfolios"
                                         show-delete-portfolio="true"
                                         editing-portfolio="search.editingPortfolio"
                                         on-update="search.updatePortfolio"
                                         on-delete-portfolio="search.deletePortfolio"
                                         portfolio-id="search.portfolioId"
                                         user-logged-in="search.isLoggedIn()"
                                         on-clicked-outside-event="search.onClickedOutside"
                                         escape-elementids="refinedBtn,unsaved-portfolio-header,saved-portfolio-criteria-link">
                    </dus-advanced-search>
                </div>

            </div>

            <!--CREATE PORTFOLIO-->
            <div ng-if="search.createPortfolioBtnClicked" class="tab-pane" id="search-results-save-portfolio">
                <div class="panel">
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="save-portfolio-addon">
                            <span class="glyphicon glyphicon-floppy-disk"></span></span>
                            <input class="form-control input-lg" maxlength="25" ng-model="search.portfolioName" type="text" placeholder="Name and save this Portfolio">
                        </div>
                        <div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-18 col-sm-24 col-md-24 col-lg-24">
                                            Alerts
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <dus-portfolio-alerts alerts="search.alerts" on-toggle-call-back="search.toggleAlert"></dus-portfolio-alerts>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-36 col-sm-18 col-md-9 col-lg-9">
                                    <button id="cancel-save-portfolio-button" ng-click="search.createPortfolioBtnClicked = false;" class="btn btn-lg btn-default btn-block">Cancel</button>
                                </div>
                                <div class="col-xs-36 col-sm-18 col-md-9 col-lg-9 pull-right">
                                    <button id="save-portfolio-button" ng-click="search.createPortfolio()" ng-disabled="search.disableSavePortfolio()" class="btn btn-lg btn-success btn-block" dus-button>Save Portfolio</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="spacer-sm"></div>

        <div class="well" ng-if="search.loaded && !search.totalCount">
            No results. Try modifying your search criteria.
        </div>
        <div class="section" ng-if="search.loaded && search.totalCount">
            <div class="row">
                <div class="col-xs-36 col-sm-24 col-md-24 col-lg-24">
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-repeat="(key, tab) in search.tabs" ng-class="{active: search.activeTab == key}">
                            <a ng-click="search.setActiveTab(key)">
                                {{tab.display}} <span class="badge" ng-if="tab.Count > 0">{{tab.Count}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-36 col-sm-12 col-md-12 col-lg-12 text-right">
                    <a ng-if="search.isLoggedIn() && !search.tabs[search.activeTab].downloadLinks" ng-click="search.downloadSearchResults()" class="btn btn-link discreet"
                       analytics-on analytics-category={{search.getGACategory()}} analytics-event="Download">
                       <span class="glyphicon glyphicon-circle-arrow-down"></span> Download {{search.tabs[search.activeTab].display}} Results
                    </a>
                    <div uib-dropdown on-toggle="toggled(open)" ng-if="search.isLoggedIn() && search.tabs[search.activeTab].downloadLinks">
                        <a class="btn btn-link discreet no-border" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-circle-arrow-down"></span> Download {{search.tabs[search.activeTab].display}} Results
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li ng-repeat="link in search.tabs[search.activeTab].downloadLinks">
                                <a ng-click="search.downloadSearchResults(link)" analytics-on analytics-category={{search.getGACategory(link)}} analytics-event="Download">
                                    Download {{search.tabs[search.activeTab].display}} {{link}} Results
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel">
                    <div class="panel" ng-if="search.activeTab == 'mbs' && search.tabs[search.activeTab].Count > 0">
                        <div class="panel-body">
                            <div ng-if="allStrats.show" ng-controller="StratController as strat" ng-include="strat.template"></div>
                            <div class="row" ng-if="!allStrats.show">
                                <div class="col-xs-36 col-sm-16 col-md-16 col-lg-22">
                                    <h5>Cumulative Summary</h5>
                                    <div class="row">
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Issuance UPB</div>
                                                <span dus-currency currency-value="search.tabs[search.activeTab].IssuanceUPB"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Current UPB</div>
                                                <span dus-currency currency-value="search.tabs[search.activeTab].CurrentUPB"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Number of Loans</div>
                                                <span>{{search.tabs[search.activeTab].NumberOfLoans}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Number of Securities</div>
                                                <span>{{search.tabs[search.activeTab].Count}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5>Weighted Averages</h5>
                                    <div class="row">
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Current Note Rate</div>
                                                <dus-amount-unit amount="search.tabs[search.activeTab].CurrentNoteRate | number:3" unit="%" />
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Paying PTR</div>
                                                <dus-amount-unit amount="search.tabs[search.activeTab].PayingPTR | number:3" unit="%" />
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Current NCF DSCR</div>
                                                <dus-amount-unit amount="search.tabs[search.activeTab].CurrentNCFDSCR | number:2" unit="x" />
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>LTV</div>
                                                <dus-amount-unit amount="search.tabs[search.activeTab].LTV | number:2" unit="%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-36 col-sm-20 col-md-20 col-lg-14">
                                    <div class="spinner-strats wow fadeIn" ng-if="!search.stratsOverLimit() && !search.hasStratsData()">
                                        <div></div>
                                        <p>Loading Strats...</p>
                                    </div>
                                    <div id="unsaved-portfolio-strats-container" ng-if="search.hasStratsData()">
                                        <div class="row">
                                            <div class="col-xs-36 col-sm-36 col-md-24 col-lg-24">
                                                <select class="form-control" ng-options="option.title for option in stratDatasources" ng-model="search.selectedStratType"></select>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-12 col-lg-12 text-right">
                                                <a class="btn btn-link" ng-click="showStrats(true)">
                                                    <span class="glyphicon glyphicon-eye-open"></span> View All Strats
                                                </a>
                                            </div>
                                        </div>
                                        <div id="chart-amortization-unsaved-portfolio"></div>

                                        <div ng-if="search.selectedStratType && search.selectedStratType.chartOptions">
                                            <div id="chart-amortization-unsaved-portfolio" dus-chart data="search.selectedStratType" options="search.selectedStratType.chartOptions"></div>
                                        </div>
                                    </div>

                                    <div id="unsaved-portfolio-no-strats-message" class="well" ng-if="search.stratsOverLimit()">
                                        Strats are not available for searches with more than 200 results.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive relative" ng-if="!allStrats.show">
                            <div class="search-overlay" ng-if="search.tabs[search.activeTab].pageLoading">
                                <div class="spinner-page"></div>
                            </div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th>
                                            <a>Status</a>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="PoolId" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Transaction ID</dus-sort-server>
                                        </th>
                                        <th>CUSIP</th>
                                        <th>Prefix</th>
                                        <th>Interest Type</th>
                                        <th>
                                            <dus-sort-server sort-by="IssueDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Issue Date</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="MaturityDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Maturity Date</dus-sort-server>
                                        </th>
                                        <th class="text-right">Issuance UPB</th>
                                        <th class="text-right">Current UPB</th>
                                        <th class="text-right">Paying PTR</th>
                                        <th>Product Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in search.tabs[search.activeTab].data">
                                        <td ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.TransactionId})" href="javascript:void(0);">{{result.PoolId}}</a></td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.Prefix}}</td>
                                        <td>{{result.InterestType}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.MaturityDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                        <td class="text-right"><span dus-currency currency-value="result.CurrentUPB"></span></td>
                                        <td class="text-right"><dus-amount-unit amount="result.PayingPTR | number:3" unit="%" /></td>
                                        <td>{{result.ProductType}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel" ng-if="search.activeTab == 'mega' && search.tabs[search.activeTab].Count > 0">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-36 col-sm-16 col-md-16 col-lg-22">
                                    <h5>Cumulative Summary</h5>
                                    <div class="row">
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Issuance UPB</div>
                                                <span dus-currency currency-value="search.tabs[search.activeTab].IssuanceUPB"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Current UPB</div>
                                                <span dus-currency currency-value="search.tabs[search.activeTab].CurrentUPB"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                            <div class="label-value">
                                                <div>Number of Securities</div>
                                                <span>{{search.tabs[search.activeTab].Count}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive relative">
                            <div class="search-overlay" ng-if="search.tabs[search.activeTab].pageLoading">
                                <div class="spinner-page"></div>
                            </div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th>Status</th>
                                        <th><dus-sort-server sort-by="PoolId" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Transaction ID</dus-sort-server></th>
                                        <th>CUSIP</th>
                                        <th>Prefix</th>
                                        <th>Interest Type</th>
                                        <th><dus-sort-server sort-by="IssueDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Issue Date</dus-sort-server></th>
                                        <th><dus-sort-server sort-by="MaturityDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Maturity Date</dus-sort-server></th>
                                        <th class="text-right">Issuance UPB</th>
                                        <th class="text-right">Current UPB</th>
                                        <th class="text-right">Paying PTR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in search.tabs[search.activeTab].data">
                                        <td class="text-center" ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.TransactionId})" href="javascript:void(0);">{{result.PoolId}}</a></td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.Prefix}}</td>
                                        <td>{{result.InterestType}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.MaturityDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                        <td class="text-right"><span dus-currency currency-value="result.CurrentUPB"></span></td>
                                        <td class="text-right"><dus-amount-unit amount="result.PayingPTR | number:3" unit="%" /></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel" ng-if="(search.activeTab == 'remic' || search.activeTab == 'grantor trust') && search.tabs[search.activeTab].Count > 0">
                        <div class="panel-body">
                            <h5>Cumulative Summary</h5>
                            <div class="row">
                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Issuance UPB</div>
                                        <span dus-currency currency-value="search.tabs[search.activeTab].IssuanceUPB"></span>
                                    </div>
                                </div>
                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Current UPB</div>
                                        <span dus-currency currency-value="search.tabs[search.activeTab].CurrentUPB"></span>
                                    </div>
                                </div>
                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Number of Securities</div>
                                        <span>{{search.tabs[search.activeTab].Count}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive relative">
                            <div class="search-overlay" ng-if="search.tabs[search.activeTab].pageLoading">
                                <div class="spinner-page"></div>
                            </div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th>
                                            <dus-sort-server sort-by="SecurityStatus" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Status</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="PoolId" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Transaction ID</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="Group" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Group</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="Class" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Class</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="Cusip" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">CUSIP</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="REMICInterestType" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Interest Type</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="IssueDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Issue Date</dus-sort-server>
                                        </th>
                                        <th>
                                            <dus-sort-server sort-by="FinalDistributionDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Final Distribution Date</dus-sort-server>
                                        </th>
                                        <th class="text-right">
                                            <dus-sort-server sort-by="IssuanceUPB" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Issuance UPB</dus-sort-server>
                                        </th>
                                        <th class="text-right">
                                            <dus-sort-server sort-by="CurrentUPB" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Current UPB</dus-sort-server>
                                        </th>
                                        <th class="text-right">
                                            <dus-sort-server sort-by="PayingPTR" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Coupon</dus-sort-server>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="result in search.tabs[search.activeTab].data">
                                        <td class="text-center" ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.SecurityId})">{{result.PoolId}}</a></td>
                                        <td>{{result.Group}}</td>
                                        <td>{{result.Class}}</td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.REMICInterestType}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.FinalDistributionDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                        <td class="text-right"><span dus-currency currency-value="result.CurrentUPB"></span></td>
                                        <td class="text-right"><dus-amount-unit amount="result.PayingPTR | number:3" unit="%" /></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel" ng-if="search.activeTab == 'dmbs' && search.tabs[search.activeTab].Count > 0">
                        <div class="table-responsive relative">
                            <div class="search-overlay" ng-if="search.tabs[search.activeTab].pageLoading">
                                <div class="spinner-page"></div>
                            </div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th>Status</th>
                                        <th><dus-sort-server sort-by="PoolId" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Transaction ID</dus-sort-server></th>
                                        <th>CUSIP</th>
                                        <th>Prefix</th>
                                        <th><dus-sort-server sort-by="IssueDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Issue Date</dus-sort-server></th>
                                        <th><dus-sort-server sort-by="MaturityDate" params="search.tabs[search.activeTab].sort" sort-changed-event="search.loadPage(1)">Maturity Date</dus-sort-server></th>
                                        <th class="text-right">Issuance UPB</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="result in search.tabs[search.activeTab].data">
                                        <td class="text-center" ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.TransactionId})" href="javascript:void(0);">{{result.PoolId}}</a></td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.Prefix}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.MaturityDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav ng-if="!allStrats.show">
                        <dus-pager-server current-page="search.tabs[search.activeTab].currentPage" 
                                          total-count="search.tabs[search.activeTab].Count" 
                                          page-size="search.pageSize" page-changed-event="search.loadPage"></dus-pager-server>
                    </nav>
                    <div class="well" ng-if="!search.tabs[search.activeTab].Count">
                        No results. Try modifying your search criteria.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
