﻿<div class="modal-header">
    <a ng-click="modal.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="notificationsAlertsModalTitle">Notifications for {{modal.record.TransactionIdentifier}}</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="tab in modal.tabs" ng-class="{'active': modal.activeTab.id == tab.id}"><a ng-click="modal.setActiveTab(tab)" role="tab"><span class="badge">{{tab.unreadCount}}</span> {{tab.caption}}</a></li>
        <li class="padded-text text-muted pull-left" ng-if="!modal.userAuthenticated()">Login or register for alerts.</li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
            <div class="panel">
                <div class="panel-body notifications-list scroll">
                    <ul>
                        <li ng-repeat="message in modal.activeTab.data" ng-class="{'bg-warning': !message.Read}"><strong>{{message.TransactionIdentifier}}</strong> {{message.Text}}<br />
                            <div class="text-right text-muted small">{{modal.daysAgo(message.CreatedOn)}}</div>
                        </li>
                    </ul>
                </div>
                <p ng-if="modal.activeTab.data.length == 0">You currently don't have any notifications.</p>
            </div>
        </div>
    </div>
</div>
