<div class="modal-content">
    <div class="modal-header">
        <a href="javascript:void(0);" class="close" ng-click="modal.cancel();">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
        <h4 class="modal-title" id="dsCarouselAddEntryTitle">{{modal.carousel.Id > 0 ? 'Edit' : 'Add'}} Entry</h4>
    </div>
    <div class="loader-modal"></div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <p class="form-label">Entry Name</p>
                    <p><input type="text" class="form-control" fmda-validate="Name" 
                              ng-model="modal.carousel.Name" maxlength="200"></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="form-label">Status</p>
                    <p>
                        <select class="form-control" ng-options="status.value as status.Name for status in 
                                [{value: true, Name:'Active'}, {value: false, Name:'Inactive'}]" ng-model="modal.carousel.Status">
                        </select>
                    </p>
                </div>
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <p class="form-label">Description</p>
                    <p>
                        <textarea spellcheck="true" class="form-control" fmda-validate="Description" 
                                 ng-model="modal.carousel.Description"></textarea>
                    </p>
                </div>
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <p class="form-label">Button Text <small>(optional)</small></p>
                    <p>
                        <input type="text" class="form-control" value="" maxlength="200"
                               ng-model="modal.carousel.ButtonText">
                    </p>
                    <!--REQUIRED IF BUTTON TEXT EXISTS-->
                    <p class="form-label">Button Target Location <small>(optional)</small></p>
                    <p>
                        <input type="text" class="form-control" value="" placeholder="e.g. http://www.fanniemae.com/page.html" maxlength="200"
                               ng-model="modal.carousel.ButtonTargetLocation" fmda-validate="ButtonTargetLocation">
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="form-label">Image</p>
                    <p>
                        <input id="filename" class="form-control" type="file" accept=".jpg,.jpeg,.gif,.png" 
                               fmda-validate="File"
                              ng-show="(modal.replace || modal.carousel.Id == 0)">
                        
                    </p>
                    <p class="text-danger">(1200w x 400h .png, .jpg or .gif)</p>
                    <div id="carousel-main-image-thumb" ng-show="modal.carousel.Id > 0 && !modal.replace">
                        <p>
                            <a href="image.png" target="_blank">
                                <img height="80" alt="" ng-src="service/carousel/{{modal.carousel.Id}}/image">
                            </a> 
                            <a class="indent" href="javascript:void(0);" ng-click="modal.setReplace();">Replace</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        <fmda-modal-error></fmda-modal-error>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <button class="btn btn-default" ng-click="modal.cancel();">Cancel</button>
                <button class="btn btn-primary" ng-click="modal.save();" fmda-button>Save</button>
            </div>
        </div>
    </div>
</div>