<div class="modal-header">
    <a ng-click="modal.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title">{{ modal.mode }} Banner</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-16 col-lg-16">
            <form>
                <div class="form-group">
                    <p class="form-label">Banner Name</p>
                    <p><input maxlength="200" ng-model="modal.banner.Name" type="text" class="form-control rt-name-input" placeholder="Banner Name" fmda-validate="Name" ng-readonly="modal.mode === 'Edit'"/>
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                        <div class="form-group">
                            <p class="form-label">Banner Content</p>
                            <p><fmda-summernote ng-model="modal.banner.Content" fmda-validate="Content"></fmda-summernote></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <p class="form-label">Start Date</p>
                            <p class="input-group">
                                <fmda-datepicker ng-model="modal.banner.StartDate" fmda-validate="StartDate" disabled-date-buttons="modal.startDisabled" is-disabled="modal.mode === 'Edit'"></fmda-datepicker>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <p class="form-label">End Basis</p>
                            <p>
                                <label class="radio-inline" ng-repeat="o in modal.endOptions">
                                    <input class="rt-endbasis-radioBtn" type="radio" ng-model="modal.banner.EndBasis" value="{{o.value}}"> {{o.label}}
                                </label>
                            </p>
                            <div ng-show="modal.banner.EndBasis == modal.BannerEndBasis.Date">
                                <p class="input-group">
                                    <fmda-datepicker ng-model="modal.banner.EndDate" fmda-validate="EndDate" disabled-date-buttons="modal.endDisabled"></fmda-datepicker>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <fmda-criteria-input filter-list="modal.banner.Filters" metadata-uri="metadata/banners" instance-type="BannerFilter" input-disabled="modal.mode === 'Edit'" validate-filters="Filters"></fmda-criteria-input>
            </form>
        </div>
        <div class="col-xs-24 col-sm-24 col-md-8 col-lg-8">
            <fmda-affected-preview criteria="modal.banner.Filters" mode="banner" preview-disabled="modal.mode == 'Edit'"></fmda-affected-preview>
        </div>
    </div>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.save()" class="btn btn-primary rt-save-btn" fmda-button><!--{{modal.mode == "Edit"? 'Save' : 'Add Banner'}}-->Save</button>
        </div>
    </div>
</div>