﻿<div class="owl-carousel">
    <div class="item" ng-repeat="item in carouselItems">
        <div class="owl-carousel-text">
            <div class="row">
                <div class="col-xs-0 col-sm-18 col-md-18 col-lg-18">

                </div>
                <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18">
                    <div class="hero-text">
                        <h2>{{item.Name}}</h2>
                        <hr />
                        <h4>{{item.Description}}</h4>
                        <br />
                        <a ng-if="item.ButtonText && item.ButtonTargetLocation" href="{{item.ButtonTargetLocation}}" class="btn btn-lg btn-primary" target="_blank">{{item.ButtonText}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-mask"><img src="images/hero-mask.png" alt="Image"></div>
        <img ng-show="item.Base64Image" ng-src="data:image/jpg;base64,{{item.Base64Image}}">
    </div>
</div>
