﻿<div class="container sub-page">
    <h3><dus-resource-icon category-icon="resources.topLevel.Icon" /> {{resources.Title}}</h3>
    <div class="well" ng-if="resources.topLevel.Description.length > 0">
        <span ng-bind-html="resources.topLevel.Description"></span>
    </div>

    <div ng-if="resources.resources.length > 0" ng-repeat="item in resources.getContents(resources.topLevel.CategoryId)">
        <p ng-if="item.ContentType == 0">
            <a href="{{item.UrlOrFileName}}" target="_blank">
                {{item.ContentName}}
            </a>
            <br />
            <span class="text-muted">{{item.ContentDescription}}</span>
        </p>
        <p ng-if="item.ContentType == 1">
            <a href="service/resources/content/{{item.ContentId}}/file" download>
                {{item.ContentName}}
            </a>
            <br />
            <span class="text-muted">{{item.ContentDescription}}</span>
        </p>
        <div ng-if="item.ContentType == 2">
            <p ng-repeat="mcItem in resources.getMarketConsumables(item)">
                <a href="service/resources/market/{{item.UrlOrFileName}}/{{resources.getConsumableDateUrl(mcItem)}}" download>
                    {{mcItem.ConsumableDate}}
                </a>
            </p>
        </div>
    </div>
    
    <div ng-if="resources.categories.length > 0" ng-repeat="category in resources.categories | unique: 'CategoryId' | orderBy: 'CategoryOrder'">

        <div class="category-heading">
            <dus-resource-icon category-icon="category.Icon" /> {{category.Name}}
        </div>

        <p><div ng-bind-html="category.Description"></div></p>

        <div class="indent">
            <div ng-repeat="content in resources.getContents(category.CategoryId)">
                <p ng-if="content.ContentType == 0">
                    <a href="{{content.UrlOrFileName}}" target="_blank">
                        {{content.ContentName}}
                    </a>
                    <br />
                    <span class="text-muted">{{item.ContentDescription}}</span>
                </p>
                
                <p ng-if="content.ContentType == 1">
                    <a href="service/resources/content/{{content.ContentId}}/file" download>
                        {{content.ContentName}}
                    </a>
                    <br />
                    <span class="text-muted">{{item.ContentDescription}}</span>
                </p>
                
                <div ng-if="content.ContentType == 2">
                    <ul>
                        <li ng-repeat="mcItem in resources.getMarketConsumables(content)">
                            <p>
                                <a href="service/resources/market/{{content.UrlOrFileName}}/{{resources.getConsumableDateUrl(mcItem)}}" download>
                                    {{mcItem.ConsumableDate}}
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-repeat="subCategory in resources.getSubCategories(category.CategoryId) | orderBy: 'CategoryOrder'">

                <div class="category-heading subcategory">
                    <dus-resource-icon category-icon="subCategory.Icon" /> {{subCategory.Name}}
                </div>

                <p><div ng-bind-html="subCategory.Description"></div></p>

                <div class="indent">
                    <div ng-repeat="content in resources.getContents(subCategory.CategoryId)">
                        <p ng-if="content.ContentType == 0">
                            <a href="{{content.UrlOrFileName}}" target="_blank">
                                {{content.ContentName}}
                            </a>
                            <br />
                            <span class="text-muted">{{item.ContentDescription}}</span>
                        </p>
                        <p ng-if="content.ContentType == 1">
                            <a href="service/resources/content/{{content.ContentId}}/file" download>
                                {{content.ContentName}}
                            </a>
                            <br />
                            <span class="text-muted">{{item.ContentDescription}}</span>
                        </p>
                        <div ng-if="content.ContentType == 2">
                            <ul>
                                <li ng-repeat="mcItem in resources.getMarketConsumables(content)">
                                    <p>
                                        <a href="service/resources/market/{{content.UrlOrFileName}}/{{resources.getConsumableDateUrl(mcItem)}}" download>
                                            {{mcItem.ConsumableDate}}
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

           
</div>

