﻿<div ng-class="{'scrolling': applyScrolling()}">
		<div id="footer">
			<div class="left">
				<span>&copy; {{::year}} <a href="http://www.fanniemae.com">Fannie Mae</a></span>
			</div>
			<div class="right footer-links">
				<a href="{{::poolTalkUrl}}" target="_blank" class="text-link">PoolTalk</a>
				<a href="{{::glossaryFilename}}" class="text-link" target="_blank">Glossary</a>
				<a href="{{::legalNoticeUrl}}" target="_blank" class="text-link">Legal Notice</a>
				<br class="visible-xs" />
				<a href="{{::privacyNoticeUrl}}" target="_blank" class="text-link">Privacy Notice</a>
                <a class="text-link" ng-click="showContactUs()">Contact Us</a>
				<br class="visible-xs" />
				<br class="visible-xs" />
				<a href="{{::stayConnectedUrl}}" class="text-link stay-connected" target="_blank">Stay Connected</a>
			</div>
			<div class="clearfix"></div>
		</div>
</div>
