﻿<div class="modal-header">
    <a href="javascript:void(0);" class="close" ng-click="modal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="editDocumentTitle">Edit Document</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <p class="form-label">Document Name</p>
                <p><input maxlength="200" type="text" class="form-control" ng-model="modal.document.Name" disabled/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="form-label">Effective Date Basis</p>
                <p>
                    <select class="form-control rt-effective-date-basis-select" ng-change="modal.change()" ng-options="basis for basis in ['Issuance','Publication']" ng-model="modal.document.Basis" fmda-validate="Basis" ng-disabled="modal.versionCount > 1">
                    </select>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="form-label">Effective ({{modal.document.Basis}}) Date</p>
                <div class="input-group">
                    <fmda-datepicker ng-model="modal.document.BasisEffDate" is-disabled="modal.isEffectiveDisabled() || !modal.processedStickering" fmda-validate="BasisEffDate"></fmda-datepicker>
                </div>
            </div>
        </div>
        <div id="document-hold-no" class="row">
            <br/>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="form-label">Hold Document</p>
                <select class="form-control rt-hold-select" ng-change="modal.change()" ng-options="o.v as o.n for o in [{n:'No',v:false},{n:'Yes',v:true}]" ng-model="modal.document.OnHold">
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="form-label">Hold Effective Date</p>
                <div class="input-group">
                    <fmda-datepicker class="rt-effective-date" ng-model="modal.document.HoldStartDate" is-disabled="modal.isHoldStartDateDisabled()" fmda-validate="HoldStartDate" ></fmda-datepicker>
                </div>                
            </div>
        </div>
        <div class="row" ng-if="modal.document.OnHold">
            <br/>
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="form-group">
                    <p class="form-label">Comment</p>
                    <p>
                        <textarea spellcheck="true" class="form-control rt-document-textbox" rows="3" ng-model="modal.document.Comment"></textarea>
                    </p>
                </div>
            </div>
        </div>
        <div id="edit-document-upload" class="row">
            <br/>
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24" ng-show="modal.document.DocumentTypeId === 3 || modal.document.DocumentTypeId === 6">
                <div class="form-group">
                    <p class="form-label">Upload New Document</p>
                    <p>
                        <input id="filename" class="form-control" type="file" ng-disabled="!modal.processedStickering" onchange="angular.element(this).scope().fileNameChanged()" accept=".doc,.docx,.xls,.xlsx,.pdf"/>
                    </p>
                </div>
            </div>
        </div>        
    </form>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <button class="btn btn-default rt-btn-cancel" ng-click="modal.cancel()">Cancel</button>
            <button class="btn btn-primary rt-btn-save" ng-click="modal.save()" fmda-button>Save</button>
        </div>
    </div>
</div>
