﻿<div id="transaction-pool" class="sub-page">
    <div class="container">

        <div id="search-results-loading" class="spinner wow fadeIn" ng-if="!trans.poolHeaders">
            <div></div>
            <p>Loading Transaction Information...</p>
        </div>

        <dus-deal deal="trans.Deal" pool="trans.Transaction" ng-if="trans.Deal" load-function="trans.dealLoad"></dus-deal>
        
        <div class="anchor offset offset-security" id="transaction-pool-top"></div>
        <div class="callout callout-primary" ng-if="trans.Banners.length > 0">
            <p ng-repeat="banner in trans.Banners" ng-bind-html="banner.Content"></p>
        </div>
        
        <dus-transaction-header transaction="trans.Transaction" document-action="trans.showDocuments()" ng-if="trans.Transaction.ExecutionType"></dus-transaction-header>
        
        <dus-timeline timeline-labels="trans.timelineLabels" transaction="trans.Transaction" timeline-type="Security"
                      ng-if="trans.Transaction.ExecutionType && trans.Transaction.ExecutionType != 'REMIC'"></dus-timeline>

        <dus-security-details ng-if="trans.Transaction.ExecutionType === 'MBS'"
                              transaction-id="trans.TransactionId" 
                              current-balance-date-fields="trans.currentBalanceDateFields" 
                              issuance-fields="trans.issuanceFields" 
                              dscr-fields="trans.DSCRFields" 
                              arm-fields="trans.ARMFields"></dus-security-details>

        <div ng-if="trans.Loans">
            <div ui-scroll="loan in trans.loansSource" start-index="0" buffer-size="trans.scrollerBufferSize" adapter="trans.adapter">
                <dus-loan loan="loan" display-arm="!trans.Transaction.IsFixedInterest" is-credit-facility="trans.isCreditFacility()"></dus-loan>
            </div>
        </div>

        <!--trans.adapter should be able to keep the same name in the ui-scroll above and in this dus-properties directive because they should never exist at the same time-->
        <dus-properties ng-if="trans.Transaction.ExecutionType === 'DMBS' && trans.Transaction.properties" properties="trans.Transaction.properties" use-scroll="true" property-adapter="trans.adapter"/>

        <div class="section" ng-if="trans.Cusips">
            <dus-table data="trans.Cusips" headers="trans.cusipHeaders" classes="table-condensed"></dus-table>
        </div>

        <div class="section" ng-if="trans.Pools">
            <h3>{{trans.Transaction.ExecutionType == 'MEGA' ? 'Pools' : 'COLLATERAL INFORMATION'}}</h3>
            <dus-table data="trans.Pools" headers="trans.poolHeaders" classes="table-condensed no-margin"></dus-table>
        </div>

        <dus-transaction-documents ng-if="trans.IssuanceDocuments && trans.Transaction.ExecutionType != 'MEGA' && trans.Transaction.ExecutionType != 'REMIC'"
                                   additional-disclosure="trans.Transaction.AdditionalDisclosure" 
                                   issuance-documents="trans.IssuanceDocuments"
                                   ongoing-document-dates="trans.OngoingDocumentDates"
                                   transaction-identifier="trans.Transaction.TransactionIdentifier"
                                   transaction-id="trans.TransactionId"></dus-transaction-documents>
    </div>
</div>
