<div class="panel panel-default">
    <fmda-transaction-heading collapse-target="#{{record.TransactionId || record.LoanId}}-footnotes" heading-caption="{{!record.TransactionType ? 'Loan & Collateral' : (record.TransactionType == 1 || record.TransactionType == 4) ? 'Pool' : 'Deal'}} Footnotes" badge-text="{{record.Footnotes.length}}" />
    <div id="{{record.TransactionId || record.LoanId}}-footnotes" class="panel-collapse panel-closed collapse" role="tabpanel">
        <fmda-footnote-content queue="queue" access-obj="accessObj" record="record" transaction-id="transactionId"></fmda-footnote-content>
    </div>
</div>