<div class="modal-header">
    <a ng-click="modal.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="usageAgreementTitle">Usage Agreement</h4>
</div>
<div class="modal-body">
    <p>In order to continue, you must agree to the latest usage agreement (below).</p>
    <p ng-if="!modal.hasRegistered()">
        To avoid this message in the future, please register for an account.
    </p>
    <div class="well scroll">
        <p ng-bind-html="modal.usageAgreement.Content"></p>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-18 col-sm-18 col-md-18 col-lg-18 text-left">
            <button ng-click="modal.cancel()" class="btn btn-default" dus-button>I do not agree</button>
        </div>
        <div class="col-xs-18 col-sm-18 col-md-18 col-lg-18">
            <button ng-click="modal.confirm()" class="btn btn-primary" dus-button>I agree</button>
        </div>
    </div>
</div>
