<div class="text-muted">{{dropdown.category}}</div>
<select class="form-control" ng-model="dropdown.model"
        ng-options="opt.Value as opt.Name for opt in dropdown.result">
    <option value="" ng-if="dropdown.category != 'Security Status'"></option>
</select>