﻿<div class="os-alert bounceInUp row animated ng-animate-disabled">
    <div class="col-xs-12 col-xs-offset-6 col-sm-12 col-sm-offset-6 col-md-12 col-md-offset-6 col-lg-8 col-lg-offset-8">
        <div class="alert alert-dismissible" ng-repeat="(id, notification) in notifications" ng-class="{'alert-warning': notification.type=='warning','alert-success':notification.type=='success'}" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" ng-click="closeNotification(id)"><span aria-hidden="true">×</span></button>
            <p>{{notification.content}}</p>
            <div ng-if="notification.type=='warning'">
                <br>
                <p class="small">Time varies depending on the report criteria and number of records.</p>
                <p class="small">In the meantime, you may build or run another report, but please do not close this browser window.</p>
            </div>
        </div>
    </div>
</div>