﻿<div class="section transaction-header">
    <div class="summary-header">
        <div class="pull-left transaction-type">
            {{transaction.ExecutionType === 'REMIC' ? transaction.TransactionIdentifier : transaction.Prefix}}
            <div>{{transaction.ExecutionType}}</div>
        </div>
        <div class="pull-left">
            <div class="summary-container">
                <div class="label-value" ng-repeat="(key,label) in labels">
                    <div>{{label}}</div>
                    <span ng-if="key === 'IssuanceUPB'"><dus-currency currency-value="transaction[key]"/></span>
                    <span ng-if="key === 'AtIssuancePayingPTR' && transaction[key]">{{transaction[key] | number:4}}%</span>
                    <span ng-if="key === 'Resecuritization'">{{transaction.ResecuritizationRestricted == 'N'? 'Eligible':'Ineligible'}}</span>
                    <span ng-if="key === 'IssueDate' && transaction[key]">{{transaction.IssueDate.format('MM/DD/YYYY')}}</span>
                    <span ng-if="key !== 'IssuanceUPB' && key !== 'Resecuritization' && key !== 'IssueDate' && key != 'AtIssuancePayingPTR'">{{transaction[key]}} 
                        <dus-at-issuance ng-if="key === 'LoanCount' || key === 'PropertyCount'">{{transaction['AtIssuance'+key]}}</dus-at-issuance></span>
                    <span>&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <dus-detail-button record-type="Security" record-id="transaction.Id" record-name="transaction.TransactionIdentifier" ng-if="transaction.ExecutionType != 'MEGA' && transaction.ExecutionType != 'REMIC'"/>
            <!--<span class="badge">27</span>--> <!--<a href="javascript:void(0);" class="btn btn-warning" data-toggle="modal" data-target="#notificationsIssuanceModal"><span class="glyphicon glyphicon-bullhorn"></span> Notifications</a>-->
            <!--<span class="badge">25</span> <a href="javascript:void(0);" data-toggle="modal" data-target="#notificationsIssuanceModal">Issuance Data Changes</a>
            <br class="visible-md" />
            <span class="badge">2</span> <a href="javascript:void(0);" data-toggle="modal" data-target="#notificationsAlertsModal">Alerts</a>-->
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="pull-left">

    </div>
    <div class="pull-right transaction-buttons">
        <div class="padded-text text-muted pull-left" ng-if="!userAuthenticated()">Login or register for more options.</div>
        <div class="btn-group" uib-dropdown ng-if="userAuthenticated()">
            <btn class="btn btn-primary dropdown-toggle" uib-dropdown-toggle><span class="glyphicon glyphicon-plus"></span> Add to Portfolio</btn>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="portfolio in userPortfolios"><a ng-click="addTransactionToPortfolio(portfolio)">{{portfolio.Name}}</a></li>
                <li ng-if="userPortfolios.length == 0" class="no-portfolio">You do not currently have any Portfolios.</li>
                <li ng-if="userPortfolios.length == 0" class="no-portfolio">Build an Advanced Search to create one.</li>
            </ul>
        </div>
        <a class="btn btn-primary" ng-if="userAuthenticated()" href="service/transaction/{{transaction.ExecutionType == 'REMIC' ? transaction.DealId : transaction.Id}}/{{transaction.ExecutionType}}/{{transaction.TransactionIdentifier}}/fulldata" download
           analytics-on analytics-category={{getGACategory()}} analytics-event="Download" analytics-label={{getGALabel()}}>
        <span class="glyphicon glyphicon-circle-arrow-down"></span> Download Data</a>
        <btn ng-click="goToDocuments()" ng-if="transaction.ExecutionType != 'MEGA' && transaction.ExecutionType != 'REMIC'" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Documents</btn>
        <btn ng-click="displayNotifications()" ng-if="transaction.ExecutionType != 'MEGA' && transaction.ExecutionType != 'REMIC'" class="btn btn-warning"><span class="glyphicon glyphicon-bullhorn"></span> Notifications</btn>
    </div>
    <div class="clearfix"></div>
</div>
