<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Holds & Banners: <span class="text-primary">Banners</span></h1>
    </div>
    <div class="col-xs-24 col-sm-8 col-md-4 col-lg-4 text-right">
        <button ng-if="banners.accessObj.hasCreateAccess" class="btn btn-sm btn-success rt-addNew-btn" ng-click="banners.processBanner({}, 'Add');">
        <span class="glyphicon glyphicon-plus"></span> New Banner</button>
    </div>
</div>
<div role="tabpanel" ng-if="banners.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: banners.activeTab.id == tab.id}" ng-repeat="tab in banners.tabs">
                    <a ui-sref="banners({tabid: tab.id})" ui-sref-opts="({notify: false})" ng-click="banners.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a ng-click="banners.load()" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="banners.activeTab.data.all" output="banners.activeTab.data.filtered" on="Name" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row" ng-show="banners.activeTab.data.all.length < 1">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    There are currently no {{ banners.activeTab.caption | lowercase }} banners.
                </div>
            </div>
        </div>
        <div class="row" ng-show="banners.activeTab.data.filtered.length === 0 && banners.activeTab.data.all.length > 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    No {{banners.activeTab.caption | lowercase}} banners match your filter criteria.
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="banners-tab-active" ng-show="banners.activeTab.data.filtered.length > 0">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="Name" params="banners.sort" array-to-sort="banners.activeTab.data.filtered" sorted="banners.activeTab.data.sorted">Name</th>
                                    <th fmda-sort="StartDate" params="banners.sort" array-to-sort="banners.activeTab.data.filtered" sorted="banners.activeTab.data.sorted">Start Date</th>
                                    <th fmda-sort="EndBasis" params="banners.sort" array-to-sort="banners.activeTab.data.filtered" sorted="banners.activeTab.data.sorted">End Basis</th>
                                    <th fmda-sort="Content" params="banners.sort" array-to-sort="banners.activeTab.data.filtered" sorted="banners.activeTab.data.sorted">Banner Content</th>
                                    <th fmda-sort="AffectedTransactionCount" params="banners.sort" array-to-sort="banners.activeTab.data.filtered" sorted="banners.activeTab.data.sorted"><a>Pools</a></th>
                                    <th class="w20"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="b in banners.activeTab.data.paged">
                                    <td class="rt-banner-name">{{b.Name}}</td>
                                    <td>{{b.StartDate | date: "MM/dd/yyyy"}}</td>
                                    <td>{{ !b.EndDate ? (b.EndBasis ? 'Pool Termination' : '') : (b.EndDate | date: "MM/dd/yyyy")}}</td>
                                    <td><p ng-bind-html="b.Content" class="rt-banner-content"></p></td>
                                    <td>
                                        <fmda-affected-transactions record-id="b.Id" mode="banners" count="b.AffectedTransactionCount"></fmda-affected-transactions>
                                    </td>
                                    <td>
                                        <div class="btn-toolbar pull-right">
                                            <fmda-audit-trail ng-if="banners.accessObj.hasViewAccess" record-id="b.Id" record-name="b.Name" mode="Banners"></fmda-audit-trail>
                                            <button ng-if="banners.accessObj.hasEditAccess && b.Active" class="btn btn-xs btn-primary rt-edit-btn" ng-click="banners.processBanner(b, 'Edit');"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs hidden-sm"> Edit</span></button> 
                                            <button ng-if="banners.accessObj.hasCreateAccess" class="btn btn-xs btn-success rt-copy-btn" ng-click="banners.processBanner(b, 'Copy');"><span class="glyphicon glyphicon-duplicate"></span><span class="hidden-xs hidden-sm"> Copy</span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="banners.activeTab.data.sorted" paged-data="banners.activeTab.data.paged" page-size="20"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
