<div class="modal-header">
    <a href="javascript:void(0);" class="close" ng-click="modal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title rt-ins-hold-modal-title">{{modal.title}} Issuance Publication Hold</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-16 col-lg-16">
            <form name="holdCriteriaForm">
                <div class="form-group">
                    <p class="form-label">Hold Name</p>
                    <p><input maxlength="200" type="text" class="form-control rt-inshold-input" placeholder="Hold Name" ng-model="modal.holdCriteria.Name" fmda-validate="Name">
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <p class="form-label">Description</p>
                            <p><textarea spellcheck="true" class="form-control rt-descr-input" rows="3" ng-readonly="modal.isReadOnly" ng-model="modal.holdCriteria.Description" fmda-validate="Description"></textarea>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <p class="form-label">Reviewers</p>
                            <div>
                                <div fmda-validate="Reviewers">
                                    <p class="checkbox">
                                        <label>
                                            <input type="checkbox" class="rt-disc-checkbox" ng-model="modal.holdCriteria.Dops"> Disclosure Operations
                                        </label>
                                    </p>
                                    <p class="checkbox">
                                        <label>
                                            <input type="checkbox" class="rt-ad-checkbox" ng-model="modal.holdCriteria.Ad"> Additional Disclosure
                                        </label>
                                    </p>
                                    <p class="checkbox">
                                        <label>
                                            <input type="checkbox" class="rt-st-checkbox" ng-model="modal.holdCriteria.St"> Specialized Transactions
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <p class="form-label">Start Date</p>
                            <div class="input-group">
                                <fmda-datepicker ng-model="modal.holdCriteria.StartDate" class="rt-hl-startdate" fmda-validate="StartDate" disabled-date-buttons="modal.startDisabled" is-disabled="modal.isReadOnly"></fmda-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <p class="form-label">End Date</p>
                            <div class="input-group">
                                <fmda-datepicker ng-model="modal.holdCriteria.EndDate" class="rt-hl-enddate" fmda-validate="EndDate" disabled-date-buttons="modal.endDisabled"></fmda-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <fmda-criteria-input filter-list="modal.holdCriteria.Filters" metadata-uri="metadata/issuanceholds" instance-type="HoldCriteriaFilter" input-disabled="modal.isReadOnly" validate-filters="Filters"></fmda-criteria-input>
            </form>
        </div>
        <div class="col-xs-24 col-sm-24 col-md-8 col-lg-8">
            <fmda-affected-preview criteria="modal.holdCriteria.Filters" mode="issuancehold" preview-disabled="modal.title == 'Edit'"></fmda-affected-preview>
        </div>
    </div>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-16 col-lg-16 text-left">
            <div ng-if="modal.title == 'Edit'">
                <div id="delete-issuance-hold-button" ng-if="!modal.showConfirmDelete">
                    <a href="javascript:void(0);" class="btn btn-danger" ng-click="modal.deleteHoldConfirm()">Delete Hold</a>
                </div>
                <div id="delete-issuance-hold-confirm" ng-if="modal.showConfirmDelete">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-danger" ng-click="modal.deleteHold()" fmda-button>Confirm Delete</button>
                            <a class="btn btn-link" ng-click="modal.deleteHoldRevert()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-xs-24 col-sm-24 col-md-8 col-lg-8">
            <div>
                <button class="btn btn-default rt-cancel-ins-hold" ng-click="modal.cancel()">Cancel</button>
                <button class="btn btn-primary rt-add-ins-hold" ng-click="modal.save()" fmda-button><!--{{modal.title == "Edit"? 'Save' : 'Add Issuance Hold'}}-->Save</button>
            </div>
        </div>
    </div>
</div>
