<div class="row">
    <div class="col-xs-16 col-sm-16 col-md-20 col-lg-20">
        <h1>System: <span class="text-primary">User Roles</span></h1>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-right">
        <button ng-if="roles.accessObj.hasCreateAccess" class="btn btn-sm btn-success" ng-click="roles.add()">
        <span class="glyphicon glyphicon-plus"></span> Add User Role</button>
    </div>
</div>
<div role="tabpanel" ng-if="roles.loaded">
    <div class="row">
        <div class="col-xs-16 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: roles.activeTab.id == tab.id}" ng-repeat="tab in roles.tabs">
                    <a name="{{tab.caption}}" ui-sref="roles({tabid: tab.id})" class="roles-status-tabs" ui-sref-opts="({notify: false})" ng-click="roles.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-link" ng-click="roles.refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="roles.activeTab.data.all" output="roles.activeTab.data.filtered" on="Name" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" ng-class="{active: roles.activeTab.id == tab.id}" ng-repeat="tab in roles.tabs">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="well" ng-if="tab.data.all.length === 0">
                        There are currently no {{tab.caption | lowercase}} user roles.
                    </div>
                    <div class="well" ng-if="tab.data.filtered.length === 0 && tab.data.all.length > 0">
                        No {{tab.caption | lowercase}} user roles match your filter criteria.
                    </div>
                    <div class="table-responsive" ng-show="tab.data.filtered.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="Name" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in tab.data.paged">
                                    <td class="rt-role-name">{{item.Name}}</td>
                                    <td>
                                        <div class="btn-toolbar pull-right">
                                            <button ng-if="roles.accessObj.hasEditAccess" class="btn btn-xs btn-primary rt-edit-btn" ng-click="roles.edit(item)">
                                                <span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs hidden-sm"> Edit</span>
                                            </button>
                                            <button ng-if="roles.accessObj.hasCreateAccess" class="btn btn-xs btn-success rt-copy-btn" ng-click="roles.copy(item)">
                                                <span class="glyphicon glyphicon-duplicate"></span><span class="hidden-xs hidden-sm"> Copy</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="tab.data.sorted" paged-data="tab.data.paged" page-size="20"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>