*	{
	margin:0px;
	padding:0px;
}

html	{
	height:100%;
}

body	{
	/* min-width:600px; */
	line-height: 1;
	/*font-family:proxima-nova,arial,sans-serif;
	font-weight:400;*/
	font-size:14px;
	height:100%;
	color:#4d4d4d;
	background:url(../images/bg_grid_pattern.png);
	/* min-width:640px; */
	/* padding-top:50px; */
	-webkit-backface-visibility: hidden;
}

.container-main	{
	padding:70px 0 40px 0;
}

#loader	{
	background-image:url(../images/barberpole.gif);
	height:5px;
	width:100%;
	position:fixed;
	z-index:5;
	top:50px;
	display:none;
}

#loader-modal,
.loader-modal	{
	background-image:url(../images/barberpole.gif);
	height:5px;
	width:100%;
	position:absolute;
	z-index:5;
	display:none;
}

#spinner	{
	background:url(../images/spinner.gif) no-repeat;
	background-position:50% 0;
	width:100px;
	height:80px;
	position:absolute;
	z-index:10;
	top:200px;
	left:50%;
	margin-left:-50px;
	text-align:center;
	color:#215989;
	padding:64px 0 0 0;
}

#version-number span	{
	color:#cccccc;
	position:fixed;
	z-index:10;
	bottom:0;
	right:0;
	padding:2px;
	font-size:9px;
}

.clr	{
	clear:both;
}

.full	{
	width:100%;
}

.half	{
	width:50%;
}

.wow	{
	-webkit-transform: translateZ(0);
}

.media-heading	{
	margin:0 0 10px 0;
}

.no-hover:hover	{
	text-decoration:none;
}

#breadcrumb .active a	{
	text-decoration:none;
	color:#333;
	cursor:default;
	padding:8px 10px;
}

.container-edge	{
	padding:0px !important;
	margin:0px !important;
}

.hspace	{
	padding:0 6px;
}

.spacer	{
	margin-top:40px;
}

.spacer-small	{
	margin-top:20px;
}

.indent	{
	margin-left:16px;
}

.indent-small	{
	margin-left:6px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6	{
	font-weight:normal;
}

h1	{
	font-size:24px;
	font-weight:300;
	margin:0 0 16px 0;
}

hr	{
	margin-top:10px;
	margin-bottom:10px;
}

p	{
	margin:0 0 8px 0;
	line-height:1.2em;	
}

.text-muted,
.text-muted a	{
	color:#aaa;
}

.text-muted a:hover	{
	color:#215989;
}

label	{
	font-weight:normal;
}

.clear	{
	clear:both;
}

#navbar-container	{/*THIS ENSURES THAT THE MENUS DISPLAY ABOVE ANY OTHER FIXED ELEMENTS*/
	 position:relative;
	 z-index:5;
}

.navbar	{
	/* min-width:1000px; */
	/* margin-bottom:30px; */
	z-index:4;
}


.navbar-default	{
	border-radius:0px;
	border:none;
	/*background-image:none;
	background-color:#215989;*/
	box-shadow: 0 2px 2px -2px #333;
}
	
#logo,
.navbar-brand	{
	float:left;
	text-indent:-9999px;
	border-right:1px solid #173E5F;
	background:url(../images/logo_rockport.png) transparent no-repeat;
	background-position:50% 6px;
	width:184px;
	height:50px;
	cursor:pointer;
}

#logo	{
	border:none;
}

.navbar-brand	{
	background:url(../images/logo_rockport_2x.png) transparent no-repeat;
	background-size:154px 32px;
	background-position:55% 9px;
}

.navbar-brand.symbol	{
	width:48px;
	background:url(../images/logo_symbol_2x.png) transparent no-repeat;
	background-size:21px 32px;
	background-position:55% 9px;
}

.os-alert	{
	 position:fixed;
	 bottom:0;
	 width:100%;
	 z-index:10;
}

.icon-btn	{
	width:40px;
	height:34px;
	padding:0px;
}

.icon-logo	{
	width:100%;
	height:100%;
	display:block;
	background:url(../images/logo_icon_2x.png) transparent no-repeat;
	background-size:34px 34px;
	background-position:50% 50%;
}

#login	{
	width:400px;
	margin:0 auto;
}

#login #logo	{
	float:none;
	margin:20px auto;
	width:154px;
	background-position:50% -54px;
}

.container-fluid,
.navbar.navbar-standalone .container-fluid	{
	padding:0 15px;
}

.navbar.navbar-standalone	{
	margin-bottom:10px;
	z-index:1000;
}

.col-centered	{
	margin:0 auto;
}

.col-no-padding,
.no-padding	{
	padding:0;
}

.no-margin	{
	margin:0;
}

.navbar .container-fluid	{
	padding:0 0 0 15px;
}

.navbar-collapse,
.navbar-nav	{
	margin:0px;
}

.navbar-toggle	{
	right:15px;
}

.navbar-collapse	{
	padding-left:0px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover	{
	color:#ffffff;
	text-shadow:none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus	{
	color:#1b64b3;
	background-color:#ffffff;
}

.navbar-collapse.collapse.in .dropdown-menu	{
	background-color:#fff !important;
}

.collapse.in .nav-tab	{
	border-left:none;
}

.dropdown-menu,
.heir-menu	{
	border-radius:0px;
	padding:0px;
	font-size:16px;
	/* width:250px; */
	border-bottom:none;
}

.navbar-app .dropdown-menu,
.dropdown-menu.wide	{
	width:250px;
}

.field-display-restore-btn	{
	position:absolute;
	z-index:2;
	top:18px;
	right:18px;
}

.dropdown-header	{
	border-bottom:1px solid #ccc;
	font-size:16px;
	padding:6px 20px;
	color:#999;
}

.dropdown-menu>ul,
.hier-menu>ul	{
	margin:0px;
	list-style:none;
}

ul.dropdown-menu>li>a,
.dropdown-menu>ul>li>a,
.hier-menu>ul>li>a	{
	padding: 8px 14px;
	display: block;
	text-decoration: none;
	color: #4d4d4d;
	line-height: 1.5em;
	border-bottom:1px solid #ccc;
	white-space:normal;
}

.dropdown-menu.compact>li>a	{
	padding:6px 12px;
	font-size:14px;
}

.dropdown-menu>ul>li>a:hover,
.dropdown-menu>ul>li>a:focus,
.dropdown-menu>ul>li.hier>div.hier-menu>ul>li>a:hover	{
	background-color:#dfeff8;
}

.dropdown-menu>ul>li.header,
.hier-menu>ul>li.header	{
	border-bottom: 1px solid #ccc !important;
	padding: 14px 14px 12px 14px;
	color: #27588d;
	-webkit-box-shadow:0 18px 12px -6px rgba(0,0,0,0.175);
	box-shadow:0 6px 12px -6px rgba(0,0,0,0.175);
}
	
.dropdown-menu .divider	{
	margin:0px;
}

.navbar .dropdown-menu,
.navbar .drowdown-menu .hier-menu,
.list-group.scroll	{	
	border-top:none;
	-webkit-box-shadow:0 18px 12px -6px rgba(0,0,0,0.175);
	box-shadow:0 6px 12px -6px rgba(0,0,0,0.175);
}

.panel-group .panel-heading+.panel-collapse>.list-group	{
	border-top:none;
}

.nav-tab,
.user-menu #navbar-user.nav-tab	{
	border-left:1px solid #44739A;
	border-right:1px solid #173E5F;
	width:50px;
	height:50px;
	cursor:pointer;
	text-align:center;
}

.nav-tab .badge	{
	position:relative;
	top:16px;
	border-radius:5px 5px 0 0;
	font-size:10px;
	font-weight:normal;
	padding:3px 6px 2px 6px;
/* 	box-shadow: -1px -1px 10px #888888; */
}

.open .nav-tab	{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}

.open .nav-tab .badge	{
/* 	display:none; */
	border-radius:5px;
}

.navbar-default .navbar-nav .nav-tab:hover	{
	background-color:#396A95;
}

.nav-tab,
.btn-qs,
.user-menu #navbar-user.nav-tab	{
	background-image:url(../images/icon_toolbar-sprite.png) !important;
	background-repeat:no-repeat;
}

#navbar-add	{
	background-position:4px 7px;
}

.open #navbar-add	{
	background-position:-36px 7px;
}

#navbar-reports	{
	background-position:4px -34px;
}

.open #navbar-reports	{
	background-position:-36px -34px;
}

#navbar-history	{
	background-position:4px -74px;
}

.open #navbar-history	{
	background-position:-36px -74px;
}

#navbar-filters	{
	background-position:4px -114px;
}

#navbar-filters.active,
.open #navbar-filters.active	{
	background-position:-76px -114px;
}

.open #navbar-filters	{
	background-position:-36px -114px;
}

#navbar-tasks	{
	background-position:4px -154px;
}

.open #navbar-tasks	{
	background-position:-36px -154px;
}

#navbar-notifications	{
	background-position:4px -194px;
}

.open #navbar-notifications	{
	background-position:-36px -194px;
}

#navbar-tools	{
	background-position:4px -234px;
}

.open #navbar-tools	{
	background-position:-36px -234px;
}

#navbar-user	{
	background-position:4px -274px;
	border-right:none;
}

.open #navbar-user	{
	background-position:-36px -274px;
}

.user-menu	{
	position:relative;
}

.user-menu .nav-tab	{
	border-left:1px solid #44739A;
	width:auto;
	position:relative;
	font-size:16px;
	max-width:194px;
	/*overflow-x:hidden;*/
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:block;
	padding:15px;
	border-right:none;
	background-image:none !important;
}

.user-menu .nav-tab .user-view	{
	font-size:12px;
	position:absolute;
	top:24px;
	left:15px;
}

.multi-view .nav-tab span	{
	position:relative;
	top:-8px;
}

.dropdown.user-menu .dropdown-menu	{
	width:312px;
	border-right:none;
}

small, .small	{
	font-size:80%;
	line-height:1em;
	font-weight:normal;
}

/* 
.collapse.in .dropdown.user-menu .dropdown-menu	{
	width:100%;
}
 */
 
.collapse.in .dropdown.user-menu span	{
	left:-8px;
}

.collapse.in .dropdown.user-menu span.user-view	{
	left:13px;
}

.collapse.in .btn-qs	{
	float:left;
	left:-48px;
}

/* 
.dropdown.user-menu.open .nav-tab	{
	border-right:1px solid #ccc;
}
 */

/* 
.navbar-form	{
	margin:0px;
	padding:0px;
}
 */

.navbar-form .form-group	{
	margin:0px;
}
		
.qs-block	{
	/* float:left; */
	background-color:#173e5f;
	position:relative;
}

.qs-block .nav-tab	{
	border-left:none;
}

/* 
.qs-block .nav-tab:hover	{
	background-color:#2f526f !important;
}

.qs-block .nav-tab:active	{
	background-color:#396a95 !important;
}
 */

.qs-field	{
	float:left;
	box-shadow:none;
	/* width:220px !important; *//*sets width of search box, button moves with it*/
	border:1px solid #ccc;
	border-right:none;
	color:#999;
	/*font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;*/
	outline:none;
	padding-right:38px;
	/* margin:8px; */
}

.qs-menu	{
	position:absolute;
	top:49px;
	left:-1px;
	width:323px !important;
}

.padded-text	{/*to align text with button text*/
	display:inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height:1.5em;
}

.flush-left	{
	margin-left:0px;
	padding-left:0px;
}

.flush-right	{
	margin-right:0px;
	padding-right:0px;
}

.btn-qs	{
	background-position:0px -284px;
	text-indent:-9999px;
	padding:0px;
	height:32px;
	width:38px;
	border:none;
	-webkit-box-shadow:none;
	position:relative;
	top:1px;
	right:38px;
	float:right;
	margin-right:-38px;
}

.btn-qs:active,
.btn-qs:hover	{
	background-position:-40px -284px;
	background-color:transparent;
}

.btn-qs:active	{
	background-position:-39px -283px;
	background-color:transparent;
}

.badge	{
	background-color:#fba141;
}

/* 
.power-panel-group	{
	position:relative;
	top:-12px;
}

.power-panel-group .panel	{
	border:none;
	padding:0px;
}

.power-panel-group .panel .panel-body	{
	padding:0px 15px;
	background-color:none;
}
 */

.panel-heading.no-padding	{
	padding:0px;
}

/* 
.panel-heading	{
	padding:0px;
}
 */

/* 
.panel-group .panel+.panel	{
	margin-top:0px;
	border-top:none;
}
 */

.dnd-container .row	{
	margin-bottom:16px;
}

.dnd-container input	{
	margin-bottom:3px;
}

.list-group	{
    margin-bottom:0px;
}

/* 
.panel-collapse .panel-body	{
    padding:0px;
}
 */

.panel-basic .panel-heading	{
	background: #ced5d9;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    padding: 5px 8px 4px 8px;
    position: relative;
}

.panel-basic .panel-body,
.panel-no-box .panel-body .panel-basic .panel-body	{
	padding:10px 10px 0 10px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group	{
	border-top:none;
}

.panel-title a	{
	display:block;
	width:100%;
	padding:10px 15px;
}

.panel-heading:hover,
.panel-title a:hover	{
	text-decoration:none;
	/* background-color:#ddd; */
}

.panel-heading>h4.panel-title	{
	margin:-10px -15px;
}

.panel-default>.panel-heading.panel-heading-main,
.panel-default>.panel-heading.panel-heading-sub	{
	background:#fff;
	border:1px solid #ced5d9;
}

.panel-heading-main .panel-title	{
	font-size:21px;
	padding-top:4px;
}

.panel-title.panel-title-lg small	{
	font-size:14px;	
}

.panel-primary .panel-heading>h4.panel-title small	{
	color:#fff;
}

.alert-panel	{
	margin:10px 10px 0px 10px;
}

.panel-no-box	{
	border:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.panel-no-box .panel-body	{
	padding-bottom:0px;
	/* padding:10px 0 15px 0; */
	/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

.panel-no-border	{
	border:none;
}

.panel-no-border .panel-body	{
	padding:15px;
}

/* 
.panel:last-child	{
	margin-bottom:0px;
	padding-bottom:0px;
}
 */

.panel-body-sub	{
	margin:0 -14px;
}

/* 
.panel-body .table	{
	margin-bottom:0px;
}
 */

.panel-body-seamless	{
	background-color:#f5f5f5;
}

/* TABLES */
table	{
	/* border:1px solid #ccc; */
	background:#fff;
}

.table	{
	margin-bottom:10px;
}

.table-responsive	{
	width:100%;
}

.table>thead>tr>th,
.table>thead>tr>th a,
.list-group-item-heading	{
	font-weight:normal;
	/* text-align: left; */
	background: #ced5d9;
	text-transform: uppercase;
	/* padding: 5px 8px 4px 8px; */
	line-height:1.2em;
	font-size: 12px;
	color: #000;
	vertical-align: bottom;
	border-bottom:none;
}

.list-group-item-heading	{
	padding:8px;
	margin-bottom:0px;
}

.table>thead>tr>th a:hover	{
	text-decoration:none;
}

tr.sub-group-1-totals td,
tr.sub-group-2-totals td,
tr.sub-group-3-totals td,
.totals	{
	/* font-weight:bold; */
	color:#215989;
	/* border-bottom:1px solid #ffffff; */
}

tr.report-totals td	{
	font-weight:bold;
	background:#215989;
	color:#ffffff;
}

tr.sub-group-1-totals td	{
	/* border-top:3px solid #cfcfcf !important; */
	/* border-bottom:3px solid #999999; */
}

tr.sub-group-2-totals td	{
	/* border-top:2px solid #d9d9d9 !important; */
}

tr.sub-group-3-totals td	{
	/* border-top:1px solid #e5e5e5 !important; */
}

tr.sub-group-1-header td:first-child,
tr.sub-group-1-row td:first-child,
tr.sub-group-1-totals td:first-child	{
	
}

tr.sub-group-2-header td:first-child,
tr.sub-group-2-row td:first-child,
tr.sub-group-2-totals td:first-child	{
	padding-left:20px;
}

tr.sub-group-3-header td:first-child,
tr.sub-group-3-row td:first-child,
tr.sub-group-3-totals td:first-child	{
	padding-left:40px;
}

.sub-group-1-header td	{
	cursor:help;
	/* background-color:#f7f7f7; */
	font-weight:bold;
	color:#000000;
}

.sub-group-1-row,
.sub-group-1-totals	{
	/* background-color:#f7f7f7; */
}

.sub-group-2-header td	{
	cursor:help;
	/* background-color:#e8e8e8; */
	font-weight:bold;
	color:#000000;
}

.sub-group-2-row,
.sub-group-2-totals	{
	/* background-color:#e8e8e8; */
}

.sub-group-3-header td	{
	cursor:help;
	/* background-color:#dcdcdc; */
	font-weight:bold;
	color:#000000;
}

.sub-group-3-row,
.sub-group-3-totals	{
	/* background-color:#dcdcdc; */
}

.sub-group-1-totals,
.sub-group-2-totals,
.sub-group-3-totals	{
	font-weight:bold !important;
}


table .form-control	{
	margin-right:0px;
}
	
.sort-sentence	{
	line-height:1.8em;
}

.sort-badge,
.drag-control	{
	cursor:move;
	/* margin-right:6px; */
}

/* 
.group-1-first-cell	{
	border-left:4px solid #fcf8e3;
}
 */

td	{
	padding: 7px 4px 4px 8px;
	/* position: relative; */
	text-decoration: none;
	color: #4d4d4d;
	line-height: 1.2em !important;
	font-size: 13px;
	vertical-align:top;
}

/* 
td .btn-group .btn	{
	position:relative;
	top:-4px;
}
 */

td .btn-group .dropdown-menu	{
	top:15px;
}

.pagination	{
	margin-top:0px;
}

.page-count	{
	position:relative;
	top:10px;
	left:10px;
}


/* 
.rows-striped .row:nth-of-type(even) {
    background: #e0e0e0;
    margin-top:10px;
    padding-bottom:10px;
}
 */

.filters-grouped	{
	border:1px solid #ccc;
	padding:8px 15px 0 15px;
}

/* TABLE WIDTHS */
.w5	{width:5%;}
.w10	{width:10%;}
.w15	{width:15%;}
.w20	{width:20%;}
.w25	{width:25%;}
.w30	{width:30%;}
.w35	{width:35%;}
.w40	{width:40%;}
.w45	{width:45%;}
.w50	{width:50%;}
.w55	{width:55%;}
.w60	{width:60%;}
.w65	{width:65%;}
.w70	{width:70%;}
.w75	{width:75%;}
.w80	{width:80%;}
.w85	{width:85%;}
.w90	{width:90%;}
.w95	{width:95%;}

/* BUTTONS */
.btn	{
	text-align:left;
}

.btn-wysiwyg	{
	width:30px;
	height:30px;
	text-align:center;
}

.btn-icon	{
	margin-left:4px;
	padding:4px;
}

span.btn:hover	{
	color:#fff;
	cursor:default;
}

span.btn-success:hover	{
	background-color:#278d27;
	border-color:#217921;
}

span.btn-danger:hover	{
	background-color:#990000;
	border-color:#800000;
}

.btn-no-bg,
.btn-no-bg:active	{
	background:none;
	border:none;
	box-shadow:none;
}

.btn-align	{
	position:relative;
	top:10px;
}

/* TABS */
.nav.nav-tabs	{
	float:left;
	margin-bottom:9px;
	box-shadow:0 2px 4px #eee;
	border-left:1px solid #ddd;
	border-bottom:none;
}

.nav.nav-tabs li a,
.nav.nav-tabs li a:hover	{
	line-height:1;
	color:#000;
	text-transform:uppercase;
	padding:8px 12px 7px 12px;
	font-size:14px;
	margin-right:0;
	background-color:#fff;
	border:1px solid #ddd;
	border-left:none;
	border-radius:0px;
}

.nav.nav-tabs li a:hover	{
	background-color:#dfeff8;
}

.nav.nav-tabs li.active a,
.nav.nav-tabs li.active a:hover	{
	border: 1px solid #68b2e0;
	background-color: #68b2e0;
	color: #fff;
}

/* BOXES */
.box	{
	/* background:#fff; */
	border:1px solid #ccc;
	margin:0 0 20px 0;	
}

.box-padded	{
	line-height:1.2em;
	padding:10px 10px 0 10px;
}

.box-table	{
	border:none;
	padding:0;
}

/* ICONS */
.glyphicon-lg	{
	font-size:1.5em;
	line-height:1.5em;
}

.icon span,
li.no-link .icon span	{
	position:relative;
	/* top:5px; */
}

li .icon span,
li.hier span,
.btn.icon span	{
	top:0px;
}

.icon span:after	{
	clear:both;
}

.icon:before	{
	background:url(../images/icon_main-sprite.png) transparent 0 0;
	content:"";
	float:left;
	clear:none;
	width:21px;
	height:22px;
	margin:0 6px 0 0;
}

li .icon:before	{
	margin:0 6px 0 0;
}

li span.icon:before	{
	margin:0 2px 0 0;
}

.icon.loan:before	{
	background-position:0px 2px;
}

.icon.loan:not(.no-hover):hover:before	{
	background-position:-30px 2px;
}

.panel-primary .icon.loan:before,
.panel-primary .icon.loan:hover:before,
.btn-primary.icon.loan:before,
.btn-primary.icon.loan:hover:before	{
	background-position:-60px 0px;
}

.icon.loan-group:before	{
	background-position:0px -30px;
}

.icon.loan-group:not(.no-hover):hover:before	{
	background-position:-30px -30px;
}

.panel-primary .icon.loan-group:before,
.panel-primary .icon.loan-group:hover:before,
.btn-primary.icon.loan-group:before,
.btn-primary.icon.loan-group:hover:before	{
	background-position:-60px -30px;
}

.icon.property:before	{
	background-position:0px -60px;
}

.icon.property:not(.no-hover):hover:before	{
	background-position:-30px -60px;
}

.panel-primary .icon.property:before,
.panel-primary .icon.property:hover:before,
.btn-primary.icon.property:before,
.btn-primary.icon.property:hover:before	{
	background-position:-60px -60px;
}

.icon.portfolio:before	{
	background-position:0px -90px;
}

.icon.portfolio:not(.no-hover):hover:before	{
	background-position:-30px -90px;
}

.panel-primary .icon.portfolio:before,
.panel-primary .icon.portfolio:hover:before,
.btn-primary.icon.portfolio:before,
.btn-primary.icon.portfolio:hover:before	{
	background-position:-60px -90px;
}

.icon.legal-entity:before	{
	background-position:0px -120px;
}

.icon.legal-entity:not(.no-hover):hover:before	{
	background-position:-30px -120px;
}

.panel-primary .icon.legal-entity:before,
.panel-primary .icon.legal-entity:hover:before,
.btn-primary.icon.legal-entity:before,
.btn-primary.icon.legal-entity:hover:before	{
	background-position:-60px -120px;
}

.icon.deal:before	{
	background-position:0px -150px;
}

.icon.deal:not(.no-hover):hover:before	{
	background-position:-30px -150px;
}

.panel-primary .icon.deal:before,
.panel-primary .icon.deal:hover:before,
.btn-primary.icon.deal:before,
.btn-primary.icon.deal:hover:before	{
	background-position:-60px -150px;
}

.icon.bond:not(.no-hover):before	{
	background-position:0px -180px;
}

.icon.bond:hover:before	{
	background-position:-30px -180px;
}

.panel-primary .icon.bond:before,
.panel-primary .icon.bond:hover:before,
.btn-primary.icon.bond:before,
.btn-primary.icon.bond:hover:before	{
	background-position:-60px -180px;
}

.icon.task:not(.no-hover):before	{
	background-position:0px -210px;
}

.icon.task:hover:before	{
	background-position:-30px -210px;
}

.icon.default:before	{
	background-position:0px -240px;
}

.icon.default:not(.no-hover):hover:before	{
	background-position:-30px -240px;
}

.icon.search:before	{
	background-position:0px -270px;
}

.icon.search:not(.no-hover):hover:before	{
	background-position:-30px -270px;
}

.icon.reports:before	{
	background-position:0px -300px;
}

.icon.reports:not(.no-hover):hover:before	{
	background-position:-30px -300px;
}

.icon.trends:before	{
	background-position:0px -330px;
}

.icon.trends:not(.no-hover):hover:before	{
	background-position:-30px -330px;
}

.icon.ad-hoc:before	{
	background-position:0px -360px;
}

.icon.ad-hoc:not(.no-hover):hover:before	{
	background-position:-30px -360px;
}

.icon.charts:before	{
	background-position:0px -390px;
}

.icon.charts:not(.no-hover):hover:before	{
	background-position:-30px -390px;
}

.icon.favorite:before	{
	background-position:0px -420px;
}

.icon.favorite:not(.no-hover):hover:before	{
	background-position:-30px -420px;
}

.user-menu .icon	{
	padding:8px 14px;
}

.user-menu .icon:before	{
	width:18px;
}

.icon.notifications:before	{
	background-position:88px 4px;
}

.icon.notifications:not(.no-hover):hover:before	{
	background-position:48px 4px;
}

.icon.admin:before	{
	background-position:88px -16px;
}

.icon.admin:not(.no-hover):hover:before	{
	background-position:48px -16px;
}

.icon.view:before	{
	background-position:88px -36px;
}

.icon.view:not(.no-hover):hover:before	{
	background-position:48px -36px;
}

.icon.help:before	{
	background-position:88px -56px;
}

.icon.help:not(.no-hover):hover:before	{
	background-position:48px -56px;
}

.icon.info:before	{
	background-position:88px -76px;
}

.icon.info:not(.no-hover):hover:before	{
	background-position:48px -76px;
}

.icon.tasks:before	{
	background-position:88px -96px;
}

.icon.tasks:not(.no-hover):hover:before	{
	background-position:48px -96px;
}

.icon.excel:before	{
	background-position:88px -116px;
}

.icon.excel:not(.no-hover):hover:before	{
	background-position:48px -116px;
}

.icon.power:before	{
	background-position:88px -136px;
}

.icon.power:not(.no-hover):hover:before	{
	background-position:48px -136px;
}

.icon.map:before	{
	background-position:88px -156px;
}

.icon.map:not(.no-hover):hover:before	{
	background-position:48px -156px;
}

.icon.add:before	{
	background-position:88px -176px;
}

.icon.add:not(.no-hover):hover:before	{
	background-position:48px -176px;
}

.icon.filter:before	{
	background-position:88px -196px;
}

.icon.filter:not(.no-hover):hover:before	{
	background-position:48px -196px;
}

.icon.history:before	{
	background-position:88px -216px;
}

.icon.history:not(.no-hover):hover:before	{
	background-position:48px -216px;
}

.icon.settings:before	{
	background-position:88px -496px;
}

.icon.settings:not(.no-hover):hover:before	{
	background-position:48px -496px;
}

.icon.account:before	{
	background-position:88px -416px;
}

.icon.account:not(.no-hover):hover:before	{
	background-position:48px -416px;
}

.list-header a,
.dropdown-menu>ul>li.list-header a:hover,
.dropdown-menu>ul>li.hier>.hier-menu>ul>li.list-header a:hover,
.list-group-item.header	{
	background:#f2f2f2;
	border-bottom:1px solid #d9d9d9;
	line-height:14px !important;
}

.list-group-item.header	{
	font-weight:bold;
}

a.btn.btn-default.list-group-item.active,
a.btn.btn-default.list-group-item.active:hover	{
	background:url(../images/menu-arrow.png) !important;
	background-repeat:no-repeat !important;
	background-color:#ffc !important;
	background-position:15px 15px !important;
	color:#215989;
	text-indent:15px;
}

.list-group-item.btn a,
.no-hover:hover	{
	text-decoration:none;
}

.list-group-item .list-group-item-controls	{
	display:none;
	position:absolute;
	right:10px;
}

.list-group-item:hover .list-group-item-controls	{
	display:block;	
}

/* 
.list-group-item:hover .list-group-item-label	{
	margin-right:40px;
}
 */

.list-group-item .list-group-item-label	{
	margin-right:30px;
}

.no-link	{
	padding:8px 14px;
}

/* 
.dropdown-menu>ul>li	{
	position:relative;
}
 */

.scroll,
.modal-body	{
	overflow-y:auto;
	max-height:50vh;
}

.modal-body	{
	max-height:75vh;
}

.navbar .dropdown-menu .scroll,
.scroll.scroll-long	{
	max-height:70vh;
}

.ie8 .scroll	{
	max-height:350px;
	}

.nav-button	{
	text-align:center;
	background-color:#215989 !important;
	color:#fff !important;
	/* background-image: linear-gradient(to bottom, #2b74b2 0%, #215989 100%); */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.nav-button:hover	{
	background-color:#396a95 !important;
	/* background-image: linear-gradient(to bottom, #2b74b2 0%, #396a95 100%); */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.nav-button:active	{
	color:#ccc;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dropdown-menu>ul>li.hier>a>span	{
	padding-right:20px;
}

.dropdown-menu>ul>li.hier:hover>a>span	{
	background:url(../images/menu-arrow.png) no-repeat;
	background-position:210px 7px;
}

.hier-menu	{
	position: absolute !important;
	top: -1px;
	left: 247px;
	width: 400px;
	z-index: 1000;
	display: block;
	float: left;
	list-style: none;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}

.list-group>.list-group	{
	margin-bottom:0px;
}

.well.well-btn-block,
.well>.list-group	{
	width:240px;
	margin:0 auto 20px auto;
	padding-bottom:10px;
}

.well-no-btm	{
	padding-bottom:11px;
}

.well-sm	{
	padding:6px 16px
}

/* FORMS */
.form-label	{
	font-weight:bold;
}

.form-control.order	{
	width:40px;
	padding-right:6px;
	padding-left:6px;
}

.form-control.short	{
	width:65px;
	margin-right:6px;
}

.form-control.medium	{
	width:100px;
	margin-right:6px;
}

.form-control.normal	{
	width:180px;
	margin-right:6px;
}

.form-control.long	{
	width:240px;
	margin-right:6px;
}

label input	{
	position:relative;
	top:-1px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]	{
	position:relative;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/* 
input[type="radio"],
input[type="checkbox"]	{
	margin:0px 6px 0px 0px;
}
 */

.radio-checkbox-text	{
	position:relative;
	top:4px;
}

.radio,
.checkbox	{
	margin-top:0px;
}

.multi-select-list	{
	border:1px solid #ccc;
	padding:5px 5px 0 5px;
	background:#fff;
}

ul.multi-selected-list	{
	list-style:none;
}

ul.multi-selected-list li	{
	float:left;
	border:1px solid #999;
	background:#fff;
	padding:4px 6px 6px 6px;
	margin:0 6px 6px 0;
}

ul.multi-selected-list li.multi-select-search,
ul.multi-selected-list li.multi-select-search input	{
	border:none;
	padding:0;
	margin:0;
	box-shadow:none;
}

.multi-selected-list ul li a	{
	position:relative;
	top:2px;
}

/* MODALS */
.modal-dialog	{
	z-index:10000;
}

.modal-header	{
	background-color:#e4e8eb;
	padding: 10px 15px 6px 15px;
}

.modal-header .close	{
	margin-top:0px;
}

/* 
.modal-content	{
	max-height:90vh;
	overflow-y:auto;
}
 */

/* 
#navbar-reports ul li div.dropdown-menu	{
	position:absolute !important;
	top: -1px;
	left: 250px;
	width: 400px;
	border:1px solid #000;
	z-index:100;
}
 */





/*@media (max-width: 820px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none !important;
}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
}
}*/

/*.navbar-form .form-group	{
	margin:8px 0px;
}*/

.navbar-form	{
	padding:0px 10px;
}

.btn,
.form-control	{
	border-radius:0px;
}

.panel-heading .audit-btn	{
	display:none;
	float:right;
}

.panel:hover>.panel-heading .audit-btn	{
	display:block;
}

/*
#login	{
	width:400px;
	margin:0 auto;
}

#login #logo	{
	margin:20px auto 0;
	width:154px;
}

.navbar,
.breadcrumb	{
	margin-bottom:0px;
}

.pagination-container	{
	width:228px;
	margin:0 auto;
}

.pagination	{
	margin:0 0 20px;
}


.btn-toolbar	{
	margin:4px 0 6px 0 !important;
}
*/

.row.table-buttons	{
	margin:0 0 6px 0 !important;
}

/* 
.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group	{
	margin:0 5px 0 0;
}
 */

/*
.table	{
	border-bottom:1px solid #ddd;
}

.table>thead>tr>th	{
	border-bottom:1px solid #333;
}

.btn-group input.form-control	{
	height:22px;
	padding:4px 6px;
}

.table-result-selector	{
	float:left;
	clear:none;
	margin-right:10px;
}
	
.table-result-filter	{
	float:left;
	clear:none;
	width:150px;
}
*/

th	{
	position:relative;
}

.table>thead>tr>th.active	{
	background-color:#ced5d9 !important;
	padding-left:24px;
}

th a span.glyphicon	{
	display:none;
}

th.active a span.glyphicon	{
	position:absolute;
	left:8px;
	top:auto;
	bottom:8px;
	color:#215989;
	display:inline-block;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px),
@media only screen and (max-width : 480px),
@media only screen and (max-width : 320px)	{

}

/* 
.collapse.in .qs-field	{
	width:90% !important;
}
 */

/* 
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
 */
 
/* 
.navbar-collapse,
.container-fluid>.navbar-header	{
	overflow-x:hidden !important;
	margin:0 !important;
	border:none;
	padding-right:0px !important;
}
 */
 
@media (max-width: 600px) {
	body	{
  		color:#900 !important;
  	}
}

 
 
/* HEADROOM.JS CLASSES */
.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}

.headroom {
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}