<div class="transaction-summary">

    <script type="text/ng-template" id="cross-collateral.html">
        <table class='table table-striped table-condensed'>
            <thead>
                <tr ng-repeat="transaction in crossLoans"><td><a ng-click="goToCrossCollateralizedTransaction(transaction.Id)">{{transaction.FannieMaeLoanCrossedNumber}}</a></td></tr>
            </thead>
        </table>
    </script>

    <div class="row">
        <div class="col-xs-36 col-sm-12 col-md-12 col-lg-12 summary-left">
            <div class="summary-container">
                <div class="label-value">
                    <div>Loan Seller</div>
                    <span>{{loan.LoanSeller}}</span>
                </div>
                <br />
                <div class="label-value">
                    <div>Payment Status</div>
                    <span>{{loan.PaymentStatus}} <dus-history-popover transaction-id="loan.Id" field="PaymentStatus" record-type="loan"></dus-history-popover></span>
                </div>
                <div class="visible-sm">
                    <div class="label-value">
                        <div>&nbsp;</div>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-36 col-sm-24 col-md-24 col-lg-24 summary-right">
            <div class="summary-container">
                <div class="row">
                    <div class="col-xs-36 col-sm-36 col-md-8 col-lg-8">
                        <div class="label-value">
                            <div>Original UPB</div>
                            <span dus-currency currency-value="loan.OriginalUPB"></span>
                        </div>
                    </div>
                    <div class="col-xs-36 col-sm-36 col-md-8 col-lg-8">
                        <div class="label-value">
                            <div>Current UPB</div>
                            <span dus-currency currency-value="loan.CurrentUPB"></span>
                        </div>
                    </div>
                    <div class="col-xs-36 col-sm-36 col-md-10 col-lg-10">
                        <div class="label-value">
                            <div>Green Financing Type</div>
                            <span>{{loan.GreenFinancingType}}</span>
                        </div>
                    </div>
                    <div class="col-xs-36 col-sm-36 col-md-10 col-lg-10">
                        <div class="label-value">
                            <div>Lien Position</div>
                            <span>{{loan.LienPosition}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-36 col-sm-36 col-md-8 col-lg-8">
                        <div class="label-value">
                            <div>Purpose</div>
                            <span>{{loan.Purpose}}</span>
                        </div>
                    </div>
                    <div class="col-xs-36 col-sm-36 col-md-8 col-lg-8">
                        <div class="label-value">
                            <div>Tier</div>
                            <span>{{loan.Tier}}</span>
                        </div>
                    </div>
                    <div class="col-xs-36 col-sm-36 col-md-10 col-lg-10">
                        <div class="label-value">
                            <div>Cross-Collateralized Loan(s)</div>
                            <span>
                                <a ng-if="loan.CrossCollateralizedLoans.length > 1" uib-popover-template="popoverTemplate" popover-placement="bottom" popover-trigger="outsideClick" ng-click="crossLoans = loan.CrossCollateralizedLoans;">Multiple ({{loan.CrossCollateralizedLoans.length}})</a>
                                <a ng-if="loan.CrossCollateralizedLoans.length == 1" ng-click="goToCrossCollateralizedTransaction(loan.CrossCollateralizedLoans[0].Id)">{{loan.CrossCollateralizedLoans[0].FannieMaeLoanCrossedNumber}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-36 col-sm-36 col-md-10 col-lg-10">
                        <div class="label-value">
                            <div>Cross Defaulted Loan(s)</div>
                            <span>
                                <a ng-if="loan.CrossDefaultedLoans.length > 1" uib-popover-template="popoverTemplate" popover-placement="bottom" popover-trigger="outsideClick" ng-click="crossLoans = loan.CrossDefaultedLoans;">Multiple ({{loan.CrossDefaultedLoans.length}})</a>
                                <a ng-if="loan.CrossDefaultedLoans.length == 1" ng-click="goToCrossCollateralizedTransaction(loan.CrossDefaultedLoans[0].Id)">{{loan.CrossDefaultedLoans[0].FannieMaeLoanCrossedNumber}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>