﻿<div id="search-results" class="sub-page" style="display: block;">
    <div class="container">
        <div id="search-results-loading" class="spinner wow fadeIn" ng-if="!search.loaded">
            <div></div>
            <p>Loading Search Results...</p>
        </div>
        <div class="pull-right" style="display:none;">
            <span class="glyphicon glyphicon-pencil"></span> Refine Criteria
            <a href="javascript:void(0);" class="btn-link" data-toggle="modal" data-target="#advancedSearch">(Modal)</a>
            <a class="btn-link" role="button" data-toggle="collapse" href="#unsaved-portfolio-refine-criteria" aria-expanded="false" aria-controls="unsaved-portfolio-refine-criteria"> (Inline)</a>
        </div>
        
        <ul ng-if="search.portfolioId == 0" id="unsaved-portfolio-header" class="nav nav-tabs no-border" role="tablist" style="display: block;">
            <li>                
                <h3>
                    Search Results
                    <small class="bg-warning" ng-if="search.unfoundRecords.length > 0">&nbsp;Record(s) not found 
                        <!--FYI: popover-trigger="outsideClick" will require single quote on latest version -> popover-trigger="'outsideClick'"-->
                        <a href="javascript:void(0);" uib-popover-html="search.unFoundRecordTemplate" popover-placement="bottom" popover-trigger="outsideClick">
                           <span class="glyphicon glyphicon-info-sign"></span>
                        </a>&nbsp;
                    </small>
                    <span ng-if="!search.isLoggedIn()" class="unauthenticated-message"> <small>(<strong>Login or register</strong> to <strong>save this as a Portfolio</strong> or <strong>Download Data</strong>)</small></span>
                </h3>
            </li>
            <li id="search-results-refine-criteria-container" ng-class="{'active': search.viewAdvSearch}" class="pull-right">
            <a id="refinedBtn" ng-click="search.refineSearch()">
                <span class="glyphicon glyphicon-pencil"></span> Refine Criteria
            </a>
            </li>
            <li ng-if="search.isLoggedIn()" ng-class="{'active': search.createPortfolioBtnClicked}" 
                class="pull-right">
            <a ng-click="search.toggleCreatePortfolio()" aria-controls="search-results-save-portfolio" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-floppy-disk"></span> Create Portfolio
            </a>
            </li>
        </ul>

        <ul ng-if="search.portfolioId > 0" id="saved-portfolio-header" class="nav nav-tabs no-border">
            <li>
                <select class="form-control" ng-model="search.portfolioId" ng-change="search.load()">
                    <option ng-repeat="n in search.portfolios" value="{{n.Id}}">{{n.Name}}</option>
                </select>
            </li>
            <li id="saved-portfolio-alerts-container" ng-class="{'active' : search.onEditPortfolioAlerts}">
                <a href="javascript:void(0);" ng-click="search.editPortfolioAlerts()">
                <span class="glyphicon glyphicon-bullhorn"></span> Alerts</a>
            </li>
            <li id="saved-portfolio-criteria-container" ng-class="{'active' : search.viewAdvSearch}">
                <a href="javascript:void(0);" id="saved-portfolio-criteria-link" ng-click="search.editPortfolioCriterias()">
                <span class="glyphicon glyphicon-pencil"></span> Edit Portfolio</a>
            </li>
            <li class="pull-right">
            <a id="create-portfolio-link" href="javascript:void(0);" class="toggle-navbar-advanced-search collapsed" ng-click="search.createNewPortfolio()">
                Create a New Portfolio
            </a>
            </li>
        </ul>
        
        <div class="tab-content" ng-if="search.onEditPortfolioAlerts">
            <div class="panel">
                <div class="panel-body">
                    <div class="tab-pane fade" ng-class="{'active in' : search.onEditPortfolioAlerts}" id="saved-portfolio-alerts">
                        <dus-portfolio-alerts alerts="search.alerts" on-toggle-call-back="search.toggleAlert"></dus-portfolio-alerts>
                        <div class="row advanced-search-footer">
                            <hr>
                            <div class="col-xs-0 col-sm-0 col-md-27 col-lg-27">

                            </div>
                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                <a id="saved-portfolio-alerts-close" href="javascript:void(0);" 
                                   class="btn btn-lg btn-block btn-default" ng-click="search.editPortfolioAlerts()">
                                    Close
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>

            <div ng-if="search.viewAdvSearch" class="panel advanced-search">
                <div class="panel-body">
                    <dus-advanced-search model="search.searchModel"
                                         on-search-clicked-event="search.updateSearch"
                                         toggle="search.viewAdvSearch"
                                         portfolios="search.portfolios"
                                         show-delete-portfolio="true"
                                         editing-portfolio="search.editingPortfolio"
                                         on-update="search.updatePortfolio"
                                         on-delete-portfolio="search.deletePortfolio"
                                         portfolio-id="search.portfolioId"
                                         user-logged-in="search.isLoggedIn()"
                                         on-clicked-outside-event="search.onClickedOutside"
                                         escape-elementids="refinedBtn,unsaved-portfolio-header,saved-portfolio-criteria-link">
                    </dus-advanced-search>
                </div>

            </div>

            <!--CREATE PORTFOLIO-->
            <div ng-if="search.createPortfolioBtnClicked" class="tab-pane" id="search-results-save-portfolio">
                <div class="panel">
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="save-portfolio-addon">
                            <span class="glyphicon glyphicon-floppy-disk"></span></span>
                            <input class="form-control input-lg" maxlength="25" ng-model="search.portfolioName" type="text" placeholder="Name and save this Portfolio">
                        </div>
                        <div id="unsaved-portfolio-options" style="display: block;">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-18 col-sm-24 col-md-24 col-lg-24">
                                            Alerts
                                        </div>
                                        <div class="col-xs-18 col-sm-12 col-md-12 col-lg-12 text-right">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <dus-portfolio-alerts alerts="search.alerts" on-toggle-call-back="search.toggleAlert"></dus-portfolio-alerts>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-36 col-sm-18 col-md-9 col-lg-9">
                                    <button id="cancel-save-portfolio-button" ng-click="search.createPortfolioBtnClicked = false;" class="btn btn-lg btn-default btn-block">Cancel</button>
                                </div>
                                <div class="col-xs-0 col-sm-0 col-md-18 col-lg-18">

                                </div>
                                <div class="col-xs-36 col-sm-18 col-md-9 col-lg-9">
                                    <button id="save-portfolio-button" ng-click="search.createPortfolio()" ng-disabled="search.disableSavePortfolio()" class="btn btn-lg btn-success btn-block" dus-button>Save Portfolio</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        

        <div class="spacer-sm"></div>
        <div class="section" ng-if="search.loaded">
            <div class="row">
                <div class="col-xs-36 col-sm-24 col-md-24 col-lg-24">
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{active: search.activeTab == 'mbs'}">
                        <a ng-click="search.setActiveTab('mbs')">
                            MBS <span class="badge">{{search.searchResults.MBS.MBSTableResultList.length}}</span>
                        </a>
                        </li>
                        <li ng-class="{active: search.activeTab == 'mega'}">
                        <a ng-click="search.setActiveTab('mega')">
                            Mega <span class="badge">{{search.searchResults.Mega.MegaTableResultList.length}}</span>
                        </a>
                        </li>
                        <li ng-class="{active: search.activeTab == 'remic'}">
                        <a ng-click="search.setActiveTab('remic')">
                            REMIC <span class="badge">{{search.searchResults.Remic.RemicTableResultList.length}}</span>
                        </a>
                        </li>
                        <li ng-class="{active: search.activeTab == 'dmbs'}">
                        <a ng-click="search.setActiveTab('dmbs')">
                            DMBS <span class="badge">{{search.searchResults.DMBS.DMBSTableResultList.length}}</span>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-36 col-sm-12 col-md-12 col-lg-12 text-right">
                    <a href="service/search/downloadreport/{{search.activeTab}}/{{search.encodedModel}}" 
                       ng-if="search.isLoggedIn()" 
                       ng-click="search.downloadSearchResults()"
                       class="btn btn-link discreet"
                       download
                       analytics-on 
                       analytics-category={{search.getGACategory()}}
                       analytics-event="Download"  
                       analytics-label={{search.getGALabel()}}>
                       <span class="glyphicon glyphicon-circle-arrow-down"></span> Download <span ng-style="search.activeTab == 'mega' && {'text-transform':'capitalize'} || {'text-transform': 'uppercase'}">{{search.activeTab}}</span> Results
                    </a>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" ng-if="search.activeTab == 'mbs'">
                    <div id="search-results-mbs-details">
                        <div class="panel" ng-if="search.searchResults.MBS.MBSTableResultList.length > 0">
                            <div class="panel-body">
                                <div ng-if="allStrats.show" ng-controller="StratController as strat" ng-include="strat.template"></div>
                                <div class="row" ng-if="search.containsTab('MBS') && !allStrats.show && search.resultSet.length > 0">
                                    <div class="col-xs-36 col-sm-16 col-md-16 col-lg-22">
                                        <h5>Cumulative Summary</h5>
                                        <div class="row">
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Issuance UPB</div>
                                                    <span dus-currency currency-value="search.searchResults.MBS.IssuanceUPB"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Current UPB</div>
                                                    <span dus-currency currency-value="search.searchResults.MBS.CurrentUPB"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Number of Loans</div>
                                                    <span>{{search.searchResults.MBS.NumberOfLoans}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Number of Securities</div>
                                                    <span>{{search.searchResults.MBS.NumberOfSecurities}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <h5>Weighted Averages</h5>
                                        <div class="row">
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Current Note Rate</div>
                                                    <span>{{search.searchResults.MBS.CurrentNoteRate | number:2}}<small>%</small></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Paying PTR</div>
                                                    <span>{{search.searchResults.MBS.PayingPTR | number : 3}}<small>%</small></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>Current NCF DSCR</div>
                                                    <span>{{search.searchResults.MBS.CurrentNCFDSCR | number:2}}<small>x</small></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                                <div class="label-value">
                                                    <div>LTV</div>
                                                    <span>{{search.searchResults.MBS.LTV | number:2}}<small>%</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-36 col-sm-20 col-md-20 col-lg-14">
                                        <div id="unsaved-portfolio-strats-container" ng-if="search.hasStratsData()">
                                            <div class="row">
                                                <div class="col-xs-36 col-sm-36 col-md-24 col-lg-24">
                                                    <select class="form-control" ng-options="option.title for option in stratDatasources" ng-model="search.selectedStratType"></select>
                                                </div>
                                                <div class="col-xs-36 col-sm-36 col-md-12 col-lg-12 text-right">
                                                    <a href="" class="btn btn-link" ng-click="allStrats.show = !allStrats.show">
                                                    <span class="glyphicon glyphicon-eye-open"></span> View All Strats</a>
                                                </div>
                                            </div>
                                            <div id="chart-amortization-unsaved-portfolio"></div>

                                            <div ng-if="search.searchResults.MBS.MBSTableResultList.length > 0">
                                                <div id="chart-amortization-unsaved-portfolio" dus-chart data="search.selectedStratType" options="search.selectedStratType.chartOptions"></div>
                                            </div>
                                        </div>

                                        <div id="unsaved-portfolio-no-strats-message" class="well" ng-if="search.stratsOverLimit()">
                                            Strats are not available for searches with more than 200 results.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" ng-if="!allStrats.show && search.resultSet.length > 0">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th ng-if="search.isLoggedIn()">Alerts</th>
                                            <th>
                                            <a href="javascript:void(0);">Status</a>
                                            </th>
                                            <th class="active" dus-sort="PoolId" params="search.sort" 
                                                array-to-sort="search.searchResults.MBS.MBSTableResultList" 
                                                sorted="search.searchResults.MBS.sorted">
                                            <a href="javascript:void(0);">Transaction ID</a>
                                            </th>
                                            <th><a href="javascript:void(0);">CUSIP</a></th>
                                            <th><a href="javascript:void(0);">Prefix</a></th>
                                            <th><a href="javascript:void(0);">Interest Type</a></th>
                                            <th dus-sort="IssueDate" params="search.sort" 
                                                array-to-sort="search.searchResults.MBS.MBSTableResultList" 
                                                sorted="search.searchResults.MBS.sorted">
                                            <a href="javascript:void(0);">Issue Date</a>
                                            </th>
                                            <th dus-sort="MaturityDate" params="search.sort" 
                                                array-to-sort="search.searchResults.MBS.MBSTableResultList" 
                                                sorted="search.searchResults.MBS.sorted">
                                            <a href="javascript:void(0);">Maturity Date</a>
                                            </th>
                                            <th class="text-right"><a href="javascript:void(0);">Issuance UPB</a></th>
                                            <th class="text-right"><a href="javascript:void(0);">Current UPB</a></th>
                                            <th class="text-right"><a href="javascript:void(0);">Paying PTR</a></th>
                                            <th><a href="javascript:void(0);">Product Type</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in search.searchResults.MBS.paged">
                                            <td ng-if="search.isLoggedIn()">
                                                <a ng-click="search.showAlertsNotification(result)">
                                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                                </a>
                                            </td>
                                            <td>{{result.SecurityStatus}}</td>
                                            <td><a ui-sref="transaction({id: result.TransactionId})" href="javascript:void(0);">{{result.PoolId}}</a></td>
                                            <td>{{result.Cusip}}</td>
                                            <td>{{result.Prefix}}</td>
                                            <td>{{result.InterestType}}</td>
                                            <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{result.MaturityDate | date: 'MM/dd/yyyy'}}</td>
                                            <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                            <td class="text-right"><span dus-currency currency-value="result.CurrentUPB"></span></td>
                                            <td class="text-right">{{result.PayingPTR | number : 3}}<small>%</small></td>
                                            <td>{{result.ProductType}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav ng-if="!allStrats.show">
                            <dus-pager items-to-page="search.searchResults.MBS.sorted" paged-data="search.searchResults.MBS.paged" page-size="50"></dus-pager>
                        </nav>
                        <div class="well" ng-if="search.searchResults.MBS.paged.length == 0">
                            No results. Try modifying your search criteria.
                        </div>
                    </div>
                    <div id="search-results-mbs-full-strats">
                        <!--GRAPHS HERE-->
                    </div>
                </div>

                <div role="tabpanel" ng-if="search.activeTab == 'mega'">
                    <div class="panel" ng-if="search.searchResults.Mega.MegaTableResultList.length > 0">
                        <div class="panel-body" ng-if="search.containsTab('Mega')">
                            
                            <div class="row">
                                <h5>Cumulative Summary</h5>

                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Issuance UPB</div>
                                        <span dus-currency currency-value="search.searchResults.Mega.IssuanceUPB"></span>
                                    </div>
                                </div>
                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Number of Securities</div>
                                        <span>{{search.searchResults.Mega.NumberOfSecurities}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th><a href="javascript:void(0);">Status</a></th>
                                        <th dus-sort="PoolId" params="search.sort" 
                                                array-to-sort="search.searchResults.Mega.MegaTableResultList" 
                                                sorted="search.searchResults.Mega.sorted" class="active">
                                        <a href="javascript:void(0);">Transaction ID</a>
                                        </th>
                                        <th><a href="javascript:void(0);">CUSIP</a></th>
                                        <th><a href="javascript:void(0);">Prefix</a></th>
                                        <th><a href="javascript:void(0);">Interest Type</a></th>
                                        <th dus-sort="IssueDate" params="search.sort" 
                                                array-to-sort="search.searchResults.Mega.MegaTableResultList" 
                                                sorted="search.searchResults.Mega.sorted">
                                        <a href="javascript:void(0);">Issue Date</a>
                                        </th>
                                        <th dus-sort="MaturityDate" params="search.sort" 
                                                array-to-sort="search.searchResults.Mega.MegaTableResultList" 
                                                sorted="search.searchResults.Mega.sorted">
                                        <a href="javascript:void(0);">Maturity Date</a>
                                        </th>
                                        <th class="text-right"><a href="javascript:void(0);">Issuance UPB</a></th>
                                        <th class="text-right"><a href="javascript:void(0);">Issuance PTR</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in search.searchResults.Mega.paged">
                                        <td class="text-center" ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.TransactionId})" href="javascript:void(0);">{{result.PoolId}}</a></td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.Prefix}}</td>
                                        <td>{{result.InterestType}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.MaturityDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                        <td class="text-right">{{result.IssuancePTR | number:3}}<small>%</small></td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <dus-pager items-to-page="search.searchResults.Mega.sorted" paged-data="search.searchResults.Mega.paged" page-size="50"></dus-pager>
                    </nav>
                    <div class="well"  ng-if="search.searchResults.Mega.paged.length == 0">
                        No results. Try modifying your search criteria.
                    </div>
                </div>

                <div role="tabpanel" ng-if="search.activeTab == 'remic'">
                    <div class="panel" ng-if="search.searchResults.Remic.RemicTableResultList.length > 0">
                        <div class="panel-body" ng-if="search.containsTab('Remic')">
                            <h5>Cumulative Summary</h5>
                            <div class="row">
                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Issuance UPB</div>
                                        <span dus-currency currency-value="search.searchResults.Remic.IssuanceUPB"></span>
                                    </div>
                                </div>
                                <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
                                    <div class="label-value">
                                        <div>Number of Securities</div>
                                        <span>{{search.searchResults.Remic.NumberOfSecurities}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th><a href="javascript:void(0);">Status</a></th>
                                        <th class="active" dus-sort="PoolId" params="search.sort" 
                                                array-to-sort="search.searchResults.Remic.RemicTableResultList" 
                                                sorted="search.searchResults.Remic.sorted">
                                        <a href="javascript:void(0);">Transaction ID</a>
                                        </th>
                                        <th><a href="javascript:void(0);">Group</a></th>
                                        <th><a href="javascript:void(0);">Class</a></th>
                                        <th><a href="javascript:void(0);">CUSIP</a></th>
                                        <th dus-sort="IssueDate" params="search.sort" 
                                                array-to-sort="search.searchResults.Remic.RemicTableResultList" 
                                                sorted="search.searchResults.Remic.sorted">
                                        <a href="javascript:void(0);">Issue Date</a>
                                        </th>
                                        <th dus-sort="FinalDistributionDate" params="search.sort" 
                                                array-to-sort="search.searchResults.Remic.RemicTableResultList" 
                                                sorted="search.searchResults.Remic.sorted">
                                        <a href="javascript:void(0);">Final Distribution Date</a>
                                        </th>
                                        <th class="text-right"><a href="javascript:void(0);">Issuance UPB</a></th>
                                        <th class="text-right"><a href="javascript:void(0);">Issuance Interest Rate</a></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="result in search.searchResults.Remic.paged">
                                        <td class="text-center" ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.SecurityId})" href="javascript:void(0)">{{result.PoolId}}</a></td>
                                        <td>{{result.Group}}</td>
                                        <td>{{result.Class}}</td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.FinalDistributionDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                        <td class="text-right"><dus-amount-unit amount="result.IssuanceInterestRate | number:3" unit="%" /></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <dus-pager items-to-page="search.searchResults.Remic.sorted" paged-data="search.searchResults.Remic.paged" page-size="50"></dus-pager>
                    </nav>
                    <div class="well"  ng-if="search.searchResults.Remic.paged.length == 0">
                        No results. Try modifying your search criteria.
                    </div>
                </div>

                <div role="tabpanel" ng-if="search.activeTab == 'dmbs'">
                    <div class="panel" ng-if="search.searchResults.DMBS.DMBSTableResultList.length > 0">
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th ng-if="search.isLoggedIn()">Alerts</th>
                                        <th><a href="javascript:void(0);">Status</a></th>
                                        <th dus-sort="PoolId" params="search.sort" 
                                                array-to-sort="search.searchResults.DMBS.DMBSTableResultList" 
                                                sorted="search.searchResults.DMBS.sorted" class="active">
                                            <a href="javascript:void(0);">Transaction ID</a>
                                        </th>
                                        <th><a href="javascript:void(0);">CUSIP</a></th>
                                        <th><a href="javascript:void(0);">Prefix</a></th>
                                        <th dus-sort="IssueDate" params="search.sort" 
                                                array-to-sort="search.searchResults.DMBS.DMBSTableResultList" 
                                                sorted="search.searchResults.DMBS.sorted">
                                        <a href="javascript:void(0);">Issue Date</a>
                                        </th>
                                        <th dus-sort="MaturityDate" params="search.sort" 
                                                array-to-sort="search.searchResults.DMBS.DMBSTableResultList" 
                                                sorted="search.searchResults.DMBS.sorted">
                                        <a href="javascript:void(0);">Maturity Date</a>
                                        </th>
                                        <th class="text-right"><a href="javascript:void(0);">Issuance UPB</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr ng-repeat="result in search.searchResults.DMBS.paged">
                                        <td class="text-center" ng-if="search.isLoggedIn()">
                                            <a ng-click="search.showAlertsNotification(result)">
                                                <span class="glyphicon glyphicon-bullhorn"></span>
                                            </a>
                                        </td>
                                        <td>{{result.SecurityStatus}}</td>
                                        <td><a ui-sref="transaction({id: result.TransactionId})" href="javascript:void(0);">{{result.PoolId}}</a></td>
                                        <td>{{result.Cusip}}</td>
                                        <td>{{result.Prefix}}</td>
                                        <td>{{result.IssueDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{result.MaturityDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-right"><span dus-currency currency-value="result.IssuanceUPB"></span></td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <dus-pager items-to-page="search.searchResults.DMBS.sorted" paged-data="search.searchResults.DMBS.paged" page-size="50"></dus-pager>
                    </nav>
                    <div class="well" ng-if="search.searchResults.DMBS.paged.length == 0">
                        No results. Try modifying your search criteria.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>