﻿.adhoc-ui-tree .angular-ui-tree-placeholder {
    border:1px dashed darkgrey !important;
    box-sizing:border-box;
    background-color:#dbdbdb !important;
    display:block;
    position:relative;
    min-height:20px;
}

.adhoc-ui-tree .angular-ui-tree-nodes{
    display:block;
    position:relative;
    list-style:none;
    padding:0;
}

.adhoc-ui-tree .angular-ui-tree-node{
    display:block;
    position:relative;
    line-height:inherit;
}

.adhoc-ui-tree .angular-ui-tree-drag{
    position:absolute;
    pointer-events:none;
    z-index:999;
    opacity:.8;
}

.adhoc-ui-tree .angular-ui-tree-drag .row {
    margin-left: 0;
    margin-right: 0;
}

.angular-ui-tree-drag .drag-hide {
    display:none;
}