﻿<div class="section">
    <h4>{{timelineType}} Timeline</h4>
    <div class="timeline" ng-class="{'timeline-complete': allPast(timeline)}">
        <!--ADD CLASS "timeline-complete" WHEN ALL ENTRIES ARE ACTIVE -->
        <ul>
            <li ng-repeat="date in timeline" ng-class="{'active': isPast(date.value), 'pull-right': $last}">
                <div class="timeline-entry">
                    <span class="timeline-date">{{date.label}}</span><br /><span class="timeline-event">{{date.value.format('MM/DD/YYYY')}} 
                        <a ng-if="date.label==='Resecuritized'" ui-sref="transaction({id: date.id})">{{date.identifier}}</a>
                    </span>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
 