<div class="panel panel-default">
    <fmda-transaction-heading collapse-target="#disclosure-operations-collapse-correction-log-{{transaction.TransactionId}}" heading-caption="Correction Log" badge-text="{{transaction.Corrections.length}}" />
    <div id="disclosure-operations-collapse-correction-log-{{transaction.TransactionId}}" class="panel-collapse panel-closed collapse" ng-if="transaction.Corrections" role="tabpanel">
        <div class="panel-body" ng-if="transaction.Corrections.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th fmda-sort="ActionDate" params="correctionSort">Date</th>
                            <th fmda-sort="Field" params="correctionSort">Field</th>
                            <th fmda-sort="OldValue" params="correctionSort">Old Value</th>
                            <th fmda-sort="NewValue" params="correctionSort">New Value</th>
                            <th fmda-sort="Stickered" params="correctionSort">Stickered</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'danger': c.Stickered === 1}" ng-repeat="c in transaction.Corrections | orderBy: correctionSort.on:correctionSort.desc">
                            <td>{{c.ActionDate.format('MM/DD/YYYY')}}</td>
                            <td>{{c.Field}}</td>
                            <td ng-if="c.formatFilter === 'date'" class="text-danger">{{c.OldValue.format('MM/DD/YYYY')}}</td>
                            <td ng-if="c.formatFilter === 'date'" class="text-success">{{c.NewValue.format('MM/DD/YYYY')}}</td>
                            <td ng-if="c.formatFilter !== 'date'" class="text-danger">{{c.OldValue | picker:c.formatFilter}}</td>
                            <td ng-if="c.formatFilter !== 'date'" class="text-success">{{c.NewValue | picker:c.formatFilter}}</td>
                            <td ng-if="c.Stickered === null">N/A</td>
                            <td ng-if="c.Stickered !== null">{{c.Stickered === 0 ? 'Pending' : c.Stickered === 1 ? 'Yes':'No'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-body" ng-if="transaction.Corrections.length == 0">
            <p>
                There are no corrections.
            </p>
        </div>
    </div>
</div>