<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Queues: <span class="text-primary">Additional Disclosure</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">

    </div>
</div>
<div role="tabpanel" ng-if="additional.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: additional.activeTab.id == tab.id}" ng-repeat="tab in additional.tabs">
                    <a ui-sref="additionaldisclosure({tabid: tab.id})" class="rt-{{tab.caption | lowercase}}-tab" ui-sref-opts="({notify: false})" ng-click="additional.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a ng-click="additional.load()" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-4 col-lg-4">
            <div class="pull-right">
                <fmda-filter input="additional.activeTab.data.all" output="additional.activeTab.data.filtered" on="TransactionId,DealId,Properties,SettlementDate,Comment" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row" ng-if="additional.activeTab.data.all.length < 1">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    There are currently no {{ additional.activeTab.caption | lowercase }} transactions.
                </div>
            </div>
        </div>
        <div class="row" ng-show="additional.activeTab.data.filtered.length === 0 && additional.activeTab.data.all.length > 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    No data matches your filter criteria.
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="additional-disclosure-tab-closed" ng-show="additional.activeTab.data.filtered.length > 0">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="TransactionId" params="additional.sort" array-to-sort="additional.activeTab.data.filtered" sorted="additional.activeTab.data.sorted">Transaction ID</th>
                                    <th fmda-sort="DealId" params="additional.sort" array-to-sort="additional.activeTab.data.filtered" sorted="additional.activeTab.data.sorted">Deal ID</th>
                                    <th fmda-sort="SortableProperties" params="additional.sort" array-to-sort="additional.activeTab.data.filtered" sorted="additional.activeTab.data.sorted">Property Name</th>
                                    <th fmda-sort="SettlementDate" params="additional.sort" array-to-sort="additional.activeTab.data.filtered" sorted="additional.activeTab.data.sorted">Settlement Date</th>
                                    <th>Comment</th>
                                    <th>Last Edited</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in additional.activeTab.data.paged" ng-class="{'warning': additional.dateInRange(d.SettlementDate)}">
                                    <td><a class="rt-transId-link" ui-sref="{{additional.transactionState(d.Id)}}">{{d.TransactionId}}</a></td>
                                    <td>{{d.DealId}}</td>
                                    <td><fmda-list-popover list="d.PropertyList"></fmda-list-popover></td>
                                    <td>{{d.SettlementDate.format('MM/DD/YYYY')}}</td>
                                    <td class="w40">{{d.Comment}}</td>
                                    <td>{{d.LastUpdateDate.format('MM/DD/YYYY')}} <span class="text-muted text-nowrap">{{d.LastUpdateUser}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="additional.activeTab.data.sorted" paged-data="additional.activeTab.data.paged" page-size="25"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>