﻿<div class="row">
    <div class="col-xs-16 col-sm-16 col-md-20 col-lg-20">
        <h1>System: <span class="text-primary">Holiday Calendar</span></h1>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-right">
        <button ng-if="holiday.accessObj.hasCreateAccess" ng-click="holiday.processHoliday()" 
                class="btn btn-sm btn-success rt-addHoliday-btn" data-toggle="modal" data-target="#addHoliday">
        <span class="glyphicon glyphicon-plus"></span> New Holiday</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <p>
            Highlight 'Effective Date' within
            <span ng-if="holiday.accessObj.hasEditAccess">
                <select ng-model="holiday.highlightPeriod" ng-change="holiday.setHighlightPeriod()" ng-options="n for n in holiday.numberOfDays"></select>
            </span>
            <span ng-if="!holiday.accessObj.hasEditAccess">{{holiday.highlightPeriod}}</span>
            days excluding weekends and holidays.
        </p>
    </div>
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="well" ng-show="holiday.loaded && holiday.data.all.length === 0">
            There are currently no upcoming holidays
        </div>
        <div class="table-responsive" ng-if="holiday.data.all.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th fmda-sort="Date" params="holiday.sort" array-to-sort="holiday.data.all" sorted="holiday.data.sorted">Date</th>
                        <th fmda-sort="Name" params="holiday.sort" array-to-sort="holiday.data.all" sorted="holiday.data.sorted">Holiday</th>
                        <th fmda-sort="HoldPublishing" params="holiday.sort" array-to-sort="holiday.data.all" sorted="holiday.data.sorted">Hold Publishing</th>
                        <th class="w25"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rt-holiday-row" ng-repeat="h in holiday.data.paged">
                        <td class="rt-createDate-col">{{h.Date | date: 'M/dd/yyyy'}}</td>
                        <td>{{h.Name}}</td>
                        <td>{{h.HoldPublishing ? 'Yes':'No'}}</td>
                        <td class="text-right">
                            <button ng-if="holiday.accessObj.hasEditAccess && holiday.isFuture(h.Date)" ng-click="holiday.processHoliday(h)" class="btn btn-xs btn-primary rt-editHoliday-btn">
                            <span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> Edit</span></button>
                            <button ng-if="holiday.accessObj.hasEditAccess" ng-click="holiday.deleteHoliday(h)" class="btn btn-xs btn-danger rt-delHoliday-btn">
                            <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs hidden-sm"> Delete</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <fmda-pager items-to-page="holiday.data.sorted" paged-data="holiday.data.paged" page-size="20"></fmda-pager>
            </div>
        </div>
    </div>
</div>
