<nav class="navbar navbar-default navbar-fixed-top navbar-detail" style="z-index: 3 !important;" ng-show="trans.Transaction">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-12">
            <div class="navbar-detail-title">
                <fmda-expand-collapse/>
                <span class="text-muted" ng-if="trans.Transaction.TransactionType == trans.Type.Mega || trans.Transaction.TransactionType == trans.Type.Remic">{{trans.Transaction.TransactionType == trans.Type.Mega ? 'MEGA':'REMIC'}}</span> 
                {{(trans.Transaction.Prefix? trans.Transaction.Prefix+'-':'')+trans.Transaction.TransactionId}} 
                <small><span class="text-primary">{{trans.Transaction.SecurityStatusType}}</span></small>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-14 col-lg-12 text-right">
            <a class="btn btn-primary hidden-xs" 
               ng-if="(trans.Transaction.Status && trans.accessObj.hasViewAccess)" href="service/transaction/{{trans.Transaction.Id}}/{{trans.Transaction.TransactionId}}/{{trans.Transaction.TransactionType}}/detailreport/queue/{{trans.queueType.code}}" download title="Detail Report"><span class="glyphicon glyphicon-signal"></span><span class="hidden-xs hidden-sm"> Detail Report</span></a>
            <button class="btn btn-primary" ng-click="trans.addFootnote()" ng-if="trans.Transaction.TransactionType == trans.Type.Pool && trans.accessObj.hasEditAccess && trans.Transaction.AdditionalDisclosureRequired" title="Add Footnote">
            <span class="glyphicon glyphicon-asterisk"></span><span class="hidden-xs hidden-sm"> Footnote</span></button>
            <button ng-if="trans.accessObj.hasEditAccess && trans.Transaction.TransactionType == trans.Type.Pool && trans.Transaction.Status && !trans.is90DaysPostIssuanceAndPublished()" class="btn btn-primary hidden-xs"  title="Upload Documents" ng-click="trans.uploadDocument()">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                <span class="hidden-xs hidden-sm"> Document</span>
            </button>
            &nbsp;&nbsp;&nbsp;
            <div class="btn-group">
                <button class="btn btn-success" ng-click="trans.finish()" ng-if="trans.Transaction.Status && trans.hasFinishPermission" ng-disabled="trans.finishDisabled()" title="Finish"><span class="glyphicon glyphicon-ok"></span><span class="hidden-xs hidden-sm"> Finish</span></button>
                <button class="btn btn-default" ng-click="trans.return()" title="Close"><span class="hidden-xs hidden-sm">Close </span><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</nav>
<div class="panel panel-default panel-no-box panel-first">
    <div class="panel-body panel-body-sub">
        <fmda-transaction-summary ng-if="trans.Transaction.Deal" 
                                  transaction="trans.Transaction.Deal"
                                  pool-id="trans.Transaction.Id" 
                                  heading-text="Deal Summary" 
                                  badge="{{trans.dealBadgeText}}" queue="trans.queueType.code" access-obj="trans.accessObj" pool-certified="!trans.Transaction.Status"></fmda-transaction-summary>
        <fmda-transaction-summary ng-if="trans.Transaction"
                                  transaction="trans.Transaction"
                                  pool-id="trans.Transaction.Id" 
                                  heading-text="{{trans.Transaction.Deal ? 'Pool '+ trans.Transaction.Prefix+'-'+trans.Transaction.TransactionId : trans.Transaction.TransactionType == trans.Type.Remic ? 'Deal Summary': 'Pool Summary'}}"
                                  badge="{{trans.badgeText}}" queue="trans.queueType.code" access-obj="trans.accessObj"></fmda-transaction-summary>
        <div class="panel panel-primary panel-no-box" ng-if="trans.Transaction.TransactionType == trans.Type.Mega || trans.Transaction.TransactionType == trans.Type.Remic">
            <fmda-transaction-heading ng-click="trans.getPoolList()" collapse-target="#disclosure-operations-collapse-pool-list" heading-caption="Pool List" 
                                      badge-text="{{trans.Transaction.PoolCount +' Pool'+(trans.Transaction.PoolCount == 1 ? '': 's')}}">
            </fmda-transaction-heading>
            <div id="disclosure-operations-collapse-pool-list" class="panel-collapse  collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped" ng-if="trans.Transaction.Pools">
                            <thead>
                                <tr>
                                    <th fmda-sort="TransactionId" params="trans.Transaction.poolSort">Pool #</th>
                                    <th fmda-sort="CUSIP" params="trans.Transaction.poolSort">CUSIP</th>
                                    <th ng-if="trans.Transaction.TransactionType == trans.Type.Remic" fmda-sort="GroupID" params="trans.Transaction.poolSort">Group ID</th>
                                    <th fmda-sort="BondEndingBalance" params="trans.Transaction.poolSort">Bond Ending Balance</th>
                                    <th fmda-sort="LoanCount" params="trans.Transaction.poolSort">Loan Count</th>
                                    <th fmda-sort="NetRate" params="trans.Transaction.poolSort">Net Rate</th>
                                    <th fmda-sort="Factor" params="trans.Transaction.poolSort">Factor</th>
                                    <th fmda-sort="City" params="trans.Transaction.poolSort">City</th>
                                    <th fmda-sort="State" params="trans.Transaction.poolSort">State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pool in trans.Transaction.Pools | orderBy: trans.Transaction.poolSort.on:trans.Transaction.poolSort.desc">
                                    <td><a ui-sref="transaction({ id: pool.Id, queue: trans.Queue, choice: 0 })">{{pool.TransactionId}}</a></td>
                                    <td>{{pool.CUSIP}}</td>
                                    <td ng-if="trans.Transaction.TransactionType == trans.Type.Remic">{{pool.GroupID}}</td>
                                    <td>{{pool.BondEndingBalance | currency}}</td>
                                    <td>{{pool.LoanCount}}</td>
                                    <td>{{pool.NetRate | percentage:5:true}}</td>
                                    <td>{{pool.Factor}}</td>
                                    <td>{{pool.City}}</td>
                                    <td>{{pool.State}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>