﻿<div id="transaction-pool" class="sub-page">
    <div class="container">

        <div id="search-results-loading" class="spinner wow fadeIn" ng-if="!trans.loaded">
            <div></div>
            <p>Loading Transaction Information...</p>
        </div>

        <div ng-show="trans.loaded">
            <dus-deal deal="trans.Deal" pool="trans.Transaction" ng-if="trans.Deal" load-function="trans.dealLoad"></dus-deal>

            <div class="offset offset-security" id="transaction-pool-top"></div>
            <div class="callout callout-primary" ng-if="trans.Banners.length > 0">
                <p ng-repeat="banner in trans.Banners" ng-bind-html="banner.Content"></p>
            </div>

            <dus-transaction-header transaction="trans.Transaction" document-action="trans.showDocuments()" ng-if="trans.Transaction.TransactionType"></dus-transaction-header>

            <dus-timeline timeline-labels="trans.timelineLabels" transaction="trans.Transaction" timeline-type="Security"
                          ng-if="trans.Transaction.TransactionType && trans.Transaction.TransactionType != 'REMIC'"></dus-timeline>

            <dus-security-details ng-if="trans.Transaction.TransactionType === 'MBS'"
                                  transaction-id="trans.TransactionId"
                                  current-balance-date-fields="trans.currentBalanceDateFields"
                                  issuance-fields="trans.issuanceFields"
                                  dscr-fields="trans.DSCRFields"
                                  arm-fields="trans.ARMFields"></dus-security-details>

            <dus-mega-details ng-if="trans.Transaction.TransactionType === 'MEGA'"
                              transaction-id="trans.TransactionId"
                              current-balance-date-fields="trans.currentBalanceDateFields"
                              issuance-fields="trans.issuanceFields"
                              dscr-fields="trans.DSCRFields"
                              arm-fields="trans.ARMFields"
                              prepayment-fields="trans.prepaymentFields"></dus-mega-details>

            <div ng-if="trans.Loans">
                <div ui-scroll="loan in trans.loansSource" start-index="0" buffer-size="trans.scrollerBufferSize" adapter="trans.adapter">
                    <dus-loan loan="loan" is-credit-facility="trans.isCreditFacility()"></dus-loan>
                </div>
            </div>

            <!--trans.adapter should be able to keep the same name in the ui-scroll above and in this dus-properties directive because they should never exist at the same time-->
            <dus-properties ng-if="trans.Transaction.TransactionType === 'DMBS' && trans.Transaction.properties" properties="trans.Transaction.properties" use-scroll="true" property-adapter="trans.adapter" />
            
            <div class="section" ng-if="trans.ClassStructures">
                <h3>CLASS STRUCTURE</h3>
                <dus-tab-table data="trans.ClassStructures" tabs="trans.classTabs" section-id="transaction-remic-class"></dus-tab-table>
            </div>

            <div class="section" ng-if="trans.Groups">
                <h3>GROUP CHARACTERISTICS</h3>
                <dus-tab-table data="trans.Groups" tabs="trans.groupTabs" section-id="transaction-remic-class" sort="trans.groupSort"></dus-tab-table>
            </div>

            <div class="section" ng-if="trans.Collaterals || trans.RemicCollaterals">
                <h3>COLLATERAL</h3>
                <dus-tab-table ng-if="trans.RemicCollaterals" data="trans.RemicCollaterals" tabs="trans.collateralTabs" section-id="transaction-remic-collateral"></dus-tab-table>
                <dus-tab-table ng-if="trans.Collaterals" data="trans.Collaterals" tabs="trans.tabs" section-id="transaction-mega-collateral" sort="trans.collateralSort"></dus-tab-table>
            </div>

            <dus-transaction-documents ng-if="trans.IssuanceDocuments"
                                       additional-disclosure="trans.Transaction.AdditionalDisclosure"
                                       issuance-documents="trans.IssuanceDocuments"
                                       ongoing-document-dates="trans.OngoingDocumentDates"
                                       transaction="trans.Transaction"
                                       transaction-id="trans.TransactionId"></dus-transaction-documents>
        </div>
    </div>
</div>
