<div id="save-confirm" class="wow bounceInDown animated">
    <div class="alert alert-{{action.color}} alert-dismissible action text-center rt-errMsg-modal" role="alert" ng-if="action.visible">
        <button class="close" aria-label="Close" ng-click="action.visible = false;" style="right:0px;">
        <span aria-hidden="true">&times;</span></button>
        {{action.message}}
    </div>
</div>