<div class="modal-header">
    <a ng-click="modal.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="DetailTitle">{{modal.record.Type}} Detail for {{modal.record.Identifier}}</h4>
</div> 
<div class="modal-body">
    <div class="row">
        <div class="col-xs-20 col-sm-24 col-md-24 col-lg-24">
            <dus-field-filter input="modal.fields" output="modal.shownFields" labels="modal.labels"/>
        </div>
        <div class="col-xs-16 col-sm-12 col-md-12 col-lg-12" ng-if="modal.userAuthenticated()">
            <a class="btn btn-link" href="service/transaction/{{modal.transaction.Id}}/{{modal.transaction.ExecutionType}}/{{modal.transaction.TransactionIdentifier}}/fulldata" download analytics-on analytics-category={{modal.getGACategory()}} analytics-event="Download" analytics-label={{modal.getGALabel()}}>
            <span class="glyphicon glyphicon-circle-arrow-down"></span> Download All Data</a>
        </div>
    </div>
    <ul class="nav nav-tabs nav-tabs-links future" role="tablist">
        <li role="presentation" class="active"><a href="#loan-detail-terms" aria-controls="loan-detail-terms" role="tab" data-toggle="tab">Terms</a></li>
        <li role="presentation"><a href="#loan-detail-delinquency" aria-controls="loan-detail-delinquency" role="tab" data-toggle="tab">Delinquency</a></li>
        <li role="presentation"><a href="#loan-detail-appraisal" aria-controls="loan-detail-appraisal" role="tab" data-toggle="tab">Appraisal</a></li>
    </ul>
    <hr />
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="detail-terms">
            <div class="scroll">
                <ul class="label-value">
                    <li ng-repeat="field in modal.shownFields">
                        <div>{{modal.labels[field].label}}</div>
                        <span ng-if="modal.labels[field].formatting === ''">{{modal.Details[field]}}</span>
                        <span ng-if="modal.labels[field].formatting === 'date'">{{modal.Details[field].format('MM/DD/YYYY')}}</span>
                        <span ng-if="modal.labels[field].formatting === 'currency'" dus-currency currency-value="modal.Details[field]"></span>
                        <span ng-if="modal.labels[field].formatting === 'ratio'">{{modal.Details[field] | number:2}}</span>
                        <span ng-if="modal.labels[field].formatting === 'months'" dus-amount-unit amount="modal.Details[field]" unit="{{' month'}}" plural="{{' months'}}"></span>
                        <span ng-if="modal.labels[field].formatting === 'percent'" dus-amount-unit amount="modal.Details[field] | number: modal.labels[field].decimals" unit="%"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
