﻿<div id="dashboard" class="container-fluid">
    <div class="animated fadeIn"> 
        <div class="tab-content" > 
            <div class="pull-right">
                <a class="btn btn-sm btn-primary" ui-sref="main.buildreport.datasets" ng-click="rootctrl.trackEvent('Home','Create New clicked')"><span class="glyphicon glyphicon-plus"></span> New Ad Hoc Report</a>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="tab in tabctrl.tabs | orderBy: 'order'" role="presentation" ng-class="{active: tabctrl.tabId==$index}"><a href="" aria-controls="my" role="tab" ng-click="tabctrl.switchTab($index)">{{tab.display}}</a></li>
            </ul>
            <div id="report-filter-buttons" class="btn-group indent" data-toggle="buttons" ng-if="tabctrl.tab.name === 'allreports' || tabctrl.tab.name === 'schedule'">
                <label class="btn btn-sm btn-default" ng-class="{'active': filter.Id == tabctrl.selectedFilter.Id}" ng-repeat="filter in tabctrl.reportFilters | filter: { Tab : tabctrl.tab.name }">
                    <input type="radio" ng-model="tabctrl.selectedFilter" ng-value="filter" ng-change="tabctrl.applyFilter(tabctrl.reports)"> <span class="glyphicon glyphicon-filter"></span> {{filter.Label}}
                </label>
            </div>
            <div id="report-schedule-buttons" class="btn-group indent" data-toggle="buttons" style="display:none;">
                <label class="btn btn-sm btn-default active">
                    <input type="radio" name="report-schedule-radios" autocomplete="off" checked> <span class="glyphicon glyphicon-filter"></span> Scheduled by Me
                </label>
                <label class="btn btn-sm btn-default">
                    <input type="radio" name="report-schedule-radios" autocomplete="off"> <span class="glyphicon glyphicon-filter"></span> Scheduled by Others
                </label>
                <label class="btn btn-sm btn-default">
                    <input type="radio" name="report-schedule-radios" autocomplete="off" checked> <span class="glyphicon glyphicon-filter"></span> All Schedules
                </label>
            </div>
            <div class="clr"></div>
            <div class="well" ng-if="!tabctrl.loadingReport && tabctrl.reports.length==0">
                <div ng-if="tabctrl.tab.name === 'allreports'">
                    <h1>Welcome to Rockport Ad Hoc Reporting</h1>
                    <p>You do not currently have any ad hoc reports.</p>
                    <br>
                    <p>
                        <a class="btn btn-success" ui-sref="main.buildreport.datasets" ng-click="rootctrl.trackEvent('Home','Build first report clicked')">Build My First Report!</a>
                    </p>
                </div>
                <div ng-if="tabctrl.tab.name === 'schedule'">
                    You do not currently have any active schedules.
                </div>
                <div ng-if="tabctrl.tab.name === 'archived'">
                  	You do not currently have any archives.
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active box box-table" ng-if="!tabctrl.loadingReport && tabctrl.reports.length>0">
                <table class="table table-responsive table-condensed" ng-if="tabctrl.tab.name === 'allreports'">
                    <thead>
                        <tr>
                            <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Report Name</th>
                            <!--<th class="col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-if="tabctrl.tab.name === 'allreports'">By</th>-->
                            <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Role</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Created</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Modified</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(rIndex, report) in tabctrl.filteredReports | limitTo:tabctrl.itemsPerPage:tabctrl.begin" >
                        <td ng-if="report.RowType === 0 && !($last || tabctrl.filteredReports[$index+1].RowType === 0)" colspan="7" class="warning">
                            {{tabctrl.datasetsName[report.DataSetId]}}
                        </td>
                        <td ng-if="report.RowType !== 0" >
                            <div ng-if="report.RowType === 1">
                                <a ui-sref="main.buildreport.results({reportId:report.Id})" e2e-rptName="{{::report['Name']}}">{{::report['Name']}}</a>
                            </div>
                        </td>
                        <td ng-if="report.RowType === 1">                            
                            <!--<span class="glyphicon small" ng-class="{'glyphicon-eye-close': report.Access}"></span> {{::report["OwnerFirstName"]}} {{::report["OwnerLastName"]}}-->
                            <div>{{::tabctrl.getRole(report)}}</div>
                        </td>
                        <td ng-if="report.RowType === 1">
                            <div>{{::report['CreatedOn'] | date: tabctrl.dataFormat.DateTimeFormat}} <small ng-if="report['CreatedBy']">({{::report["CreatedByFirstName"]}} {{::report["CreatedByLastName"]}})</small></div>
                        </td>
                        <td ng-if="report.RowType === 1">
                            <div>{{::report['ModifiedOn'] | date: tabctrl.dataFormat.DateTimeFormat}} <small ng-if="report['ModifiedBy']">({{::report["ModifiedByFirstName"]}} {{::report["ModifiedByLastName"]}})</small></div>
                        </td>
                        <td class="text-right" ng-if="report.RowType !== 0" ng-class="{'borderless-td': report.RowType === 2}">
                            <div ng-if="report.RowType === 1" class="btn-group" role="group" uib-dropdown>
                                <a href="" class="btn btn-xs btn-default" uib-dropdown-toggle data-toggle aria-expanded="false"><span class="caret"></span></a>
                                <ul class="uib-dropdown-menu pull-right" role="menu">
                                    <li><a ui-sref="main.buildreport.results({reportId:report.Id})" ng-click="rootctrl.trackEvent('Dashboard report dropdown','Run Report clicked')"><strong>Run Report</strong></a></li>
                                    <li><a ng-click="tabctrl.downloadReport(report.Id, 'excel') | trackEvent:'Dashboard report dropdown':'Download Excel clicked'">Generate Excel</a></li>
                                    <li><a class="e2e-download-csv" ng-click="tabctrl.downloadReport(report.Id, 'csv') | trackEvent:'Dashboard report dropdown':'Download CSV clicked'">Generate CSV</a></li>
                                    <li><a class="e2e-download-pdf" ng-click="tabctrl.downloadReport(report.Id, 'pdf') | trackEvent:'Dashboard report dropdown':'Download PDF clicked'">Generate PDF</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-if="tabctrl.hasAccess(report, 'edit')" ui-sref="main.buildreport.fields({reportId:report.Id})" ng-click="rootctrl.trackEvent('Dashboard report dropdown','Edit Report clicked')" title="Edit">Edit Report Criteria</a></li>
                                    <li><a ng-click="tabctrl.saveReport(report.Id, 'saveasOnly') | trackEvent:'Dashboard report dropdown':'Save As clicked'">Save as...</a></li>
                                    <li class="divider" ng-if="tabctrl.hasAccess(report, 'schedule')"></li>
                                    <li><a ng-if="tabctrl.hasAccess(report, 'schedule')" ng-click="tabctrl.viewSchedules(report) | trackEvent:'Dashboard report dropdown':'Schedule clicked'">Schedule...</a></li>
                                    <li class="divider" ng-if="tabctrl.hasAccess(report, 'rename')"></li>
                                    <li><a ng-if="tabctrl.hasAccess(report, 'rename')" ng-click="tabctrl.saveReport(report.Id, 'rename') | trackEvent:'Dashboard report dropdown':'Rename Report clicked'" title="Rename Report">Rename Report</a></li>
                                    <li><a ng-if="tabctrl.hasAccess(report, 'delete')" ng-click="tabctrl.deleteReport(report.Id) | trackEvent:'Dashboard report dropdown':'Delete Report clicked'">Delete Report</a></li>
                                    <li><a ng-if="tabctrl.hasAccess(report, 'permission')" ng-click="tabctrl.saveReport(report.Id, 'permission') | trackEvent:'Dashboard report dropdown':'Manage Permission clicked'" title="Manage Permissions">Manage Permissions...</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-responsive table-condensed" ng-if="tabctrl.tab.name === 'schedule'">
                    <thead>
                        <tr>
                            <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Report Name</th>
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">By</th>
                            <!--<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Created</th>
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Modified</th>-->
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Scheduled</th>
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Scheduled By</th>
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Last Run</th>
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Next Run</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(rIndex, report) in tabctrl.filteredReports | limitTo:tabctrl.itemsPerPage:tabctrl.begin">
                            <td ng-if="report.RowType === 0 && !($last || tabctrl.filteredReports[$index+1].RowType === 0)" colspan="7" class="warning">
                                {{report.Name}} ({{tabctrl.datasetsName[report.DataSetId]}})
                            </td>
                            <td ng-if="report.RowType === 1">
                               <small class="text-muted">{{tabctrl.getExtension(report.Schedule.ExportFormat)}}</small> <a ui-sref="main.buildreport.results({reportId:report.Id})">{{report.Schedule.Name}}</a>
                            </td>
                            <td ng-if="report.RowType === 1">
                                {{::report["CreatedByFirstName"]}} {{::report["CreatedByLastName"]}}
                            </td>
                            <td ng-if="report.RowType === 1" >
                                <div ng-if="tabctrl.hasAccess(report, 'edit')">
                                    <a ng-click="tabctrl.showSchedule(report.Schedule)">{{::report.Schedule.CronDescription}}</a>
                                </div>
                                <div ng-if="!tabctrl.hasAccess(report, 'edit')">
                                    {{::report.Schedule.CronDescription}}
                                </div>
                            </td>
                            <td ng-if="report.RowType === 1">
                                {{::report.Schedule["CreatedByFirstName"]}} {{::report.Schedule["CreatedByLastName"]}}
                            </td>
                            <td ng-if="report.RowType === 1">
                                <div ng-if="report.Schedule !== null">
                                    {{::report.Schedule.LastRun | date:tabctrl.dataFormat.DateTimeFormat }}                                    
                                </div>
                                <div ng-if="report.Schedule === null">
                                    N/A
                                </div>
                            </td>
                            <td ng-if="report.RowType === 1">
                                <div ng-if="report.Schedule !== null">
                                    {{::report.Schedule.NextRun | date:tabctrl.dataFormat.DateTimeFormat }}
                                </div>
                                <div ng-if="report.Schedule === null">
                                    N/A
                                </div>
                            </td>
                            <td class="text-right" ng-if="report.RowType === 1">
                                <div ng-if="report.RowType === 1" class="btn-group" role="group" uib-dropdown>
                                    <a href="" class="btn btn-xs btn-default" uib-dropdown-toggle data-toggle aria-expanded="false"><span class="caret"></span></a>
                                    <ul class="uib-dropdown-menu pull-right" role="menu">
                                        <li><a ng-if="tabctrl.hasAccess(report, 'edit')" ng-disabled="report.Schedule === null" ng-click="tabctrl.showSchedule(report.Schedule) | trackEvent:'Dashboard report dropdown':'Edit Schedule clicked'">Edit Schedule</a></li>
                                        <li><a ng-disabled="report.Schedule === null" ng-click="tabctrl.viewScheduleRecipients(report) | trackEvent:'Dashboard report dropdown':'View recipients clicked'">View Recipients</a></li>
                                        <li class="divider"></li>
                                        <li><a ng-if="tabctrl.hasAccess(report, 'delete')" ng-disabled="report.Schedule === null" ng-click="tabctrl.deleteSchedule(report.Schedule) | trackEvent:'Dashboard report dropdown':'Delete Schedule clicked'">Delete Schedule</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-responsive" ng-if="tabctrl.tab.name === 'archived'">
                    <thead>
                        <tr>
                            <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Name</th>
                            <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Schedule Name</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">By</th>
                            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Created</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(rIndex, report) in tabctrl.reports | limitTo:tabctrl.itemsPerPage:tabctrl.begin">
                            <td ng-if="report.RowType === 0" colspan="5" class="warning">
                                {{report.Name}}
                            </td>
                            <td ng-if="report.RowType === 1">
                                <small class="text-muted">{{tabctrl.getExtension(report.Archive.ExportFormat)}}</small> <a href="{{tabctrl.serviceUrl}}/archive/download/{{::report.Archive['Id']}}" download="{{::report.Archive['FileName']}}">{{::report['Name']}}</a>
                            </td>
                            <td ng-if="report.RowType === 1">
                                {{::report.Archive.ScheduleName}}
                            </td>                         
                            <td ng-if="report.RowType === 1">
                                {{::report.Archive.UserFirstName}} {{::report.Archive.UserLastName}}
                            </td>
                            <td ng-if="report.RowType === 1">
                                {{::report.Archive['CreatedOn'] | date: tabctrl.dataFormat.DateTimeFormat}}
                            </td>
                            <td class="text-right" ng-if="report.RowType === 1">
                                <a class="btn btn-xs btn-primary" href="{{tabctrl.serviceUrl}}/archive/download/{{::report.Archive['Id']}}" download="{{::report.Archive['FileName']}}"><span class="glyphicon glyphicon-arrow-down"></span> Download</a>
                                <button class="btn btn-xs btn-danger" ng-if="tabctrl.hasAccess(report, 'delete')" ng-click="tabctrl.deleteArchive(report.Archive)"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<div class="clearfix"></div>
            </div>
            <uib-pagination ng-if="tabctrl.tab.name === 'archived'" boundary-links="true" total-items="tabctrl.reports.length" items-per-page="tabctrl.itemsPerPage" ng-model="tabctrl.currentPage" class="pagination-md" 
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false" max-size="5" num-pages="tabctrl.numPages" ng-show="tabctrl.numPages>1"></uib-pagination>
            <uib-pagination ng-if="tabctrl.tab.name != 'archived'" boundary-links="true" total-items="tabctrl.filteredReports.length" items-per-page="tabctrl.itemsPerPage" ng-model="tabctrl.currentPage" class="pagination-md"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false" max-size="5" num-pages="tabctrl.numPages" ng-show="tabctrl.numPages>1"></uib-pagination>
        </div>
    </div>
</div>