<div class="modal-header">
    <button ng-click="modal.cancel()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="addInternalCommentTitle">Add an Internal Comment</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
                <div class="form-group">
                    <p class="form-label">By</p>
                    <p class="form-control-static">{{modal.currentUser}}</p>
                </div>
            </div>
            <div class="col-xs-24 col-sm-16 col-md-16 col-lg-16">
                <div class="form-group">
                    <p class="form-label">Date</p>
                    <p class="form-control-static">{{modal.currentDate.format('MM/DD/YYYY')}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="form-group">
                    <p class="form-label" fmda-validate="Comment">Comment</p>
                    <p>
                        <textarea spellcheck="true" class="form-control" rows="4" ng-model="modal.comment"></textarea>
                    </p>
                </div>
            </div>
        </div>
    </form>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.addComment()" class="btn btn-primary" fmda-button>Save</button>
        </div>
    </div>
</div>