/*VISIBILITY CONTROL FOR DEV (Comment out what you want to see)*/

/* #home, */
#disclosure-operations,
/* #disclosure-operations-list, */
#disclosure-operations-pool-detail,
#disclosure-operations-deal-detail,
#disclosure-operations-remic-detail,
#disclosure-operations-mega-detail,
#additional-disclosure,
/* #additional-disclosure-list, */
#additional-disclosure-closed-pool-detail,
#additional-disclosure-certified-pool-detail,
#additional-disclosure-closed-deal-detail,
#additional-disclosure-certified-deal-detail,
#additional-disclosure-closed-detail,
#additional-disclosure-certified-detail,
#specialized-transactions,
/* #specialized-transactions-list, */
#specialized-transactions-pool-detail,
#specialized-transactions-deal-detail,
#specialized-transactions-remic-detail,
#specialized-transactions-mega-detail,
#specialized-transactions-detail,
#pending-publishing,
#stickering,
#documents,
#issuance-publication,
/* #issuance-publication-list, */
#issuance-publication-detail,
#banners,
#disclosure-site-content-carousel,
#disclosure-site-content-learning-center,
#disclosure-site-content-product-information,
#disclosure-site-content-usage-agreement,
#disclosure-site-content-data-collections-content,
#disclosure-site-content-data-collections-system-documents,
#system-data-transfers,
#system-publishing-schedule,
#system-holiday-calendar,
#system-user-roles,
#system-users,
#search,
#reporting,
#session-expired	{
	display:none;
}

/*VISIBILITY CONTROL FOR INTERNAL (Comment out what you want to see)*/
/* #add-document-hold-button */	{
	display:none;
}

.navbar-brand	{
	background:url(../images/logo_fanniemae_icon_2x.png) transparent no-repeat;
	background-size:210px 40px;
	background-position:50% 50%;
	width:230px;
}

.navbar-app .dropdown-menu.fmda-menu	{
	width:280px;
}

.fmda-menu	{
	font-size:14px;
}

.dropdown.user-menu .dropdown-menu	{
	width:200px;
}

.fmda-menu .header	{
	/* font-weight:bold; */
	background-color:#ced5d9;
	color:#333333 !important;
	padding:10px 14px 8px 14px;
}

.panel-default>.panel-heading.panel-heading-main	{
	background:#fff;
	border:1px solid #215989;
}

.navbar-fixed-top.navbar-detail	{
	border:none !important;
	border-bottom:1px solid #ccc;
	-webkit-box-shadow:0 18px 12px -6px rgba(0,0,0,0.175);
	box-shadow:0 6px 12px -6px rgba(0,0,0,0.175);
	margin-bottom:none;
	padding:10px 15px;
	top:50px;
	border:1px solid #ccc;
	background-color:#fff;
}

.navbar-fixed-top.navbar-detail .navbar-detail-title	{
	font-size:21px;
	color:#215989;
	position:relative;
	top:4px;
	left:2px;
}

.panel-first	{
	position:relative;
	top:38px;
}

.expand:hover	{
	text-decoration:none;
}

#save-confirm,
#ninety-days-warning	{
	position:fixed;
	z-index:6;
	width:100%;
	display:block;
	margin-top:30px;
}

#save-confirm .alert,
#ninety-days-warning .alert	{
	position:relative;
	border-radius:4px;
	box-shadow:0px 4px 10px;
	padding:10px 15px;
	margin:00px auto 10px auto;
	width:400px;
}

.glyphicon	{
	top:2px;
}

.uib-datepicker-popup {
	position: relative;
}

.uib-datepicker {
	position: fixed;
	z-index:999999 !important;
}

ul.ui-select-choices {
    position: relative;
}

.uib-datepicker td {
	padding:0;
}

li.uib-button-bar {
    display:none;
}

.has-error {
	margin:0;
}

.has-error .input-group-btn .btn {
	border:solid 1px #a94442;
}

.has-error .note-editor {
    border:solid 1px #a94442 !important;
    margin-bottom:0;
}

.published .published-visibile	{
	display:inline-block;
}

.published .published-hidden	{
	display:none;
}

.criteria-list .val-error {
    padding-left: 10px;
}

.btn-group input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.ui-sortable-helper{
    display: inline-table;
}

img.icon-img {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
}

img.icon-img:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
}

.datepicker-today button span {
    color: #333;
}

a[ng-click] {
    cursor: pointer;
}

td.number-column {
    text-align:right;
    padding-right:4% !important;
}

/*.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: inherit !important;
    background-color: inherit !important;
}*/