﻿<script type="text/ng-template" id="typeahead.html">
    <a class="list-group-item" style="cursor:pointer;">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <span class="text-muted small pull-right">{{match.model.Type}}</span>
    </a>
</script>

<script type="text/ng-template" id="typeahead-popup.html">
    <div class="list-group scroll quick-search-results" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="{{!isOpen()}}">
        <div class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </div>
    </div>
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" ui-sref="home" ng-click="navbar.resetIsAccountValid()"><div class="logo"></div><span>DUS Disclose</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-if="navbar.isAccountValid()">
            <form id="navbar-search" class="navbar-form navbar-left" 
                  ng-class="{'active':navbar.advancedSearchClicked, 'inactive':!navbar.advancedSearchClicked}" role="search">
                <div class="search-form-wrapper">
                    <span class="glyphicon glyphicon-search text-primary hidden-xs"></span>
                    <div class="form-group">
                        <input type="search" class="form-control search-field" placeholder="Transaction ID or CUSIP"
                               disallow-spaces
                               ng-model="navbar.searchInput"
                               uib-typeahead="option as option.TransactionIdentifier for option in navbar.getSearchSuggestions($viewValue)"
                               typeahead-template-url="typeahead.html"
                               typeahead-popup-template-url="typeahead-popup.html"
                               typeahead-on-select="navbar.transactionSelected()"
                               typeahead-no-results="navbar.noMatch"
                               typeahead-show-hint="true"
                               typeahead-min-length="4"
                               typeahead-loading="navbar.loadingResults"
                               typeahead-append-to="'#navbar-search'">
                    </div>
                    <a class="toggle-navbar-advanced-search" 
                       id="nav-advanced-search-button"
                       ng-click="navbar.advancedSearchClick()"
                       aria-controls="nav-advanced-search">
                        Adv<span id="nav-advanced-search-hidden" class="hidden-sm">anced</span> 
                        <span id="nav-advanced-search-word" class="hidden-sm hidden-md">Search</span> 
                        <span id="nav-advanced-search-arrow" class="glyphicon" ng-class="{'glyphicon-chevron-up':!navbar.advancedSearchClicked, 'glyphicon-chevron-down':navbar.advancedSearchClicked}"></span>
                    </a>
                </div>
                <i ng-show="navbar.loadingResults" class="glyphicon glyphicon-refresh quick-search-results" style="color:white;"></i>
                <div ng-show="navbar.noMatch && navbar.searchInput.length >= 4 && !navbar.lookingForCollapsed()" class="list-group-item quick-search-results">No results. Try modifying your search.</div>
                <div ng-show="navbar.noMatch && navbar.lookingForCollapsed()" class="list-group-item quick-search-results">This transaction has been collapsed.</div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                
                <li id="navbar-link-resources" class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-list text-primary"></span> <span class="hidden-sm hidden-md">Resources</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-resources" uib-dropdown-menu>
                        <div class="list-group">
                            <a ui-sref="resources({resourcetype: 'productinformation'})" class="list-group-item">Product Information</a>
                            <a ui-sref="resources({resourcetype: 'learningcenter'})" class="list-group-item">Learning Center</a>
                            <a ui-sref="resources({resourcetype: 'datacollections'})" class="list-group-item">Data Collections</a>
                        </div>
                    </div>
                </li>

                <li ng-if="navbar.isUserLoggedIn()" id="navbar-link-portfolios" class="dropdown" uib-dropdown style="position:relative;">
                    <a class="dropdown-toggle" role="button" uib-dropdown-toggle><span class="glyphicon glyphicon-folder-close text-primary"></span> <span class="hidden-sm hidden-md">My Portfolios</span></a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-resources" uib-dropdown-menu>
                        <div class="list-group scroll">
                            <a ng-repeat="portfolio in navbar.portfolios" 
                               ui-sref="search({searchOptions: null ,portfolioId: portfolio.Id})" class="list-group-item">
                                {{portfolio.Name}}
                            </a>
                            <div class="list-group-item" ng-show="navbar.portfolios.length == 0">
                                <p>You do not currently have any Portfolios.</p>
                                <p><a id="nav-advanced-search-button" ng-click="navbar.advancedSearchClick()" href="#nav-advanced-search" class="toggle-navbar-advanced-search" 
                                      role="button" data-toggle="collapse" aria-expanded="false" 
                                      aria-controls="nav-advanced-search">Build an Advanced Search</a> to create one.</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li ng-if="navbar.isUserLoggedIn()" id="navbar-notifications" class="dropdown" uib-dropdown style="position:relative;" on-toggle="navbar.refreshNotifications(open);">
                    <a class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-bullhorn text-primary"></span>
                        <span class="hidden-sm hidden-md">Notifications</span>
                        <span class="bg-warning" dus-notification-count="navbar.notificationUnreadCount"></span>
                    </a>
                    <div class="dropdown-menu notifications-list" uib-dropdown-menu>
                        <div class="padding-container">
                            <div class="btn-group" data-toggle="buttons" ng-if="navbar.hasNotificationData()">
                                <label class="btn btn-default" ng-class="{'active': navbar.showIssuanceData}" ng-click="navbar.filterNotifications($event)">
                                    <input type="checkbox" autocomplete="off" ng-model="navbar.showIssuanceData"> <span dus-notification-count="navbar.unreadIssuanceDataChangesCount"></span> Issuance Data Changes
                                </label>
                                <label class="btn btn-default" ng-class="{'active': navbar.showAlerts}" ng-click="navbar.filterNotifications($event)">
                                    <input type="checkbox" autocomplete="off" ng-model="navbar.showAlerts"> <span dus-notification-count="navbar.unreadAlertsCount"></span> Alerts
                                </label>
                            </div>
                            <hr ng-if="navbar.hasNotificationData()"/>
                            <p>{{navbar.notificationMessage()}}</p>
                        </div>
                        <div id="scroll-to-bottom-test" class="scroll">
                            <ul>
                                <li ng-class="{'bg-warning': notification.Read == 0}" ng-repeat="notification in navbar.filteredNotifications">
                                    <!--IssuanceDataChanges-->
                                    <a style="text-decoration: none;" ui-sref="transaction({id: notification.TransactionId})">
                                        <strong>{{notification.TransactionIdentifier}}</strong>
                                        <span>{{notification.Text}}</span><br/>
                                        <span class="text-muted small">{{navbar.daysAgo(notification.CreatedOn)}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li id="navbar-user" class="dropdown" ng-if="navbar.isUserLoggedIn()" uib-dropdown>
                    <a class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-user text-primary"></span>
                        <span class="hidden-sm hidden-md">Account</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-user" uib-dropdown-menu>
                        <div class="list-group">
                            <a ng-click="navbar.showAccountInfo()" class="list-group-item account-user-name" title="{{navbar.getUserFullName()}}"><span class="glyphicon glyphicon-pencil"></span> {{navbar.getUserFullName()}}</a>
                        </div>
                        <a ng-click="navbar.logout()" class="btn btn-primary logout-button btn-block" style="text-align:right;">Logout <span class="glyphicon glyphicon-log-out"></span></a>
                    </div>
                </li>
                
                <dus-login-form ng-if="!navbar.isUserLoggedIn()"></dus-login-form>
                <li id="navbar-link-register" ng-if="!navbar.isUserLoggedIn()">
                    <a ng-click="navbar.showRegistrationModal()">Register</a>
                </li>

            </ul>
        </div>
    </div>

    <!--Advanced search-->
    <div ng-if="navbar.advancedSearchClicked" style="height: 0px;">
        <div class="container advanced-search">
            <div class="panel">
                <div class="panel-body">
                    <dus-advanced-search 
                        model="navbar.AdvSearch"
                        user-logged-in="navbar.isUserLoggedIn()"
                        on-search-clicked-event="navbar.advancedSearch"
                        toggle="navbar.advancedSearchClicked"
                        portfolios="navbar.portfolios"
                        on-clicked-outside-event="navbar.onClickedOutside"
                        escape-elementids="create-portfolio-link, nav-advanced-search-button,nav-advanced-search-word,nav-advanced-search-arrow,nav-advanced-search-hidden">
                    </dus-advanced-search>

                </div>
            </div>
        </div>
    </div>
    <!--End advanced search-->
</nav>
