<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Disclosure Site: <span class="text-primary">{{resources.resourceType.label}}</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">
        <input type="checkbox" ng-model="resources.showInactiveStatus" ng-checked="resources.showInactiveStatus" ng-change="resources.refreshLists()" /> Show Inactive Content
    </div>
</div>
<div id="disclosure-site-content-resources-center-root">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <h4><a>Top Level (Root)</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <div class="well">
                <div id="disclosure-site-resources-center-copy">
                    <a ng-if="resources.toplevelEditable ? resources.accessObj.hasEditAccess : resources.accessObj.hasCreateAccess" href="javascript:void(0);" ng-click="resources.editTopContent(resources.toplevel)" 
                       class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span> {{ resources.toplevelEditable ? 'Edit' : 'Add'}} <span>Icon / Copy</span>
                    </a>
                    <div ng-if="resources.toplevel.Description">
                        <hr>
                        <p class="text-muted">Icon</p>
                        <div ng-if="resources.toplevel.Id > 0">
                            <p><img class="icon-img" ng-src="data:image/jpg;base64,{{resources.toplevel.Base64Icon}}"
                                    width="20" height="20" alt="icon"></p>
                        </div>
                        
                        <p class="text-muted">Copy</p>
                        <p ng-bind-html="resources.toplevel.Description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5>Content</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <p>
                <a ng-if="resources.accessObj.hasCreateAccess" href="javascript:void(0);" ng-click="resources.addContent()" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus"></span> New Entry
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th ng-if="resources.accessObj.hasEditAccess" class="w10"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Order</a></th>
                            <th class="w30"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Name</a></th>
                            <th class="w30"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>URL or File</a></th>
                            <th class="w15"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Status</a></th>
                            <th class="w15"></th>
                        </tr>
                    </thead>
                    <tbody id="contents" list="resources.contents" callback="resources.reorderContents" fmda-draggable="{{resources.accessObj.hasEditAccess}}">
                        <tr ng-repeat="content in resources.contents | orderBy : 'Order'">
                            <td ng-if="resources.accessObj.hasEditAccess" class="w10"><a href="javascript:void(0);"><span class="glyphicon glyphicon-move"></span></a></td>
                            <td class="w30">{{content.Name}}</td>
                            <td class="w30">
                                <a ng-if="content.ContentType == 0" href="{{content.UrlOrFileName}}" target="_blank">{{content.UrlOrFileName}}</a>
                                <a ng-if="content.ContentType == 1" href="service/contents/{{content.Id}}/file" download>{{content.UrlOrFileName}}</a>
                                <span ng-if="content.ContentType == 2">{{content.Name}}</span>
                            </td>
                            <td class="w15">{{content.IsActive == false ? 'Inactive' : 'Active'}}</td>
                            <td class="text-right w15">
                                <a ng-if="resources.accessObj.hasEditAccess && (content.ContentType != 2)" href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="resources.editContent(content)">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs"> Edit</span></a>
                                <span class="text-muted" ng-if="content.ContentType == 2">System Document</span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5>Categories</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <p ng-if="resources.accessObj.hasCreateAccess"><a href="javascript:void(0);" class="btn btn-sm btn-success" ng-click="resources.addCategory()">
                <span class="glyphicon glyphicon-plus"></span> New Category</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th ng-if="resources.accessObj.hasEditAccess" class="w10"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Order</a></th>
                            <th class="w40"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Category Name</a></th>
                            <th class="w10"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Subcategories</a></th>
                            <th class="w10"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Authentication</a></th>
                            <th class="w15"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Status</a></th>
                            <th class="w15"></th>
                        </tr>
                    </thead>
                    <tbody id="categories" list="resources.categories" callback="resources.reorderCategories" fmda-draggable="{{resources.accessObj.hasEditAccess}}">
                        <tr ng-repeat="category in resources.categories | orderBy : 'Order'">
                            <td ng-if="resources.accessObj.hasEditAccess" class="w10"><a href="javascript:void(0);"><span class="glyphicon glyphicon-move"></span></a></td>
                            <td class="w40">
                                <a ui-sref="category({resourcetype: resources.resourceType.name, categoryid: category.Id})">
                                    {{category.Name}}
                                </a>
                            </td>
                            <td class="w10">{{category.SubCategoriesCount}}</td>
                            <td class="w10">{{category.AuthenticationRequired ? 'Yes' : 'No'}}</td>
                            <td class="w15">{{category.IsActive ? 'Active' : 'Inactive'}}</td>
                            <td class="text-right w15">
                                <a ng-if="resources.accessObj.hasEditAccess" href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="resources.editCategory(category)">
                                    <span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> Edit</span>
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

