<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert-control">
                <div class="pull-left">
                    <toggle ng-model="portfolioAlerts.alerts.newIssuance.Active" ng-change="portfolioAlerts.toggleAlert(portfolioAlerts.alerts.newIssuance)" size="btn btn-sm custom"></toggle>
                </div>
                <div class="pull-left alert-name">
                    New Issuance
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert-control">
                <div class="pull-left">
                    <toggle ng-model="portfolioAlerts.alerts.collateralChange.Active" ng-change="portfolioAlerts.toggleAlert(portfolioAlerts.alerts.collateralChange)" size="btn btn-sm custom"></toggle>
                </div>
                <div class="pull-left alert-name">
                    Collateral Change
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert-control">
                <div class="pull-left">
                    <toggle ng-model="portfolioAlerts.alerts.delinquency.Active" ng-change="portfolioAlerts.toggleAlert(portfolioAlerts.alerts.delinquency)" size="btn btn-sm custom"></toggle>
                </div>
                <div class="pull-left alert-name">
                    Delinquency Increase
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert-control">
                <div class="pull-left">
                    <toggle ng-model="portfolioAlerts.alerts.dealPaydown.Active" ng-change="portfolioAlerts.toggleAlert(portfolioAlerts.alerts.dealPaydown)" size="btn btn-sm custom"></toggle>
                </div>
                <div class="pull-left alert-name">
                    Deal Paydown
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert-control">
                <div class="pull-left">
                    <toggle ng-model="portfolioAlerts.alerts.prepayment.Active" ng-change="portfolioAlerts.toggleAlert(portfolioAlerts.alerts.prepayment)" size="btn btn-sm custom"></toggle>
                </div>
                <div class="pull-left alert-name">
                    Prepayment Premium Ended
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert-control">
                <div class="pull-left">
                    <toggle ng-model="portfolioAlerts.alerts.updatedIssuanceDoc.Active" ng-change="portfolioAlerts.toggleAlert(portfolioAlerts.alerts.updatedIssuanceDoc)" size="btn btn-sm custom"></toggle>
                </div>
                <div class="pull-left alert-name">
                    Updated Issuance Documents
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>