<div class="modal-content">
    <div class="modal-header">
        <a href="javascript:void(0);" class="close" ng-click="modal.cancel()">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
        <h4 class="modal-title" id="stickeringReviewTitle">Review Stickering - Pool {{modal.transaction.Record}}</h4>
    </div>
    <div class="loader-modal"></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <h4>Fields</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Date</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Record</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Field</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Old Value</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>New Value</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Pending</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Sticker</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Do Not Sticker</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="field in modal.securityStickering.Fields | orderBy : 'CreatedDate'">
                                <td>{{field.CreatedDate.format('MM/DD/YYYY')}}</td>
                                <td>{{field.Record}}</td>
                                <td>{{field.Field}}</td>
                                <td ng-if="field.formatFilter == 'date'" class="text-danger">{{field.OldValue.format('MM/DD/YYYY')}}</td>
                                <td ng-if="field.formatFilter == 'date'" class="text-success">{{field.NewValue.format('MM/DD/YYYY')}}</td>
                                <td ng-if="field.formatFilter != 'date'" class="text-danger">{{field.OldValue | picker:field.formatFilter}}</td>
                                <td ng-if="field.formatFilter != 'date'" class="text-success">{{field.NewValue | picker:field.formatFilter}}</td>
                                
                                <td ng-if="!field.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="field.Stickered" ng-value="0" ng-checked="0" >
                                </td>
                                <td ng-if="!field.initialSticker" class="text-center w15">
                                    <input type="radio" ng-disabled="modal.isConverted" ng-model="field.Stickered" ng-value="1" >
                                </td>
                                <td ng-if="!field.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="field.Stickered" ng-value="2" >
                                </td>

                                <td class="text-center w15" ng-if="field.initialSticker"></td>
                                <td class="text-center w15" ng-if="field.initialSticker">
                                    <span ng-show="field.Stickered == 1">{{field.ModifiedOn.format('MM/DD/YYYY')}}</span>
                                </td>
                                <td class="text-center w15" ng-if="field.initialSticker">
                                    <span ng-show="field.Stickered == 2">{{field.ModifiedOn.format('MM/DD/YYYY')}}</span>
                                </td>
                            </tr>
                            
                        </tbody>
                        
                    </table>
                </div>
                <h4>Footnotes</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Date</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Record</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Field</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Content</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Pending</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Sticker</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Do Not Sticker</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="footnote in modal.securityStickering.Footnotes | orderBy : 'CreatedDate'">
                                <td>{{footnote.CreatedDate.format('MM/DD/YYYY')}}</td>
                                <td>{{footnote.TransactionId}}</td>
                                <td>{{footnote.Field}}</td>
                                <td>
                                    <span text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text="{{footnote.Content}}"></span>
                                </td>
                                
                                <td ng-if="!footnote.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="footnote.Stickered" ng-value="0" ng-checked="0" >
                                </td>
                                <td ng-if="!footnote.initialSticker" class="text-center w15">
                                    <input type="radio" ng-disabled="footnote.Deleted" ng-model="footnote.Stickered" ng-value="1" >
                                </td>
                                <td ng-if="!footnote.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="footnote.Stickered" ng-value="2" >
                                </td>

                                <td class="text-center w15" ng-if="footnote.initialSticker"></td>
                                <td class="text-center w15" ng-if="footnote.initialSticker">
                                    <span ng-show="footnote.Stickered == 1">{{footnote.ModifiedOn.format('MM/DD/YYYY')}}</span>
                                </td>
                                <td class="text-center w15" ng-if="footnote.initialSticker">
                                    <span ng-show="footnote.Stickered == 2">{{footnote.ModifiedOn.format('MM/DD/YYYY')}}</span>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <h4>Documents</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Date</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Document</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Old Document</a></th>
                                <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>New Document</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Pending</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Sticker</a></th>
                                <th class="w10 text-center"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span>Do Not Sticker</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in modal.securityStickering.Documents | orderBy : 'CreatedDate'">
                                <td>{{document.CreatedDate.format('MM/DD/YYYY')}}</td>
                                <td>{{document.DocName}}</td>
                                <td class="text-danger">
                                    <a href="service/transaction/stickering/queue/{{modal.queueType}}/document/{{document.DocumentId}}/history/{{document.OldDocumentHistoryId}}" download>{{document.OldIsDeleted ? 'Deleted - ': '' }}Download</a>
                                </td>
                                <td class="text-success">
                                    <a href="service/transaction/stickering/queue/{{modal.queueType}}/document/{{document.DocumentId}}/history/{{document.DocumentHistoryId}}" download>{{document.NewIsDeleted ? 'Deleted - ': '' }}Download</a>
                                </td>

                                <td ng-if="!document.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="document.Stickered" ng-value="0" ng-checked="0" >
                                </td>
                                <td ng-if="!document.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="document.Stickered" ng-value="1" >
                                </td>
                                <td ng-if="!document.initialSticker" class="text-center w15">
                                    <input type="radio" ng-model="document.Stickered" ng-value="2" >
                                </td>

                                <td class="text-center w15" ng-if="document.initialSticker"></td>
                                <td class="text-center w15" ng-if="document.initialSticker">
                                    <span ng-show="document.Stickered == 1">{{document.ModifiedOn.format('MM/DD/YYYY')}}</span>
                                </td>
                                <td class="text-center w15" ng-if="document.initialSticker">
                                    <span ng-show="document.Stickered == 2">{{document.ModifiedOn.format('MM/DD/YYYY')}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 text-left">
                <fmda-modal-error></fmda-modal-error>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12 text-left">
                <span class="text-warning padded-text flush-left">Accepted updates will initiate document re-publication.</span>                
            </div>
            <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="modal.save()" ng-disabled="modal.saveDisabled();" fmda-button>Accept</button>
            </div>
        </div>
    </div>
</div>