﻿<nav class="navbar navbar-default navbar-app navbar-fixed-top" role="navigation">
    <div id="loader"></div>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="dashboard">Fannie Mae powered by TreppPort</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav" role="menu" ng-if="navbar.accessObj.hasAdHocReportingAccess">
                <li class="dropdown">
                    <a ng-click="navbar.openAdHocUrl()" id="navbar-reports" class="nav-tab" title="Reports"></a>
                </li>
            </ul>
            <div class="qs-block navbar-left" ng-if="navbar.hasQueueAccess()">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="search" ng-model="navbar.searchInput" class="form-control qs-field" placeholder="Search" ng-keypress="navbar.pressedEnter($event)">
                        <a ng-click="navbar.search()" class="btn btn-default btn-qs"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="javascript:void(0);" id="navbar-tools" class="nav-tab dropdown-toggle" data-toggle="dropdown" title="Menu"></a>
                    <div class="dropdown-menu fmda-menu" role="menu">
                        <ul class="scroll">
                            <li class="header" ng-if="navbar.queueMenus.length > 0">Queues</li>
                            <li ng-repeat="menu in navbar.queueMenus">
                                <a ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                            </li>
                            
                            <li class="header" ng-if="navbar.holdsBannersMenus.length > 0">Holds &amp; Banners</li>
                            <li ng-repeat="menu in navbar.holdsBannersMenus">
                                <a ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                            </li>
                           
                            <li class="header" ng-if="navbar.disclosureSiteMenus.length > 0">Disclosure Site</li>
                            <li ng-repeat="menu in navbar.disclosureSiteMenus">
                                <a ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                            </li>

                            <li class="header" ng-if="navbar.systemMenus.length > 0">System</li>
                            <li ng-repeat="menu in navbar.systemMenus">
                                <a ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown user-menu">
                    <a href="javascript:void(0);" class="nav-tab dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">{{navbar.userInfo.FriendlyName}}</span> <span class="caret"></span></a>
                    <div class="dropdown-menu" role="menu">
                        <ul>
                            <li><a href="./SSO/Logout" class="icon power"><span>Logout</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>