<div ng-class="{'scrolling': applyScrolling()}">
		<div id="footer">
			<div class="left">
				<span>&copy; 2016 <a href="http://www.fanniemae.com">Fannie Mae</a></span>
			</div>
			<div class="right footer-links">
				<a href="https://mbsdisclosure.fanniemae.com/PoolTalk2/index.html" target="_blank" class="text-link">PoolTalk</a>
				<a href="glossary/Dummy Glossary.pdf" class="text-link" target="_blank">Glossary</a>
				<a href="http://www.fanniemae.com/portal/legal-disclosure.html" target="_blank" class="text-link">Legal Notice</a>
				<br class="visible-xs" />
				<a href="http://www.fanniemae.com/portal/privacy-statement.html" target="_blank" class="text-link">Privacy Notice</a>
                <a class="text-link" ng-click="showContactUs()">Contact Us</a>
				<br class="visible-xs" />
				<br class="visible-xs" />
				<a href="http://www.fanniemae.com/portal/stay-connected.html" class="text-link stay-connected" target="_blank">Stay Connected</a>
			</div>
			<div class="clearfix"></div>
		</div>
</div>
