<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Queues: <span class="text-primary">Stickering Approval</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">

    </div>
</div>

<div role="tabpanel" ng-if="stickering.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: stickering.activeTab.id == tab.id}" ng-repeat="tab in stickering.tabs">
                    <a id="{{tab.caption}}" ui-sref="stickeringapproval({tabid: tab.id})" ui-sref-opts="({notify: false})" ng-click="stickering.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a ng-click="stickering.load()" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></a>
            <a ng-if="stickering.accessObj.hasPendingPublishingViewAccess" class="btn btn-link rt-pending-publishing" name="pendingpublishing" ui-sref="pendingpublishing">
            Pending Publishing<span class="hidden-xs"> ({{stickering.pendingPublishingQueueCount}})</span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="stickering.activeTab.data.all" output="stickering.activeTab.data.filtered" on="TransactionId" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row" ng-show="stickering.activeTab.data.all.length == 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    There are currently no stickering records
                </div>
            </div>
        </div>
        <div class="row" ng-show="stickering.activeTab.data.filtered.length === 0 && stickering.activeTab.data.all.length > 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    No data matches your filter criteria.
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade active in" id="stickering-tab-pending" ng-show="stickering.activeTab.data.filtered.length > 0">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="TransactionId" params="stickering.sort" array-to-sort="stickering.activeTab.data.filtered" sorted="stickering.activeTab.data.sorted">Transaction ID</th>
                                    <th fmda-sort="Date" params="stickering.sort" array-to-sort="stickering.activeTab.data.filtered" sorted="stickering.activeTab.data.sorted" class="w15">Date</th>
                                    <th fmda-sort="IssueDate" params="stickering.sort" array-to-sort="stickering.activeTab.data.filtered" sorted="stickering.activeTab.data.sorted">Issue Date</th>
                                    <th fmda-sort="OfferingPeriod" params="stickering.sort" array-to-sort="stickering.activeTab.data.filtered" sorted="stickering.activeTab.data.sorted">Offering Period</th>
                                    <th fmda-sort="LastEdited" params="stickering.sort" array-to-sort="stickering.activeTab.data.filtered" sorted="stickering.activeTab.data.sorted">Last Edited</th>
                                    <th class="w20"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in stickering.activeTab.data.paged | orderBy : stickering.sort">
                                    <td>
                                        <a ng-if="stickering.accessObj.hasQueueAccess" ui-sref="transaction({id: data.Id})">{{data.TransactionId}}</a>
                                        <span ng-if="!stickering.accessObj.hasQueueAccess">{{data.TransactionId}}</span>
                                    </td>
                                    <td>{{data.Date.format('MM/DD/YYYY')}}</td>
                                    <td>{{data.IssueDate.format('MM/DD/YYYY')}}</td>
                                    <td>{{data.OfferingDate.format('MM/DD/YYYY')}}</td>
                                    <td>{{data.LastUpdateDate.format('MM/DD/YYYY')}} <span class="text-muted text-nowrap">{{data.LastUpdateUser}}</span></td>
                                    <td>
                                        <div ng-if="stickering.accessObj.hasEditAccess" 
                                             class="btn-toolbar pull-right">
                                            <a class="btn btn-xs btn-primary" href="javascript:void(0);" 
                                               ng-click="stickering.showReview(data)">
                                            <span class="glyphicon glyphicon-eye-open"></span> Review</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="stickering.activeTab.data.sorted" paged-data="stickering.activeTab.data.paged" page-size="25"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>