<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Queues: <span class="text-primary">Specialized Transactions</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">

    </div>
</div>
<div role="tabpanel" ng-if="special.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: special.activeTab.id == tab.id}" ng-repeat="tab in special.tabs">
                    <a aria-controls="{{tab.caption}}" role="tab" class="rt-{{tab.caption | lowercase}}-tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a ng-click="special.load()" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-4 col-lg-4">
            <div class="pull-right">
                <fmda-filter input="special.activeTab.data.all" output="special.activeTab.data.filtered" on="TransactionId,FannieMaeLoanNumber,Product,SettlementDate,ExecutionType" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row" ng-if="special.activeTab.data.all.length < 1">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    There are currently no {{ special.activeTab.caption | lowercase }} transactions.
                </div>
            </div>
        </div>
        <div class="row" ng-show="special.activeTab.data.filtered.length === 0 && special.activeTab.data.all.length > 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    No data matches your filter criteria.
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="additional-disclosure-tab-closed" ng-show="special.activeTab.data.filtered.length > 0">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="TransactionId" params="special.sort" array-to-sort="special.activeTab.data.filtered" sorted="special.activeTab.data.sorted">Transaction ID</th>
                                    <th fmda-sort="FannieMaeLoanNumber" params="special.sort" array-to-sort="special.activeTab.data.filtered" sorted="special.activeTab.data.sorted">Loan Number</th>
                                    <th fmda-sort="Product" params="special.sort" array-to-sort="special.activeTab.data.filtered" sorted="special.activeTab.data.sorted">Product</th>
                                    <th fmda-sort="ExecutionType" params="special.sort" array-to-sort="special.activeTab.data.filtered" sorted="special.activeTab.data.sorted">Execution Type</th>
                                    <th fmda-sort="SettlementDate" params="special.sort" array-to-sort="special.activeTab.data.filtered" sorted="special.activeTab.data.sorted">Settlement Date</th>
                                    <th>Last Edited</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in special.activeTab.data.paged" ng-class="{'warning': special.dateInRange(d.SettlementDate)}">
                                    <td><a class="rt-transId-link" ui-sref="{{special.transactionState(d.Id)}}">{{d.TransactionId}}</a></td>
                                    <td><fmda-list-popover list="d.FannieMaeLoanNumber"></fmda-list-popover></td>
                                    <td>{{d.Product}}</td>
                                    <td>{{d.ExecutionType}}</td>
                                    <td>{{d.SettlementDate.format('MM/DD/YYYY')}}</td>
                                    <td>{{d.LastUpdateDate.format('MM/DD/YYYY')}} <span class="text-muted text-nowrap">{{d.LastUpdateUser}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="special.activeTab.data.sorted" paged-data="special.activeTab.data.paged" page-size="25"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>