<div class="panel panel-default no-border">
    <div class="panel-heading" ng-if="panelTitle">
        <div ng-bind-html="panelTitle"></div>
    </div>
    <div class="panel-body">
        <div  ng-repeat="row in panelDataList">
            <h5 ng-if="row.title">{{row.title}}</h5>
            <div class="row">
                <div class="col-xs-{{data.xs || 36/(row.dataList.length)}} col-sm-{{data.sm || 36/(row.dataList.length)}} col-md-{{data.md || 36/(row.dataList.length)}} col-lg-{{data.lg ||36/(row.dataList.length)}}" ng-repeat="data in row.dataList">
                    <div class="label-value">
                        <div>{{data.label}}</div>
                        <span ng-if="data.format === 'currency'">
                            <dus-currency currency-value="data.value" />
                            <dus-at-issuance ng-if="hasAtIssuance(data)"><dus-currency currency-value="data.atIssuance" /></dus-at-issuance>
                        </span>
                        <span ng-if="data.format && data.format !== 'currency'">
                            <dus-amount-unit amount="data.value" unit="{{data.format}}" plural="{{data.plural}}" />
                            <dus-at-issuance ng-if="hasAtIssuance(data)"><dus-amount-unit amount="data.atIssuance" unit="{{data.format.length == 1 ? data.format : ''}}" /></dus-at-issuance>
                        </span>
                        <span ng-if="!data.format">{{data.value}} <dus-at-issuance ng-if="hasAtIssuance(data)">{{data.atIssuance}}</dus-at-issuance>&nbsp;</span>
                        <span dus-history-popover ng-if="data.displayHistory && transactionId" label="data.label" transaction-id="transactionId" field="data.displayHistory"></span>
                    </div>
                </div>
            </div>
            <hr ng-if="!$last" ng-class="{'hidden-visibility': row.noBar}"/>
        </div>
    </div>
</div>

