<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Queues: <span class="text-primary">Disclosure Operations</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">

    </div>
</div>
<div role="tabpanel" ng-if="disclosureops.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-20 col-lg-20">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: disclosureops.activeTab.id == tab.id}" ng-repeat="tab in disclosureops.tabs">
                    <a id="{{tab.caption}}" ui-sref="disclosureoperations({tabid: tab.id})" ui-sref-opts="({notify: false})" ng-click="disclosureops.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a ng-click="disclosureops.load()" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></a>
            <a ng-if="disclosureops.accessObj.hasPendingPublishingViewAccess" class="btn btn-link rt-pending-publishing" name="pendingpublishing" ui-sref="pendingpublishing">Pending Publishing<span class="hidden-xs"> ({{disclosureops.pendingPublishingQueueCount}})</span></a>
        </div>
        <div class="col-xs-24 col-sm-24 col-md-4 col-lg-4">
            <div class="pull-right">
                <fmda-filter input="disclosureops.activeTab.data.all" output="disclosureops.activeTab.data.filtered" on="TransactionId,SettlementDate,HoldReason,Product,ExecutionType" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row" ng-if="disclosureops.activeTab.data.all.length == 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    There are currently no disclosure operations ({{disclosureops.activeTab.caption}}).
                </div>
            </div>
        </div>
        <div class="row" ng-show="disclosureops.activeTab.data.filtered.length === 0 && disclosureops.activeTab.data.all.length > 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="well">
                    No data matches your filter criteria.
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="disclosure-operations-tab-active" ng-show="disclosureops.activeTab.data.filtered.length > 0">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="transactionId" fmda-sort="TransactionId" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Transaction ID</th>
                                    <th id="product" fmda-sort="Product" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Product</th>
                                    <th id="executionType" fmda-sort="ExecutionType" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Execution Type</th>
                                    <th id="settlementDate" fmda-sort="SettlementDate" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Settlement Date</th>
                                    <th id="holdReason" fmda-sort="HoldReason" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Hold Reason</th>
                                    <th id="daysToSettlement" fmda-sort="DaysToSettlement" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Days to Settlement</th>
                                    <th id="waiver" fmda-sort="Waiver" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Waiver</th>
                                    <th>Ops</th>
                                    <th>A.D.</th>
                                    <th>S.T.</th>
                                    <th>Doc</th>
                                    <th id="lastUpdateDate" fmda-sort="LastUpdateDate" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Last Edited</th>
                                    <th id="status" fmda-sort="Status" params="disclosureops.sort" array-to-sort="disclosureops.activeTab.data.filtered" sorted="disclosureops.activeTab.data.sorted">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="op in disclosureops.activeTab.data.paged" ng-class="{'warning': disclosureops.dateInRange(op.SettlementDate)}">
                                    <td><a ui-sref="{{disclosureops.transactionState(op.Id)}}" >{{op.TransactionId}}</a></td>
                                    <td>{{op.Product}}</td>
                                    <td>{{op.ExecutionType}}</td>
                                    <td>{{op.SettlementDate.format('MM/DD/YYYY')}}</td>
                                    <td><div ng-repeat="hr in op.HoldReasonList">{{hr}}</div></td>
                                    <td class="number-column">{{op.DaysToSettlement}}</td>
                                    <td>{{op.Waiver ? 'Required' : 'Not Required'}}</td>
                                    <td class="text-center"><span class="glyphicon" ng-class="{'glyphicon-ok text-success': op.OpsStatus === 2, 'glyphicon-asterisk text-danger': op.OpsStatus === 1, 'glyphicon-ban-circle text-muted': !op.OpsStatus}"></span></td>
                                    <td class="text-center"><span class="glyphicon" ng-class="{'glyphicon-ok text-success': op.ADStatus === 2, 'glyphicon-asterisk text-danger': op.ADStatus === 1, 'glyphicon-ban-circle text-muted': !op.ADStatus}"></span></td>
                                    <td class="text-center"><span class="glyphicon" ng-class="{'glyphicon-ok text-success': op.STStatus === 2, 'glyphicon-asterisk text-danger': op.STStatus === 1, 'glyphicon-ban-circle text-muted': !op.STStatus}"></span></td>
                                    <td class="text-center"><span class="glyphicon" ng-class="{'glyphicon-ok text-success': op.DocStatus === 2, 'glyphicon-asterisk text-danger': op.DocStatus === 1, 'glyphicon-ban-circle text-muted': !op.DocStatus}"></span></td>
                                    <td>{{op.LastUpdateDate.format('MM/DD/YYYY')}} <span class="text-muted text-nowrap">{{op.LastUpdateUser}}</span></td>
                                    <td>{{op.Status ? 'Closed' : 'Certified' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                            <fmda-pager items-to-page="disclosureops.activeTab.data.sorted" paged-data="disclosureops.activeTab.data.paged" page-size="25"></fmda-pager>
                        </div>
                        <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                            <div class="padded-text pull-right">
                                <span class="glyphicon glyphicon-ban-circle text-muted"></span> = N/A
                                &nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-asterisk text-danger"></span> = Pending
                                &nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-ok text-success"></span> = Complete
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>