<div class="modal-header">
    <button ng-click="modal.cancel()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="addFootnoteTitle">{{modal.footnote.Id != -1 ? 'Edit':'Add a' }} Footnote</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <div id="add-footnote-buttons" class="text-center" ng-if="modal.footnote.RecordType == ''">
        <p>What kind of footnote do you want to add?</p>
        <p>
            <button class="btn btn-primary text-center" ng-click="modal.updateFootnoteType(modal.footnoteType.Deal)" ng-if="modal.record.Deal">Deal</button>
            <button class="btn btn-primary text-center" ng-click="modal.updateFootnoteType(modal.footnoteType.Pool)">Pool</button>
            <button class="btn btn-primary text-center" ng-click="modal.updateFootnoteType(modal.footnoteType.Loan)" ng-if="modal.Pool.Loans.length != 0">Loan &amp; Collateral</button>
        </p>
    </div>
    <div id="add-footnote-detail" ng-if="modal.footnote.RecordType != ''">
        <form>
            <div class="row">
                <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <p class="form-label">Footnote Type</p>
                        <div id="add-footnote-type-deal">
                            <p class="form-control-static">{{modal.footnote.RecordType == modal.footnoteType.Deal?'Deal ': (modal.footnote.RecordType == modal.footnoteType.Pool) ? 'Pool ': 'Loan &amp; Collateral '}} 
                            <span ng-if="!modal.specific">(<a style="cursor:pointer;" ng-click="modal.footnote.RecordType = ''">change</a>)</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12" ng-if="!modal.specific">
                    <div class="form-group">
                        <p class="form-label">Record</p>
                        <div id="add-footnote-type-record" ng-if="modal.footnote.RecordType != modal.footnoteType.Loan">
                            <p class="form-control-static" fmda-validate="RecordId">
                                <span ng-if="modal.footnote.RecordType == modal.footnoteType.Pool">Pool {{modal.record.TransactionId}} ({{modal.record.Product}})</span>
                                <span ng-if="modal.footnote.RecordType != modal.footnoteType.Pool">{{modal.record.TransactionId}}</span>
                            </p>
                        </div>
                        <div id="add-footnote-type-loan-record" ng-if="modal.footnote.RecordType == modal.footnoteType.Loan">
                            <p>
                                <select class="form-control" ng-model="modal.footnote.RecordId" fmda-validate="RecordId" ng-options="loan.Id as ('Loan '+loan.FannieMaeLoanNumber) for loan in modal.record.Loans" ng-if="modal.footnote.RecordType == modal.footnoteType.Loan">
                                    <option value="">select</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12" ng-if="modal.specific">
                    <div class="form-group">
                        <p class="form-label">Record</p>
                        <p class="form-control-static" fmda-validate="RecordId">
                            {{modal.footnote.RecordType == modal.footnoteType.Deal ? 'Deal':(modal.footnote.RecordType == modal.footnoteType.Pool) ? 'Pool':'Loan'}}
                            {{modal.footnote.RecordType == modal.footnoteType.Loan ? modal.record.FannieMaeLoanNumber : modal.record.TransactionId}}
                            {{modal.footnote.RecordType == modal.footnoteType.Pool ? '('+modal.record.Product+')':''}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                    <p class="form-label">Placement</p>
                    <div class="btn-group">
                        <label class="btn btn-default" ng-class="{'active': modal.footnote.GeneralPlacement}">
                            <input type="radio" ng-model="modal.footnote.GeneralPlacement" value="true" fmda-convert-to="bool"> General
                        </label>
                        <label class="btn btn-default" ng-class="{'active': !modal.footnote.GeneralPlacement}">
                            <input type="radio" ng-model="modal.footnote.GeneralPlacement" value="false" fmda-convert-to="bool"> On a specific field
                        </label>
                    </div>
                </div>
                <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                    <div id="add-footnote-specific" class="form-group" ng-show="!modal.footnote.GeneralPlacement">
                        <p class="form-label">Field</p>
                        <p>
                            <select class="form-control" ng-model="modal.footnote.FieldId" fmda-validate="FieldId" ng-options="field.Id as field.Name for field in modal.currentFields">
                                <option value="">select</option>
                            </select>
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="form-group">
                        <p class="form-label">Footnote Content</p>
                        <p><fmda-summernote ng-model="modal.footnote.Content" fmda-validate="Content"></fmda-summernote></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <fmda-modal-error></fmda-modal-error>
</div>
<div id="add-footnote-modal-buttons" class="modal-footer" ng-if="modal.footnote.RecordType != ''">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12 text-left" ng-show="modal.footnote.Id != -1">
            <div class="input-group">
                <div class="input-group-btn">
                    <button ng-click="modal.delete()" class="btn btn-danger" fmda-button>{{modal.deleteRequested ? 'Confirm Delete' : 'Delete Footnote'}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-sm-24" ng-class="{'col-md-12 col-lg-12': modal.footnote.Id != -1, 'col-md-24 col-lg-24': modal.footnote.Id === -1}">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.saveFootnote()" class="btn btn-primary" fmda-button><!--{{modal.footnote.Id != -1 ? 'Save' : 'Add Footnote'}}-->Save</button>
        </div>
    </div>
</div>