<div class="modal-header">
    <a ng-click="modal.cancel()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="finishConfirmTitle">Notice</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <div ng-if="modal.holdReasonsSatisfied">
        <p ng-if="!modal.Transaction.IsPublished || modal.isWithin90Days">Transaction page changes are saved as you make them; <strong>'Finish' is intended to mark completion of work on the Transaction record</strong>.</p>
        <div id="finish-credit-facility" ng-if="modal.associatedTransactions.length > 1">
            <p>Do you want to 'Finish' (send to Publishing Queue) all Transactions under this Credit Facility or only the highlighted Transaction?</p>
            <div class="table-responsive">
                <table class="table table-condensed table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Issue Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'warning': transaction.Id === modal.Transaction.Id}" ng-repeat="transaction in modal.associatedTransactions">
                            <td>{{transaction.TransactionId}}</td>
                            <td>{{transaction.IssueDate.format('MM/DD/YYYY')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="modal.finishAll" ng-value="false">
                    Finish only the highlighted Transaction ({{modal.Transaction.TransactionId}}) under this Credit Facility
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="modal.finishAll" ng-value="true">
                    Finish all Transactions under this Credit Facility
                </label>
            </div>
        </div>
        <p class="text-success"><span class="glyphicon glyphicon-ok"></span> By clicking 'Confirm', {{modal.getSuccessMessage()}}.</p>
        <div ng-if="!modal.isWithin90Days && modal.Transaction.IsPublished">
            <br />
            <div class="well">
                <p>This transaction is 90 days post-issuance.</p>
                <p>Documents will not be re-generated, but you must click 'Confirm' to commit your changes to the Disclosure site.</p>
            </div>
        </div>
    </div>
    <p class="text-warning" ng-if="!modal.holdReasonsSatisfied"><span class="glyphicon glyphicon-warning-sign"></span> This record will not yet be sent to the publishing queue as other holds are pending.</p>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12 text-left"></div>
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.confirmFinish()" class="btn btn-primary" ng-disabled="!modal.holdReasonsSatisfied" fmda-button>Confirm</button>
         </div>
    </div>
</div>