﻿<div class="section">
    <div class="section-header">
        <div class="pull-left">
            Properties
        </div>
        <div class="pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="useScroll">
        <div ui-scroll="property in propertiesSource" start-index="0" buffer-size="20" adapter="prop.adapter">
            <dus-property-details property="property" />
        </div>
    </div>
    <div ng-if="!useScroll">
        <dus-property-details ng-repeat="property in properties" property="property" />
    </div>
    
</div>