<script type="text/ng-template" id="typeahead.html">
    <a class="list-group-item" style="cursor:pointer;">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <span class="text-muted small pull-right">{{match.model.Type}}</span>
    </a>
</script>

<script type="text/ng-template" id="typeahead-popup.html">
    <div class="list-group scroll" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="{{!isOpen()}}">
        <div class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </div>    
    </div>
</script>

<h1>Disclosure Administration</h1>
<div id="version-number">
    <span>{{dashboard.systemInfoDisplayString}}</span>
</div>
<div class="row">
    <div class="col-xs-24 col-sm-8 col-sm-push-16 col-md-8 col-md-push-16 col-lg-8 col-lg-push-16">
        <div ng-if="dashboard.hasQueueAccess()" class="panel panel-default">
            <div class="panel-heading">Quick Find</div>
            <div class="panel-body">
                <input type="search" ng-model="dashboard.searchInput" placeholder="Transaction ID or CUSIP" uib-typeahead="option as option.Transaction for option in dashboard.getSearchSuggestions($viewValue)" typeahead-template-url="typeahead.html" typeahead-popup-template-url="typeahead-popup.html" typeahead-on-select="dashboard.goToTransaction()" typeahead-no-results="dashboard.noMatch" class="form-control" typeahead-show-hint="true" typeahead-min-length="4" typeahead-loading="dashboard.loadingResults">
                <i ng-show="dashboard.loadingResults" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="dashboard.noMatch" class="list-group-item">No results. Try modifying your search.</div>
            </div>
        </div>
    </div>
    <div class="col-xs-24 col-sm-8 col-sm-pull-8 col-md-8 col-md-pull-8 col-lg-8 col-lg-pull-8">
        <div class="panel panel-default" ng-if="dashboard.queueMenus.length > 0">
            <div class="panel-heading">Queues</div>
            <div class="panel-body">
                <p ng-repeat="menu in dashboard.queueMenus">
                    <a class='{{menu.class}}' ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default" ng-if="dashboard.holdsBannersMenus.length > 0">
            <div class="panel-heading">Holds &amp; Banners</div>
            <div class="panel-body">
                <p ng-repeat="menu in dashboard.holdsBannersMenus">
                    <a class='{{menu.class}}' ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-24 col-sm-8 col-sm-pull-8 col-md-8 col-md-pull-8 col-lg-8 col-lg-pull-8">
        <div class="panel panel-default" ng-if="dashboard.disclosureSiteMenus.length > 0">
            <div class="panel-heading">Disclosure Site</div>
            <div class="panel-body">
                <p ng-repeat="menu in dashboard.disclosureSiteMenus">
                    <a class='{{menu.class}}' ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default"  ng-if="dashboard.systemMenus.length > 0">
            <div class="panel-heading">System</div>
            <div class="panel-body">
                <p ng-repeat="menu in dashboard.systemMenus">
                    <a class='{{menu.class}}' ui-sref='{{menu.state}}'>{{menu.caption}}</a>
                </p>
            </div>
        </div>
    </div>
</div>
