<div class="modal-header">
    <a ng-click="confirm.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="deleteTitle">{{confirm.title}}</h4>
</div>
<div class="modal-body">
    <p ng-repeat="line in confirm.content" class="{{line.textClass}}">
        <span class="{{line.spanClass}}"></span>{{line.text? line.text : line}}
    </p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <button ng-click="confirm.cancel()" class="btn btn-{{confirm.cancelClass}}">{{confirm.cancelLabel}}</button>
            <button ng-click="confirm.confirm()" class="btn btn-{{confirm.okClass}} rt-modalDel-btn" ng-class="{'disabled':confirm.okDisabled}" fmda-button>{{confirm.okLabel}}</button>
        </div>
    </div>
</div>
