<div>
    <div id="add-banners-hold-records-inactive" class="well" ng-if="!displayAffected">
        <p class="form-label">Affected Records</p>
        <p>
            Once you have selected some criteria, you can preview records that meet those criteria.
        </p>
        <div id="add-banners-hold-records-button">
            <p class="text-center">
                <button class="btn btn-primary" ng-click="previewAffected()" ng-disabled="(criteria.length <= 1 && !criteria[0].Value) || previewDisabled">Preview Affected Records</button>
            </p>
        </div>
    </div>
    <div id="process-banners-hold-records-active" ng-if="displayAffected">
        <p class="form-label">
            Affected Records ({{affectedRecords.length}}) <a class="pull-right" ng-click="previewAffected()"><small><span class="glyphicon glyphicon-refresh"></span> Refresh</small></a>
        </p>
        <div class="list-group scroll">
            <span class="list-group-item" ng-repeat="record in affectedRecords">{{record.TransactionId}}</span>
        </div>
    </div>
</div>
