﻿<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>Holds &amp; Banners: <span class="text-primary">Documents</span></h1>
    </div>
    <div class="col-xs-24 col-sm-8 col-md-4 col-lg-4 text-right">
        <!--INTERNAL ONLY BEGINS
        <a id="add-document-hold-button" class="btn btn-sm btn-info" href="javascript:void(0);" data-toggle="modal" data-target="#addDocument"><span class="glyphicon glyphicon-plus"></span> Add Document</a>
        INTERNAL ONLY ENDS-->
    </div>
</div>
<div role="tabpanel" ng-if="docholds.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs rt-tabs" role="tablist">
                <li role="presentation" ng-class="{active: docholds.activeTab.id === tab.id}" ng-repeat="tab in docholds.tabs">
                    <a name="{{tab.caption}}" ui-sref="documentholds({tabid: tab.id})" ui-sref-opts="({notify: false})" ng-click="docholds.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-link" ng-click="docholds.load()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="docholds.activeTab.data.all" output="docholds.activeTab.data.filtered" on="Name,ProductType,BasisEffDate,Basis,Status,HoldStartDate" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in rt-tab-{{$index}}" ng-class="{active: docholds.activeTab.id === tab.id}" ng-repeat="tab in docholds.tabs">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <div class="well" ng-if="tab.data.filtered.length === 0">
                            There are currently no {{tab.caption | lowercase}} Document Holds
                        </div>
                        <div class="table-responsive" ng-show="tab.data.filtered.length > 0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th fmda-sort="Name" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Name</th>
                                    <th fmda-sort="ProductType" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Product Type</th>
                                    <th fmda-sort="BasisEffDate" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Basis Effective Date</th>
                                    <th fmda-sort="Basis" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Basis</th>
                                    <th fmda-sort="Status" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Status</th>
                                    <th fmda-sort="AffectedTransactionCount" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Transactions</th>
                                    <th fmda-sort="HoldStartDate" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Hold Start Date</th>
                                    <th class="w25"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="rt-document-hols-list" ng-repeat="item in tab.data.paged">
                                    <td class="rt-doc-name">{{item.Name}}</td>
                                    <td><fmda-list-popover list="item.ProductType"></fmda-list-popover></td>
                                    <td>{{item.LatestBasisEffDate | date:'MM/dd/yyyy'}}</td>
                                    <td>{{item.Basis}}</td>
                                    <td ng-class="{'text-danger': item.Status === 'On Hold', 'text-warning': item.Status === 'Hold Pending'}">{{item.Status}}</td>
                                    <td>
                                        <span ng-if="docholds.accessObj.hasQueueAccess && item.OnHold"><fmda-affected-transactions record-id="item.Id" record-name="item.Name" mode="documentholds" count="item.AffectedTransactionCount"></span>
                                        <span ng-if="!docholds.accessObj.hasQueueAccess && item.OnHold">{{item.AffectedTransactionCount}}</span>
                                    </td>
                                    <td>{{item.HoldStartDate | date:'MM/dd/yyyy'}}</td>
                                    <td>
                                        <div class="btn-toolbar pull-right">
                                            <button ng-if="docholds.accessObj.hasViewAccess" class="btn btn-xs btn-primary rt-audit-btn" ng-click="docholds.history(item)"><span class="glyphicon glyphicon-time"></span><span class="hidden-xs hidden-sm"></span></button>
                                            <button ng-if="docholds.accessObj.hasEditAccess" class="btn btn-xs btn-primary rt-edit-btn" ng-click="docholds.edit(item)">
                                                <span class="glyphicon glyphicon-pencil" ng-if="item.DocumentTypeId != 3 && item.DocumentTypeId != 6"></span>
                                                <span class="glyphicon glyphicon-circle-arrow-up" ng-if="item.DocumentTypeId === 3 || item.DocumentTypeId === 6"></span>
                                                <span class="hidden-xs hidden-sm"> Edit</span>
                                            </button>
                                            <a ng-if="docholds.accessObj.hasViewAccess" href="service/documenthold/download/{{item.Id}}" download class="btn btn-xs btn-primary rt-download-btn" ><span class="glyphicon glyphicon-download"></span><span class="hidden-xs hidden-sm"> Download</span></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="tab.data.sorted" paged-data="tab.data.paged" page-size="20"></fmda-pager>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>        
    </div>
</div>