<div class="panel panel-default">
    <fmda-transaction-heading collapse-target="#disclosure-operations-pool-{{transaction.TransactionId}}-collapse-documents" heading-caption="Documents"/>
    <div id="disclosure-operations-pool-{{transaction.TransactionId}}-collapse-documents" class="panel-collapse panel-closed collapse" role="tabpanel" aria-labelledby="disclosure-operations-pool-heading-documents">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                    <div class="pull-right">
                        <p>
                            <select class="form-control input-sm" ng-model="statusFilter">
                                <option value="">All</option>
                                <option value="1">Original</option>
                                <option value="2">Corrected</option>
                                <option value="3">Clean Final</option>
                            </select>
                        </p>
                    </div>
                    <h5>Issuance</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th class="w45"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="issuedoc in transaction.IssuanceDocuments | filter: {Status:statusFilter}">
                                    <td>{{issuedoc.TypeName}}</td>
                                    <td>{{issuedoc.CreatedOn.format('MM/DD/YYYY')}}</td>
                                    <td>{{issuedoc.Format}}</td>
                                    <td>
                                        <div class="btn-toolbar pull-right">
                                            <button class="btn btn-xs btn-primary" ng-if="(issuedoc.Id && accessObj.hasViewAccess)" ng-click="history(issuedoc)">
                                            <span class="glyphicon glyphicon-time"></span></button>
                                            <a href="service/transaction/document/{{issuedoc.Id}}/latest/queue/{{queue}}" 
                                               ng-if="(issuedoc.Id && accessObj.hasViewAccess)" 
                                               download class="btn btn-xs btn-primary">
                                                <span class="glyphicon glyphicon-download"></span><span class="hidden-xs hidden-sm"> Download</span>
                                            </a>
                                            <button ng-if="accessObj.hasEditAccess && !is90DaysPostIssuanceAndPublished()" class="btn btn-xs btn-success" ng-click="uploadDocument(issuedoc)">
                                                <span class="glyphicon glyphicon-upload"></span><span class="hidden-xs hidden-sm"> Upload</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                    <div class="pull-right">
                        <p>
                            <select class="form-control input-sm" ng-model="periodFilter">
                                <option value="">All</option>
                                <option value="3">Past 3 Months</option>
                                <option value="6">Past 6 Months</option>
                                <option value="12">Past 12 Months</option>
                            </select>
                        </p>
                    </div>
                    <h5>Ongoing IRP<small class="indent">
                        <span><input type="checkbox" ng-model="transaction.IRPSuppressed" ng-change="updateIRPSuppressed()" ng-disabled="!accessObj.hasEditAccess"/> Suppress Ongoing IRP</span>
                        <span id="disclosure-operations-pool-suppress-upload" class="indent" ng-if="IRPUploadAllowed()">
                            <a class="text-success no-hover" ng-click="uploadIRP()"><span class="glyphicon glyphicon-circle-arrow-up"></span> Upload IRP</a>
                        </span>
                    </small></h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="irpdoc in transaction.IRPDocuments | filter: withinPeriod(periodFilter) | orderBy: 'PublicationDate':true">
                                    <td>{{irpdoc.PublicationDate.format('MMMM')}}</td>
                                    <td>{{getPublicationOrUploadDate(irpdoc)}}</td>
                                    <td>
                                        <div class="btn-toolbar pull-right"> <!--ng-if="irpdoc.DataAvailableForDownload || irpdoc.Date"-->
                                            <a href="service/transaction/{{transaction.Id}}/IRP/{{irpdoc.PublicationDate.format('YYYY-MM-DD')}}/{{irpdoc.Id}}/queue/{{queue}}" ng-if="irpdoc.IRPGenerated || irpdoc.UploadDate" download class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-download"></span><span class="hidden-xs hidden-sm"> Download</span></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>