﻿<div>
    <div class="row">
        <div class="col-xs-36 col-sm-36 col-md-27 col-lg-27">
            <div class="row">
                <div class="col-xs-36 col-sm-36 col-md-10 col-lg-10">
                    <div class="advanced-search-criteria">
                        <dus-drop-down default-value="Active" model="advancedSearch.model.SecurityStatus" category="Security Status"></dus-drop-down>
                    </div>
                </div>
                <div class="col-xs-36 col-sm-36 col-md-8 col-lg-8">
                    <div class="advanced-search-criteria">
                        <dus-drop-down model="advancedSearch.model.SecurityType" category="Security Type"></dus-drop-down>
                    </div>
                </div>
                <div class="col-xs-36 col-sm-36 col-md-11 col-lg-11">
                    <div class="advanced-search-criteria">
                        <dus-drop-down model="advancedSearch.model.ProductType" category="Product Type"></dus-drop-down>
                    </div>
                </div>
                <div class="col-xs-36 col-sm-36 col-md-7 col-lg-7">
                    <div class="advanced-search-criteria">
                        <dus-drop-down model="advancedSearch.model.Prefix" category="Prefix"></dus-drop-down>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-36 col-sm-36 col-md-10 col-lg-10">
                    <div class="advanced-search-criteria">
                        <dus-drop-down model="advancedSearch.model.InterestType" category="Interest Type"></dus-drop-down>
                    </div>
                </div>
                <div class="col-xs-36 col-sm-36 col-md-8 col-lg-8">
                    <div class="advanced-search-criteria">
                        <dus-drop-down model="advancedSearch.model.ARMSubtype" category="ARM Subtype"></dus-drop-down>
                    </div>
                </div>
                <div class="col-xs-36 col-sm-36 col-md-18 col-lg-18">
                    <div class="advanced-search-criteria">
                        <div class="text-muted">Issue Date</div>
                        <div class="row" dus-validate="DateRange">

                            <dus-date-picker date="advancedSearch.model.IssueDateFrom" disable="false" upper-limit="advancedSearch.model.IssueDateTo"></dus-date-picker>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center no-padding">
                                to
                            </div>

                            <dus-date-picker date="advancedSearch.model.IssueDateTo" disable="false" lower-limit="advancedSearch.model.IssueDateFrom"></dus-date-picker>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-36 col-sm-36 col-md-18 col-lg-18">
                    <div class="advanced-search-criteria">
                        <div class="text-muted">Paying Pass-Through Rate (PTR)</div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select class="form-control" ng-model="advancedSearch.model.PayingPassThroughRateOperator">
                                    <option></option>
                                    <option value="equal">=</option>
                                    <option value="less-equal">≤</option>
                                    <option value="greater-equal">≥</option>
                                </select>
                            </div>
                            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                <div>
                                    <input class="form-control" type="text" dus-validate="PayingPassThroughRateValue" ng-model="advancedSearch.model.PayingPassThroughRateValue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-36 col-sm-36 col-md-18 col-lg-18">
                    <div class="advanced-search-criteria">
                        <div class="text-muted">Issuance UPB</div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select class="form-control" ng-model="advancedSearch.model.IssuanceUPBOperator">
                                    <option></option>
                                    <option value="equal">=</option>
                                    <option value="less-equal">≤</option>
                                    <option value="greater-equal">≥</option>
                                </select>
                            </div>
                            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                <div>
                                    <input class="form-control" type="text" dus-validate="IssuanceUPBValue" ng-model="advancedSearch.model.IssuanceUPBValue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-36 col-sm-36 col-md-9 col-lg-9">
            <div class="well well-sm advanced-search-criteria">
                <div class="text-muted">Transaction IDs and CUSIPs*</div>
                <textarea rows="5" class="form-control" ng-model="advancedSearch.model.TransactionIdsCusips"></textarea>
                <span class="small text-muted">* Enter one per line; results will include entered criteria plus this list of specific Transactions</span>
            </div>
        </div>
    </div>
    <div class="row advanced-search-footer">
        <hr>

        <div id="advanced-search-saved-portfolios" style="display: block;">
            <div class="col-xs-18 col-sm-18 col-md-18 col-lg-18"
                 ng-if="advancedSearch.userLoggedIn && advancedSearch.containsPortfolio() 
                 && !advancedSearch.editingPortfolio">
                <div id="user-saved-portfolios">
                    <p>... or view a saved Portfolio</p>
                    <select class="form-control input-lg" ng-model="advancedSearch.model.PortfolioId">
                        <option value="">select</option>
                        <option ng-repeat="n in advancedSearch.portfolios" value="{{n.Id}}">{{n.Name}}</option>
                    </select>
                </div>
            </div>
            
            <div class="col-xs-18 col-sm-18 col-md-18 col-lg-18" ng-if="advancedSearch.editingPortfolio">
                <p>Report Name</p>
                <input class="form-control input-lg" type="text" placeholder="Report Name"
                       maxlength="25" ng-model="advancedSearch.portfolioName">
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <p>&nbsp;</p>
                <a class="btn btn-lg btn-block btn-default toggle-navbar-advanced-search"
                   href="javascript:void(0)"
                   ng-click="advancedSearch.onCancel()">
                    Cancel
                </a>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-class="{'pull-right': !advancedSearch.containsPortfolio()}">
                <p>&nbsp;</p>
                <a href="javascript:void(0);" ng-click="advancedSearch.onSubmit()" class="btn btn-lg btn-block btn-success toggle-navbar-advanced-search">
                    <span ng-if="advancedSearch.editingPortfolio">
                       Save<span class="hidden-xs"> Changes</span>
                   </span>
                   <span ng-if="!advancedSearch.editingPortfolio">Search</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-18 col-sm-18 col-md-18 col-lg-18" ng-if="advancedSearch.model.PortfolioId > 0 && advancedSearch.showDeletePortfolio">
            <a href="javascript:void(0)" class="btn btn-link" ng-click="advancedSearch.deletePortfolio(advancedSearch.model.PortfolioId)">
                <span class="glyphicon glyphicon-trash"></span> 
                Delete this Portfolio
            </a>
        </div>

    </div>
</div>
