<dus-carousel carousel-loaded="home.carouselLoaded"></dus-carousel>
<div class="container">
    <div class="section" ng-if="home.carouselLoaded">
        <h3>Resources</h3>
        <div class="row home-panels">
            <div class="col-xs-36 col-sm-12 col-md-12 col-lg-12" ng-repeat="panel in home.homePanels">
                <div class="panel panel-{{::panel.Color}}" ng-click="home.goToState(panel.State)">
                    <div class="panel-body">
                        <h5>{{::panel.Name}}</h5>
                        <hr />
                        <div class="intro">
                            <p ng-bind-html="panel.Description"></p>
                        </div>
                    </div>
                    <div class="btn btn-block">View<span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
