<div ng-show="list || getList()">
    <script type="text/ng-template" id="fmda-popover.html">
        <div class="scroll scroll-sm">
            <p ng-repeat="item in list track by $index">{{item}}</p>
        </div>
    </script>

    <div ng-if="list.length === 1">{{list[0]}}</div>
    <div ng-if="list.length > 1"><a style="cursor: pointer;" uib-popover-template="popoverTemplate" popover-placement="right" popover-trigger="outsideClick">Multiple</a></div>
</div>