<div class="modal-content">
    <div class="modal-header">
        <a href="javascript:void(0);" class="close" ng-click="modal.cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
        <h4 class="modal-title" id="dsAddEntryTitle">{{modal.content.Id > 0 ? 'Edit' : 'Add' }} Entry</h4>
    </div>
    <div class="loader-modal"></div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <p class="form-label">Category</p>
                    <p>
                        <select class="form-control" ng-model="modal.content.CategoryId" fmda-convert-to>
                            <option value="{{modal.toplevel.Id}}" selected>Top Level (no category)</option>
                            <option ng-repeat="category in modal.categories" value="{{category.Id}}">
                                {{modal.getParent(category)}}{{category.Name}}
                            </option>
                        </select>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">

                    <p class="form-label">Entry Name</p>
                    <p><input type="text" class="form-control" maxlength="200" placeholder="Name" ng-model="modal.content.Name" fmda-validate="Name"></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <p class="form-label">Description <span class="text-muted">(optional)</span></p>
                    <p><textarea class="form-control" rows="3" maxlength="500" ng-model="modal.content.Description"></textarea></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="form-label">Type</p>
                    <p>
                        <select class="form-control" ng-options="contentType.Id as contentType.Name for contentType in [{Id: 0, Name:'Url'}, {Id: 1, Name:'File'}]" 
                                ng-model="modal.content.ContentType">
                        </select>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="form-label">Status</p>
                    <p>
                        <select class="form-control" ng-options="status.value as status.Name for status in [{value: true, Name:'Active'}, {value: false, Name:'Inactive'}]" 
                                ng-model="modal.content.IsActive">
                        </select>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div ng-show="modal.content.ContentType == 0">
                        <p class="form-label">Link URL</p>
                        <input type="text" maxlength="200" class="form-control" ng-model="modal.content.UrlOrFileName" fmda-validate="UrlOrFileName">
                    </div>
                    <div id="dsAddEntryDocument" ng-show="modal.content.ContentType == 1">
                        <p class="form-label">Upload Document</p>
                        <p>
                            <input class="form-control" id="filename" type="file" value="{{content.UrlOrFileName}}" fmda-validate>
                        </p>
                    </div>
                    <p class="has-error" ng-show="modal.errorMsg">
                        <small class="text-danger">{{modal.errorMsg}}</small>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="modal.save()" fmda-button>
                Save</button>
            </div>
        </div>
    </div>
</div>