body,
.container-fluid	{
	min-width:640px;
}

.ui-select-match span.btn:hover {
    color: #000;
}

.ui-select-container, .ui-select-placeholder {
    margin-bottom:8px;
}

.ui-select-dropdown.dropdown-menu {
    font-size:14px;
}

.scrolling #wizard-nav,
.scrolling #results-paging	{
	position:fixed;
	z-index:3;
	bottom:0px;
	width:100%;
	background:#ffffff;
	padding:10px 15px;
	box-shadow: 0 -6px 12px rgba(0,0,0,0.05);
}

.scrolling #results-paging .pagination	{
	margin:0px;
}

.scrolling .container-main	{
	padding-bottom:80px;
}

/* 
#dashboard,
#steps	{
	padding-top:70px;
}
 */

#editor-buttons	{
	margin-top:-70px;
	position:fixed;
	z-index:3;
	width:100%;
	background-color:#215989;
	padding:10px 15px;
	margin-bottom:15px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	max-height:90vh;
}

#editor-buttons .btn-group	{
	background-color:#ffffff;
}

#filters-menu .panel-heading	{
	padding:10px 15px;
}

#filters-menu-btn	{
	padding:5px 10px 4px 10px;
}

#filters-menu .panel-body	{
	padding:15px;
}

/* 
#steps	{
	margin-top:50px;
}
 */

.panel-group .panel.panel-step-1	{
	margin-bottom:10px;
}

.navbar-header h4	{
	color:#fff;
	padding:6px 0 0 0px;
}

.toggle-phase	{
	position:absolute;
	top:15px;
	left:340px;
	color:#fff;
}

.toggle-wizard	{
	position:relative;
	top:11px;
	right:10px;
	color:#fff;
	width:auto;
	white-space: nowrap;
	float:left;
	/* padding:14px 16px 0 20px;
	 */
}

.toggle-wizard div	{
	width:80px;
}

.toggle-phase div	{
	width:250px;
}

.navbar-brand,
.nav-tab,
.dropdown-menu	{
	border-right:none;
}

.navbar	{
	z-index:3;
}

.navbar-collapse	{
	padding:0px;
}

.navbar-header	{
	width:100%;
}

#report-subtitle h4	{
	margin:6px 0 0 0;
}

.step-1-options a.btn.btn-block	{
	/* 
width:250px;
	max-width:250px;
 */
	margin:0 auto;
	/* 
white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
 */
	white-space:auto !important;
}

a.well-btn	{
	text-decoration:none;
	color:#333;
}

a.well-btn:hover .well	{
	background-color:#eee;
	color:#000;
}

.btn-months label	{
	width:60px;
	text-align:center;
	display:inline;
}

#results	{
	position:relative;
	top:-10px;
}

#results-options .dropdown-menu	{
	top:30px;
}

.dropdown-menu	{
	width:250px;
}

ul.dropdown-menu>li>a, .dropdown-menu>ul>li>a, .hier-menu>ul>li>a	{
	border-bottom:none;
	padding:3px 20px;
}

/* 
#steps	{
	margin: 10px auto 0 auto;
}
 */

.results-parameters	{
	width:140px;
	background-color:#FBA141;
	color:#fff;
	margin:0 0 0 5px;
	/* font-weight:bold; */
}

.panel-group.power-panel-group	{
	margin-bottom:0px;
}

/* 
.power-panel-group	{
	margin-top:10px;
	margin-bottom:0px;
}
 */

.power-panel-group>.panel	{
	border:none;
	box-shadow:none;
	background-color:transparent;
}

.power-panel-group .panel .panel	{
	padding:0px;
	margin-bottom:10px;
}

.power-panel-group .panel-body .panel-body	{
	/* padding:15px; */
	/* margin-bottom:20px; */
	background-color:#fff;
}

.panel-group.power-panel-group .panel+.panel	{
	margin-top:0px;
}

#power-sort-config	{
	margin-bottom:20px;
}

.panel-body-power	{
	/* padding:0 0 20px 0 !important; */
	/* margin-bottom:20px;
	border-bottom:1px solid #ccc;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175); */
	margin:10px 0px;
}

.panel-body-power .well	{	
	max-height:60vh;
	overflow-y:auto;
}

.table>tbody>tr>td	{
	border-top:1px solid f0f0f0;
}

.panel-heading>h4.panel-title	{
	margin:-10px -15px;
}

.panel-collapse > .panel-body	{
	padding:0px;
}

#session-timeout	{
	width:400px;
	margin:100px auto;
	text-align:center;
}

#session-timeout div	{
	background:url(../images/logo_rockport_blue_2x.png) no-repeat;
	background-size:154px 32px;
	width:154px;
	height:32px;
	margin:20px auto;
	text-indent:-9999px;
}

.borderless-td {
    border-top-style: none !important
}

a[ng-click] {
    cursor:pointer;
}
