﻿<div class="section section-documents">
    <div id="transaction-documents"></div>
    <div class="section-header">
        <div class="pull-left">
            Documents
        </div>
        <div class="pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="additionalDisclosure">
        <p class="indent">Additional Disclosure <span class="badge">{{additionalDisclosure}}</span></p>
        <hr />
    </div>
    <div class="row">
        <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18" ng-if="issuanceDocumentsByVersion || issuanceDocumentTriage(issuanceDocuments)">
            <h3>Issuance</h3>
            <p><a ng-click="selectAllIssuance()">Select All</a></p>
            <div ng-repeat="(version,documents) in issuanceDocumentsByVersion">
                <div ng-class="{'document-download-header': !isRemic}" ng-if="showVersionHeader(version,documents)">
                    <div class="checkbox" ng-class="{'doc-checkbox': isRemic}">
                        <label>
                            <input type="checkbox" ng-model="versionChecks[version]" ng-click="selectAllOfVersion(version)"> {{version}}
                        </label>
                    </div>
                </div>
                <div ng-class="{indent: isRemic && version.substring(0,8) != 'Original'}" ng-repeat="document in documents | orderBy: 'DisplayOrder': false">
                    <div class="checkbox doc-checkbox" ng-if="document.GroupName && isRemic && documents.length > 0 && $first">
                        <label>
                            <input type="checkbox" ng-model="document.GroupSelected" ng-change="selectAllOfGroup(version, document.GroupName, document.GroupSelected)"> {{document.GroupName}}
                        </label>
                    </div>
                    <div class="checkbox" ng-class="{'doc-checkbox': isRemic, 'indent': document.GroupName}" ng-if="documents.length > 0">
                        <a ng-click="downloadIssuanceDocument(document.Id)" class="btn btn-xs pull-right"
                           analytics-on
                           analytics-category={{getGAIssuanceCategory(document)}}
                           analytics-event="Download"
                           analytics-label={{GALabel}}>{{document.Format}}<span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                        <label>
                            <input type="checkbox" ng-model="document.Selected" ng-change="setVersionCheck(version, document)"> {{document.ListDisplayName ? document.ListDisplayName : document.TypeName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18 pull-right" ng-if="ongoingMonth || initOngoingMonth(ongoingDocumentDates[0].PublicationDate)">
            <div class="row">
                <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18">
                    <h3>Ongoing</h3>
                </div>
                <div class="col-xs-36 col-sm-18 col-md-18 col-lg-18">
                    <select class="form-control" ng-model="ongoingMonth" ng-change="updateOngoingMonth(ongoingMonth)" ng-options="date.PublicationDate as date.PublicationDate.format('MMMM YYYY') for date in ongoingDocumentDates"></select>
                </div>
            </div>
            <p><a ng-click="selectAllOngoing()">Select All</a></p>
            <div class="checkbox" ng-repeat="document in ongoingDocuments | orderBy: 'TypeName'">
                <a ng-click="downloadOngoingDocument(document.Id)" class="btn btn-xs pull-right"
                   analytics-on
                   analytics-category={{getGAOngoingCategory(document)}}
                   analytics-event="Download"
                   analytics-label={{GALabel}}>{{document.DocumentFormat}} <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                <label>
                    <input type="checkbox" ng-model="document.Selected"> {{document.TypeName}}
                </label>
            </div>
        </div>
    </div>
    <br />
    <a id="selected-documents-download" ng-if="issuanceDocumentsByVersion || ongoingMonth" ng-click="getSelectedDocumentZip()" 
       class="btn btn-lg btn-primary btn-block" download><span class="glyphicon glyphicon-circle-arrow-down"></span> Download Selected Documents (.zip)</a>
</div>