﻿<span>
    <script type="text/ng-template" id="dus-security-history.html">
        <table class='table table-striped table-condensed'>
            <thead>
                <tr>
                    <th>Month</th>
                    <th class='text-right'>{{label == 'Factor' ? label : 'PTR'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="point in history"><td>{{point.CreatedOn.format('MM/YYYY')}}</td><td class='text-right'>{{point.Value | number: (label == 'Factor' ? 8 : 3)}}<span ng-if="label != 'Factor'">%</span></td></tr>
            </tbody>
        </table>
    </script>

    <script type="text/ng-template" id="dus-loan-history.html">
        <table class='table table-striped table-condensed'>
            <thead>
                <tr ng-repeat="point in history"><td>{{point.CreatedOn.format('MMMM')}}</td><td>{{point.Value}}</td></tr>
            </thead>
        </table>
    </script>

    <a ng-click="getHistory()" uib-popover-template="popoverTemplate" popover-placement="{{popoverPlacement}}" popover-trigger="outsideClick"><span class="glyphicon glyphicon-time"></span></a>
</span>