﻿<table class="table table-striped {{classes}}">
    <thead>
        <tr>
            <th ng-repeat="column in headers" ng-class="{'text-right': !$first && !column.left}">{{column.label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in data">
            <td ng-repeat="column in headers" ng-class="{'text-right': !$first && !column.left}">
                <span ng-if="column.format === 'currency'">
                    <dus-currency currency-value="row[column.attribute]" decimals="{{column.decimals ? column.decimals: 0}}"/>
                </span>
                <span ng-if="column.format === 'date'">
                    {{row[column.attribute].format('MM/DD/YYYY')}}&nbsp;
                </span>
                <span ng-if="column.format && column.format !== 'currency' && column.format !== 'date'">
                    <dus-amount-unit amount="filterNumber(row[column.attribute], column.decimals)" unit="{{column.format}}" plural="{{column.plural}}"/>
                </span>
                <span ng-if="!column.format">
                    <span ng-if="!column.action">{{row[column.attribute]}}&nbsp;</span>
                    <a ng-if="column.action" ng-click="column.action(row, column.params)">{{row[column.attribute]}}&nbsp;</a>
                </span>
                <dus-loan-popover ng-if="column.loanPopover && row['SecurityStatusType'] == 'Active'" security-id="row.Id"></dus-loan-popover>
            </td>
        </tr>
    </tbody>
</table>

