<div class="modal-header">
    <a ng-click="modal.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="editWaiverTitle">{{modal.waiver.Id === -1 ? 'Require' : 'Edit'}} Waiver</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <p class="form-label">Requestor</p>
                    <p>
                        <select class="form-control" ng-model="modal.waiver.Requestor" fmda-validate="Requestor" ng-options="modal.getIndex(item) as item for item in modal.WaiverRequestors">
                            <option value="">select</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <div class="form-group">
                    <p class="form-label">Waiver Reason</p>
                    <p>
                        <textarea spellcheck="true" class="form-control" rows="4" ng-model="modal.waiver.Reason" fmda-validate="Reason"></textarea>
                    </p>
                </div>
            </div>
        </div>
    </form>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12 text-left" ng-show="modal.waiver.Id !== -1">
            <button ng-click="modal.deleteWaiver()" class="btn btn-danger" fmda-button>{{modal.deleteRequested ? 'Confirm Delete' : 'Delete Waiver'}}</button>
        </div>
        <div class="col-xs-24 col-sm-24" ng-class="{'col-md-12 col-lg-12': modal.waiver.Id !== -1, 'col-md-24 col-lg-24': modal.waiver.Id === -1}">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.saveWaiver()" class="btn btn-primary" fmda-button>Save</button>
        </div>
    </div>
</div>