<div role="tablist" aria-multiselectable="true">
    <div ng-repeat="loan in loans">
        <div class="panel panel-primary panel-no-box">           
            <fmda-transaction-heading ng-click="getLoan($index)" collapse-target="#disclosure-operations-pool-collapse-pool-loan-{{loan.LoanId}}" 
                                      heading-caption="Loan {{loan.IsClosed ? loan.FannieMaeLoanNumber : loan.LoanId}}"
                                      badge-text="{{loan.PropertyCount}} Propert{{loan.PropertyCount === 1 ? 'y':'ies' }}" />
            <div id="disclosure-operations-pool-collapse-pool-loan-{{loan.LoanId}}" class="panel-collapse panel-closed collapse" role="tabpanel">
                <div class="panel-body"  ng-if="transaction.Status">
                    <div class="row" ng-if="loan.Info">
                        <fmda-field-box heading-caption="Cut-Off Date Balance" content="loan.Info.CutOffDateBalance" filter="currency" md="6" lg="6"></fmda-field-box>
                        <div class="col-xs-24 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default panel-basic">
                                <div class="panel-heading">Interest Rate / Type</div>
                                <div class="panel-body"><p>{{loan.Info.InterestRate | number:4}} <span class="text-muted">{{loan.Info.InterestType}}&nbsp;</span></p></div>
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default panel-basic">
                                <div class="panel-heading">Net Interest Rate</div>
                                <div class="panel-body"><p>{{loan.Info.NetInterestRate | number:4}}&nbsp;</p></div>
                            </div>
                        </div>
                        <fmda-field-box heading-caption="Cut-Off Date LTV" content="loan.Info.CutOffDateLTV" filter="percentage" md="6" lg="6"></fmda-field-box>
                    </div>
                    <div class="row" ng-if="loan.Info">
                        <fmda-field-box heading-caption="First Payment Date" content="loan.Info.FirstPaymentDate.format('MM/DD/YYYY')"></fmda-field-box>
                        <fmda-field-box heading-caption="Maturity Date" content="loan.Info.MaturityDate.format('MM/DD/YYYY')"></fmda-field-box>
                        <fmda-field-box heading-caption="Original Loan Term" content="loan.Info.OriginalLoanTerm+ ' months'"></fmda-field-box>
                        <fmda-field-box heading-caption="IO End Date" content="loan.Info.IOEndDate.format('MM/DD/YYYY')"></fmda-field-box>
                        <fmda-field-box heading-caption="Additional Debt" content="(loan.Info.AdditionalDebt ? 'Yes':'No')"></fmda-field-box>
                        <fmda-field-box heading-caption="UW NCF DSCR - All In" content="loan.Info.UWNCFDSCR" filter="percentage"></fmda-field-box>
                    </div>
                    <div ng-if="loan.Info && loan.Info.PrepaymentProtection.length > 0">
                        <h4>Prepayment Protection</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Prepayment Type</th>
                                        <th class="text-right">Prepayment Term</th>
                                        <th class="text-right">Prepayment End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="type in loan.Info.PrepaymentProtection">
                                        <td>{{type.Type}}</td>
                                        <td class="text-right">{{type.Term}}</td>
                                        <td class="text-right">{{type.EndDate.format('MM/DD/YYYY')}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="well well-sm" ng-if="loan.Info">
                        <h4>Properties</h4>
                        <div class="table-responsive">
                            <table class="table table-striped" >
                                <thead>
                                    <tr>
                                        <th fmda-sort="Name" params="loan.Info.propertySort">Name</th>
                                        <th fmda-sort="Address" params="loan.Info.propertySort">Address</th>
                                        <th fmda-sort="City" params="loan.Info.propertySort">City</th>
                                        <th fmda-sort="State" params="loan.Info.propertySort">State</th>
                                        <th fmda-sort="Zip" params="loan.Info.propertySort">Zip</th>
                                        <th fmda-sort="UWNCF" params="loan.Info.propertySort">UW NCF</th>
                                        <th fmda-sort="PhysicalOccupancy" params="loan.Info.propertySort">Physical Occupancy %</th>
                                        <th fmda-sort="PropertyValue" params="loan.Info.propertySort">Property Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in loan.Info.Properties | orderBy: loan.Info.propertySort.on : loan.Info.propertySort.desc ">
                                        <td>{{p.Name}}</td>
                                        <td>{{p.Address}}</td>
                                        <td>{{p.City}}</td>
                                        <td>{{p.State}}</td>
                                        <td>{{p.Zip}}</td>
                                        <td>{{p.UWNCF| currency}}</td>
                                        <td>{{p.PhysicalOccupancy | percentage}}</td>
                                        <td>{{p.PropertyValue| currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <fmda-footnotes queue="queue" access-obj="accessObj" record="loan.Info" transaction-id="transaction.Id"></fmda-footnotes>
                </div>
                <fmda-footnote-content queue="queue" access-obj="accessObj" record="loan.Info" transaction-id="transaction.Id" ng-if="!transaction.Status"></fmda-footnote-content>
            </div>
        </div>
    </div>
</div>

