<div class="row">
    <div class="col-xs-16 col-sm-16 col-md-20 col-lg-20">
        <h1>System: <span class="text-primary">Users</span></h1>
    </div>
</div>
<div role="tabpanel" ng-if="users.loaded">
    <div class="row">
        <div class="col-xs-16 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a ui-sref="users" aria-controls="Active" role="tab">Active<span class="hidden-xs"> ({{users.data.all.length}})</span></a>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-link" ng-click="users.refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="users.data.all" output="users.data.filtered" on="LastName,FirstName,Email,RoleString,LastAccess"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
            <div class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="well" ng-if="users.data.all.length === 0">
                        No users have accessed the system
                    </div>
                    <div class="well" ng-if="users.data.filtered.length === 0 && users.data.all.length > 0">
                        No user matches your filter criteria.
                    </div>
                    <div class="table-responsive" ng-if="users.data.filtered.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th fmda-sort="LastName" params="users.sort" array-to-sort="users.data.filtered" sorted="users.data.sorted">Last Name</th>
                                    <th fmda-sort="FirstName" params="users.sort" array-to-sort="users.data.filtered" sorted="users.data.sorted">First Name</th>
                                    <th fmda-sort="Email" params="users.sort" array-to-sort="users.data.filtered" sorted="users.data.sorted">Email</th>
                                    <th fmda-sort="RoleString" params="users.sort" array-to-sort="users.data.filtered" sorted="users.data.sorted">Role(s)</th>
                                    <th fmda-sort="LastAccess" params="users.sort" array-to-sort="users.data.filtered" sorted="users.data.sorted">Last Access</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users.data.paged">
                                    <td>{{user.LastName}}</td>
                                    <td>{{user.FirstName}}</td>
                                    <td>{{user.Email}}</td>
                                    <td ng-bind-html="user.RoleString"></td>
                                    <td>{{user.LastAccess | date:'MM/dd/yyyy @ h:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="users.data.sorted" paged-data="users.data.paged" page-size="20"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
