﻿<div class="row">
    <div class="col-xs-24 col-sm-16 col-md-20 col-lg-20">
        <h1>System: <span class="text-primary">Data Transfers</span></h1>
    </div>
    <div class="col-cs-24 col-sm-8 col-md-4 col-lg-4 text-right">
    </div>
</div>
<div role="tabpanel" ng-if="datatrans.loaded">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18 col-lg-18">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: datatrans.activeTab.id === tab.id}" ng-repeat="tab in datatrans.tabs">
                    <a ui-sref="datatransfers({tabid: tab.id})" ui-sref-opts="({notify: false})" ng-click="datatrans.setActiveTab(tab)" aria-controls="{{tab.caption}}" role="tab">{{tab.caption}}<span ng-if="tab.id !== 2" class="hidden-xs"> ({{tab.data.all.length}})</span></a>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-link" ng-click="datatrans.load()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
            <div class="pull-right">
                <fmda-filter input="datatrans.activeTab.data.all" output="datatrans.activeTab.data.filtered" on="Id,Type,TransferName,FileName,InitiatedBy,DateTimeCreated,CurrentStatus" ng-hide="datatrans.activeTab.id === 2"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" ng-class="{active: datatrans.activeTab.id === tab.id}" ng-repeat="tab in datatrans.tabs">
            <div ng-if="tab.id !== 2" class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="table-responsive">
                        <div class="well" ng-if="tab.data.filtered.length === 0">
                            There are currently no {{tab.caption}} Data Transfers
                        </div>
                        <div class="table-responsive" ng-show="tab.data.filtered.length > 0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th fmda-sort="Id" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Job</th>
                                        <th fmda-sort="Type" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Type</th>
                                        <th fmda-sort="TransferName" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Transfer Name</th>
                                        <th fmda-sort="FileName" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">File</th>
                                        <th fmda-sort="DateTimeStarted" ng-if="datatrans.activeTab.id === 0" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Initiated</th>
                                        <th fmda-sort="DateTimeEnded" ng-if="datatrans.activeTab.id === 1" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Completed</th>
                                        <th fmda-sort="CurrentStatus" params="tab.sort" array-to-sort="tab.data.filtered" sorted="tab.data.sorted">Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in tab.data.paged">
                                        <td ng-if="item.Status !== 0"><a ng-click="datatrans.showJobDetail(item)">{{item.Id}}</a></td>
                                        <td ng-if="item.Status === 0">{{item.Id}}</td>
                                        <td>{{item.TypeStr}}</td>
                                        <td>{{item.TransferName}}</td>
                                        <td><a href="service/datatransfer/download/{{item.Id}}" download>{{item.FileName}}</a></td>
                                        <td ng-if="datatrans.activeTab.id === 0">{{item.DateTimeStarted | date:'MM/dd/yyyy h:mm a'}}</td>
                                        <td ng-if="datatrans.activeTab.id === 1">{{item.DateTimeEnded | date:'MM/dd/yyyy h:mm a'}}</td>
                                        <td>{{item.CurrentStatus}}</td>
                                        <td class="text-right">
                                            <button class="btn btn-xs btn-danger" ng-if="(item.Status === 0 || item.Status === 2) && datatrans.accessObj.hasEditAccess" ng-click="datatrans.cancel(item)"><span class="glyphicon glyphicon-remove"></span><span class="hidden-xs hidden-sm"> Cancel</span></button>
                                            <button class="btn btn-xs btn-primary" ng-if="datatrans.accessObj.hasEditAccess" ng-click="datatrans.retry(item)" ng-style="{'visibility': item.Status === 3 || item.Status === 6 ? 'visible' : 'hidden'}"><span class="glyphicon glyphicon-refresh"></span><span class="hidden-xs hidden-sm">  Retry</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                            <fmda-pager items-to-page="tab.data.sorted" paged-data="tab.data.paged" page-size="15" display-show-all="false"></fmda-pager>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="(tab.id == 2) && datatrans.accessObj.hasCreateAccess" class="row">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="well">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2">Type:</label>
                                <div class="col-sm-10">
                                    <select ng-options="transferDef.Code as transferDef.Name for transferDef in datatrans.transferDefinitions"
                                            class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-model="datatrans.code">
                                        <option value="" selected>Select a definition type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Select a File:</label>
                                <div class="col-sm-10">
                                    <input type="file" id="filename" accept=".xml" name="ImportFile">
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn" ng-click="datatrans.uploadFile()">Submit</button>
                    <span ng-class="{'text-danger':datatrans.errorMsg}" ng-if="datatrans.errorMsg">{{datatrans.errorMsg}}</span>
                    <span ng-class="{'text-success':datatrans.sucessMsg}" ng-if="datatrans.sucessMsg">{{datatrans.sucessMsg}}</span>
                </div>
                
            </div>
        </div>
    </div>
</div>