<div class="modal-header">
    <a ng-click="modal.cancel()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="returnToHoldTitle">Return to Hold</h4>
</div>
<div class="loader-modal"></div>
<div class="modal-body">
    <p>Complete the form below and click 'Return to Hold' to return {{modal.poolId}} to hold.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="form-label">Hold Type</p>
            <p>
                <select ng-model="modal.holdReturn.HoldType" fmda-validate="HoldType" class="form-control" fmda-convert-to="int">
                    <option value="">select</option>
                    <option value="1">Disclosure Operations</option>
                    <option value="2">Additional Disclosure</option>
                    <option value="3">Specialized Transactions</option>
                </select>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="form-label">Comments</p>
            <p><textarea ng-model="modal.holdReturn.Comments" spellcheck="true" class="form-control" rows="4" fmda-validate="Comments"></textarea></p>
        </div>
    </div>
    <fmda-modal-error></fmda-modal-error>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <button ng-click="modal.cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="modal.returnToHold()" class="btn btn-primary" name="returnToHoldConfirm" fmda-button>Return to Hold</button>
        </div>
    </div>
</div>