<div class="panel panel-default">
    <fmda-transaction-heading collapse-target="#disclosure-operations-pool-{{transaction.TransactionId}}-collapse-internal-comments" heading-caption="Internal Comments" badge-text="{{transaction.Comments.length}}" />
    <div id="disclosure-operations-pool-{{transaction.TransactionId}}-collapse-internal-comments" ng-if="transaction.Comments" class="panel-collapse panel-closed collapse" role="tabpanel">
        <div class="panel-body" ng-if="transaction.Comments.length > 0">
            <p ng-if="accessObj.hasEditAccess">
            <button class="btn btn-xs btn-success" ng-click="addInternalComment()">
                <span class="glyphicon glyphicon-plus"></span> New Internal Comment</button></p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th fmda-sort="Comment" params="commentSort">Comment</th>
                            <th fmda-sort="CreatedBy" params="commentSort">By</th>
                            <th fmda-sort="CreatedOn" params="commentSort">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ic in transaction.Comments | orderBy: commentSort.on:commentSort.desc">
                            <td>{{ic.Comment}}</td>
                            <td>{{ic.CreatedBy}}</td>
                            <td>{{ic.CreatedOn.format('MM/DD/YYYY h:mm A')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-body" ng-if="transaction.Comments.length == 0">
            <p>
                No comments have been created. <a ng-if="accessObj.hasEditAccess" ng-click="addInternalComment()">Add a comment.</a>
            </p>
        </div>
    </div>
</div>