<div class="form-group">
    <p class="form-label">Apply Filter(s)</p>
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <p>
                <label class="radio-inline">
                    <input type="radio" class="rt-applyfilter-radioBtn" ng-model="ctrl.regularFilter.FilterMetadataId" value="0" ng-disabled="ctrl.inputDisabled" ng-change="ctrl.setFilterList(null)"> Criteria
                </label>
                <label ng-repeat="f in ctrl.filtersMetadata" class="radio-inline">
                    <input type="radio" class="rt-applyfilter-radioBtn" ng-model="ctrl.regularFilter.FilterMetadataId" value="{{f.Id}}" ng-disabled="ctrl.inputDisabled" ng-change="ctrl.setFilterList($index)"> {{f.Caption}}(s)
                </label>
            </p>
        </div>
        <div ng-show="ctrl.regularFilter.FilterMetadataId <= 0">
            <div ng-repeat="c in ctrl.criteriaFilters">
                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24" ng-show="!$first">
                    <p style="margin-top: 5px;">and</p>
                </div>
                <div class="criteria-list">

                    <div>
                        <div class="row" fmda-validate="{{ctrl.validateFilters + c.FilterMetadataId}}">
                            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">

                                <div class="col-xs-24 col-sm-24 col-md-8 col-lg-8">
                                   
                                        <select class="form-control rt-criteria-index" ng-model="c.CriteriaIndex" ng-options="o.Index as o.Caption disable when ctrl.isCriterionDisabled(o,c) for o in ctrl.criteriaMetadata" ng-change="ctrl.selectFilter(c)" ng-disabled="ctrl.inputDisabled">
                                            <option value="">select</option>
                                        </select>
                                   
                                </div>

                                <div class="col-xs-20 col-sm-20 col-md-15 col-lg-15" ng-if="ctrl.criteriaMetadata[c.CriteriaIndex].InputType === ctrl.inputType.Dropdown">
                                    <p>
                                        <ui-select multiple class="form-control rt-criteria-metadata" ng-model="c.valueArray" on-select="ctrl.joinValueArray(c)" on-remove="ctrl.joinValueArray(c)" ng-disabled="ctrl.inputDisabled" close-on-select="false" sortable="true">
                                            <ui-select-match placeholder="{{ctrl.criteriaMetadata[c.CriteriaIndex].Options.length > 0 ? 'Select': 'No options available'}}">{{$item.Name}}</ui-select-match>
                                            <ui-select-choices repeat="o.Name as o in ctrl.criteriaMetadata[c.CriteriaIndex].Options | filter: {Name: $select.search}">
                                                {{o.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </p>
                                </div>
                                <div class="col-xs-20 col-sm-20 col-md-15 col-lg-15" ng-if="ctrl.criteriaMetadata[c.CriteriaIndex].InputType === ctrl.inputType.Text">
                                    <p style="margin: 0;"><input class="form-control" type="text" ng-model="c.Value" ng-disabled="ctrl.inputDisabled" /><small class="text-muted" style="position:absolute;">(use a comma separator for multiple)</small></p>
                                </div>
                                <div ng-if="ctrl.criteriaMetadata[c.CriteriaIndex].InputType === ctrl.inputType.Date">
                                    <div class="col-xs-9 col-sm-9 col-md-7 col-lg-7">
                                        <div class="input-group">
                                            <fmda-datepicker ng-model="ctrl.startDate" ng-change="ctrl.setDateValue(c)" is-disabled="ctrl.inputDisabled" disabled-date-buttons="ctrl.startDisabled"></fmda-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                                        <span class="padded-text pull-left" style="padding-right:0;padding-left:0;">to</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-9 col-md-7 col-lg-7">
                                        <div class="input-group">
                                            <fmda-datepicker ng-model="ctrl.endDate" ng-change="ctrl.setDateValue(c)" is-disabled="ctrl.inputDisabled" disabled-date-buttons="ctrl.endDisabled"></fmda-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-right:0;padding-left:0;">
                                    <span class="padded-text pull-left" style="padding-right:0;padding-left:0;">
                                        <a style="cursor:pointer;" ng-click="ctrl.removeCriterion($index)" ng-if="!ctrl.inputDisabled && ctrl.criteriaFilters.length > 1"><span class="glyphicon glyphicon-remove"></span></a>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <p>
                    <button style="margin-top: 10px;" class="btn btn-success btn-sm" ng-click="ctrl.addCriterion()" ng-if="!ctrl.inputDisabled && ctrl.criteriaFilters.length != ctrl.criteriaMetadata.length"><span class="glyphicon glyphicon-plus"></span> Add Criteria</button>
                </p>
            </div>
        </div>

        <div ng-show="ctrl.regularFilter.FilterMetadataId != 0">
            <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <p>
                    <textarea ng-model="ctrl.regularFilter.Value" spellcheck="true" class="form-control rt-regularfilter-input" rows="3" ng-readonly="ctrl.inputDisabled" fmda-validate="{{ctrl.validateFilters + ctrl.regularFilter.FilterMetadataId}}"></textarea>
                </p>
                <p class="small">Enter one {{ctrl.filterCaption}} per line or comma-separated.</p>
            </div>
        </div>
    </div>
</div>