<p class="input-group" style="margin-bottom:0">
    <input type="text" class="form-control rt-calendar-input" datepicker-options="options" popup-placement="right" uib-datepicker-popup="M/dd/yyyy" alt-input-formats="manualDateFormats" ng-model="date" is-open="opened" close-text="Close" ng-change="changeFunction" ng-readonly="disabledInput" placeholder="mm/dd/yyyy" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="opened = true;" ng-disabled="disabledInput"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>

