﻿<li id="navbar-link-login" class="dropdown" uib-dropdown on-toggle="modal.toggled(open, logInForm)">
    <a class="dropdown-toggle expand" uib-dropdown-toggle role="button"><span class="glyphicon glyphicon-chevron-up text-primary"></span> Login</a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-login" uib-dropdown-menu>
        <form name="logInForm" novalidate>
            <div class="padding-container" ng-init="modal.initForm(logInForm)">
                <div>
                    <p>
                        <span>
                            <input class="form-control" type="text" placeholder="Email" 
                                   ng-model="modal.loginData.EmailAddress" 
                                   ng-keypress="modal.pressedEnter($event, logInForm)" 
                                   dus-validate="EmailAddress" 
                                   maxlength="100" autocomplete="off"/>
                        </span>
                    </p>
                </div>
                <div>
                    <p>
                        <span>
                            <input class="form-control" type="password" placeholder="Password"
                                   ng-model="modal.loginData.Password" dus-validate="Password"
                                   ng-keypress="modal.pressedEnter($event, logInForm)"
                                   maxlength="15" autocomplete="off" />
                        </span>
                    </p>
                </div>
                <div ng-if="logInForm.$state.invalid()" class="alert alert-danger">
                    <ng-messages for="logInForm.$state.error" role="alert">
                        <ng-message when="ACCOUNT_LOGIN_FAILED">Email and/or password credentials are incorrect. Please try again.</ng-message>
                        <ng-message when="EMAIL_ADDRESS_ISNOT_REGISTERED">Email and/or password credentials are incorrect. Please try again.</ng-message>
                        <ng-message when="ACCOUNT_IS_LOCKED">Your account has been locked due to too many failed attempts. Please click 'I forgot my password' below to reset your password and unlock your account.</ng-message>
                        <ng-message when="ACCOUNT_ISNOT_ACTIVATED">Email and/or password credentials are incorrect. Please try again.</ng-message>
                    </ng-messages>
                </div>
                <p><a ng-click="modal.resetPassword()">I forgot my password</a></p>
            </div>
            <div id="login-button-home">
                <button class="btn btn-primary login-button btn-block" style="text-align:right;" ng-click="modal.logIn(logInForm)" dus-button>Login <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </form>
    </div>
</li>