﻿<div class="section section-loan">
    <div class="section-header no-margin">
        <div class="pull-left">
            Loan {{loan.Identifier}}
        </div>
        <div class="pull-right">
            <dus-detail-button record-type="Loan" record-id="loan.Id" record-name="loan.Identifier" />
        </div>
        <div class="clearfix"></div>
    </div>
    <dus-loan-summary loan="loan" ng-if="loan"/>

    <div class="spacer"></div>
    <dus-timeline timeline-labels="timelineLabels" transaction="loan" timeline-type="Loan"></dus-timeline>

    <div class="row">
        <div class="col-xs-36 col-sm-36 col-md-24 col-lg-24">
            <dus-panel panel-title="loanTermsTitle" panel-data-list="loanTermsFields"></dus-panel>
            <div ng-if="!isCreditFacility">
                <div class="row">
                    <div class="col-xs-36 col-sm-36 col-md-36 col-lg-36">
                        <dus-panel panel-title="atIssuanceTitle" panel-data-list="atIssuanceFields"></dus-panel>
                    </div>
                </div>
                <div class="callout callout-default" ng-if="loan.DSCRMessage">
                    <div>Issuance DSCR</div>
                    <div class="label-value">
                        <span><dus-amount-unit amount="loan.DSCRMessage | number: 2" unit="x"/></span>
                    </div>
                </div>
                <dus-panel panel-title="DSCRTitle" panel-data-list="DSCRFields"></dus-panel>
            </div>
        </div>
        <div class="col-xs-36 col-sm-36 col-md-12 col-lg-12">
            <div class="panel panel-default no-border">
                <div class="panel-body">
                    <h5>Prepayment Protection</h5>
                    <div class="table-responsive">
                        <dus-table data="loan.PrepaymentList" headers="prepaymentHeaders"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <dus-properties properties="loan.properties" />

</div>