﻿<div class="col-xs-17 col-sm-17 col-md-17 col-lg-17">
    <div class="input-group addon-right">

        <input type="text" class="form-control"
               uib-datepicker-popup="{{datePicker.format}}" ng-click="datePicker.open()"
               alt-input-formats="datePicker.altInputFormats"
               ng-model="datePicker.date" is-open="datePicker.opened"
               datepicker-options="datePicker.dateOptions" ng-required="true"
               ng-readonly="datePicker.disable"
               close-text="Close" />

        <span class="input-group-addon" ng-click="datePicker.open()">
            <span class="glyphicon glyphicon-calendar" ></span>
        </span>

    </div>
</div>